<h3>{{document.documentMasterId}}-{{document.version}}</h3>
<div class="tabs">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-document-general" data-toggle="tab">{{i18n.GENERAL}}</a></li>
        <li class=""><a href="#tab-document-iteration" data-toggle="tab">{{i18n.ITERATION}}</a></li>
        <li class=""><a href="#tab-document-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
        <li class=""><a href="#tab-document-files" data-toggle="tab">{{i18n.FILES}}</a></li>
        <li class=""><a href="#tab-document-links" data-toggle="tab">{{i18n.LINKS}}</a></li>
    </ul>

    <div class="tab-content form-horizontal">
        <div id="tab-document-general" class="tab-pane active">

            <table class="table table-striped table-condensed">
                <tbody>
                <tr>
                    <th scope="row">{{i18n.CREATION_DATE}}</th>
                    <td>{{document.creationDate}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.TYPE}}</th>
                    <td>{{document.type}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.TITLE}}</th>
                    <td>{{document.title}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.AUTHOR}}</th>
                    <td>{{document.author.name}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.LIFECYCLE_STATE}}</th>
                    <td>{{document.lifeCycleState}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.DESCRIPTION}}</th>
                    <td>{{document.description}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.TAGS}}</th>
                    <td>{{document.tags}}</td>
                </tr>
                {{#document.releaseAuthor}}
                <tr>
                    <th scope="row">{{i18n.RELEASED_BY}}</th>
                    <td>{{document.releaseAuthor.name}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.RELEASE_DATE}}</th>
                    <td>{{document.releaseDate}}</td>
                </tr>
                {{/document.releaseAuthor}}
                {{#document.obsoleteAuthor}}
                <tr>
                    <th scope="row">{{i18n.OBSOLETE_AUTHOR}}</th>
                    <td>{{document.obsoleteAuthor.name}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.OBSOLETE_DATE}}</th>
                    <td>{{document.obsoleteDate}}</td>
                </tr>
                {{/document.obsoleteAuthor}}
                </tbody>
            </table>

        </div>

        <div id="tab-document-iteration" class="tab-pane">
            <table class="table table-striped table-condensed">
                <tbody>
                <tr>
                    <th scope="row">{{i18n.ITERATION}}</th>
                    <td>{{lastIteration.iteration}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.REVISION_NOTE}}</th>
                    <td>{{lastIteration.revisionNote}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.REVISION_DATE}}</th>
                    <td>
                    {{#document.checkOutUser}}
                        {{lastIteration.creationDate}}
                    {{/document.checkOutUser}}
                    {{^document.checkOutUser}}
                        {{lastIteration.checkInDate}}
                    {{/document.checkOutUser}}
                    </td>


                </tr>
                <tr>
                    <th scope="row">{{i18n.MODIFICATION_DATE}}</th>
                    <td>{{lastIteration.modificationDate}}</td>
                </tr>
                <tr>
                    <th scope="row">{{i18n.AUTHOR}}</th>
                    <td>{{lastIteration.author.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="tab-document-attributes" class="tab-pane">
            {{#lastIteration.instanceAttributes.length}}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>{{i18n.NAME}}</th>
                    <th>{{i18n.VALUE}}</th>
                </tr>
                </thead>
                <tbody>
                    {{#lastIteration.instanceAttributes}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {{/lastIteration.instanceAttributes}}
                </tbody>
            </table>
            {{/lastIteration.instanceAttributes.length}}
        </div>

        <div id="tab-document-files" class="tab-pane">
            <div id="files" class="accordion"></div>
        </div>

        <div id="tab-document-links" class="tab-pane">
            <div id="document-links">
                <ul>
                    {{#lastIteration.linkedDocuments}}
                    <li>
                        <a href="{{contextPath}}/documents/#{{workspaceId}}/{{documentMasterId}}/{{version}}">{{documentMasterId}}-{{version}}</a>
                    </li>
                    {{/lastIteration.linkedDocuments}}
                </ul>
            </div>
        </div>
    </div>

</div>

<a href="{{contextPath}}/document-management/#{{document.workspaceId}}/folders{{#document.encodedRoutePath}}/{{document.encodedRoutePath}}{{/document.encodedRoutePath}}">{{i18n.SEE_IN_DOCUMENT_MANAGEMENT}}</a>
