<md-progress-linear ng-if="file.busy" mode="determinate" ng-value="file.progress"></md-progress-linear>

<div class="row" ng-if="!file.notSync && !file.busy && !file.part.isReleased">
    <md-checkbox ng-model="options.force" aria-label="">
        {{'FORCE'|translate}}
    </md-checkbox>
    <md-checkbox ng-model="options.recursive" aria-label="">
        {{'RECURSIVE'|translate}}
    </md-checkbox>
</div>

<div class="md-actions" ng-if="!file.notSync && !file.busy">
    <md-button ng-if="!file.part.isReleased && !file.part.checkoutUser" aria-label="" ng-click="checkout()"
               class="md-raised md-primary">
        {{'CHECKOUT' | translate}}
    </md-button>
    <md-button ng-if="file.part.checkoutUser === configuration.user" aria-label="" ng-click="checkin()"
               class="md-raised md-primary">
        {{'CHECKIN' | translate}}
    </md-button>
    <md-button ng-if="file.part.checkoutUser === configuration.user" aria-label="" ng-click="undoCheckout()"
               class="md-raised md-primary">
        {{'UNDO_CHECKOUT' | translate}}
    </md-button>
    <md-button ng-if="file.part.checkoutUser === configuration.user" aria-label="" ng-click="put()" class="md-raised md-primary">
        {{'PUT' | translate}}
    </md-button>
</div>



<div class="md-actions md-padding" ng-if="file.notSync && !file.busy" layout="horizontal">

    <form name="creationForm" ng-submit="creationForm.$valid && createPart()">
        <div class="row">{{'CREATE_PART'|translate}}</div>
        <div class="row">
            <md-text-float label="{{'PART_NUMBER' | translate}}" ng-model="newPart.partNumber"
                           required="true"></md-text-float>
            <md-text-float label="{{'PART_NAME' | translate}}" ng-model="newPart.name"></md-text-float>
        </div>
        <div class="row">
            <md-text-float label="{{'PART_DESCRIPTION' | translate}}" ng-model="newPart.description"></md-text-float>

            <md-checkbox ng-model="newPart.standard" aria-label="">
                {{'STANDARD'|translate}}
            </md-checkbox>
        </div>
        <div class="row">
            <label class="label-margin">{{'WORKSPACE' | translate}}</label>
            <i class="fa fa-globe"></i>
            <select ng-model="folder.path">
                <option ng-repeat="workspace in workspaces" value="{{workspace}}">
                    {{workspace}}
                </option>
            </select>
        </div>
        <div class="row">

            <md-button aria-label="" class="md-raised md-primary">
                {{'SAVE'|translate}}
            </md-button>
        </div>
    </form>

</div>
