<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
        <md-button aria-label="" ng-click="openMenu()" hide-md>   <i class="fa fa-bars"></i>          
        </md-button>
          
        <md-button aria-label="" ng-click="reveal()">
          {{ folder.path | fileshortname }}
        </md-button>

        </h3>
    </div>
</md-toolbar>

<div class="row list-header" layout="horizontal">
  <div flex>
    <md-text-float style="margin: 0 18px;" label="{{'SEARCH' | translate}} ({{count}} {{'ITEMS' | translate}})" ng-model="search" type="text"></md-text-float>
  </div>
  <div style="padding-right:8px;">
    <md-checkbox ng-model="filters.released" aria-label="">
      <i class="fa fa-check"></i>
    </md-checkbox>
    <md-checkbox ng-model="filters.checkoutable" aria-label="">
      <i class="fa fa-eye"></i>
    </md-checkbox>
    <md-checkbox ng-model="filters.checkouted" aria-label="">
      <i class="fa fa-lock"></i>
    </md-checkbox>
    <md-checkbox ng-model="filters.checkoutedByMe" aria-label="">
      <i class="fa fa-pencil"></i>
    </md-checkbox>
  </div>    
</div>
<div on-scroll-end="onScrollEnd()" class="fullscreen-wrapper offset-toolbar" >
<md-content class="md-padding">  
    <md-list>
      <md-item ng-repeat="file in files">
        <md-item-content 
        ng-controller="FileController" layout-align="start start">
          <div class="md-tile-left" align="center" ng-if="loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <div class="md-tile-left" align="center" ng-if="!loading">
              <i class="fa fa-check fa-lg" ng-show="file.part.isReleased"></i>
              <i class="fa fa-eye fa-lg" ng-show="!file.part.isReleased 
              && !file.part.checkoutUser && !file.notSync"></i>
              <i class="fa fa-pencil fa-lg" ng-show="file.part.checkoutUser === configuration.user"></i>
               <i class="fa fa-lock" ng-show="file.part.checkoutUser && file.part.checkoutUser !== configuration.user"></i>
               <i class="fa fa-plus" ng-show="file.notSync"></i>
          </div>
       
          <div class="md-tile-content">
          
             <div class="cursor"  ng-click="toggleOpenedFile(file)">
                <i style="float:right" class="fa" ng-class="{'fa-angle-down': file != openedFile, 'fa-angle-up': file === openedFile}"></i> 
                <h3>
                  {{file.path | fileshortname}} 
                  <small ng-if="file.part.partNumber">
                    {{file.part.partNumber}}-{{file.part.version}}-{{file.part.iterations | last}}
                  </small>
                </h3>
                <h4 ng-show="file.part.checkoutUser">
                  {{'CHECKOUT_BY'}} {{file.part.checkoutUser}} {{file.part.checkoutDate | timeago}}
                </h4>
                <h4 ng-show="file.part.lastModified">
                  {{'LAST_ACTION'}} {{file.part.lastModified | timeago}}
                </h4><h4 ng-show="file.mtime">
                  {{'LAST_MODIFIED'}} {{file.mtime | timeago}}
                </h4>
            </div>

            <div>
              <file-actions class="slide-down" ng-if="file === openedFile"></part-file>
            </div>

          </div>        

        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
</md-content>
</div>