<div class="error-div"></div>
<div class="path-to-path-link-content">
    {{#canSuppress}}
    <button type="button" class="close delete-item">×</button>
    {{/canSuppress}}
    <strong class="path-to-path-link">{{type}}</strong> :  {{#description}} {{.}} {{/description}}
    <div class="link-source"><strong>{{i18n.PATH_TO_PATH_SOURCE}}</strong> :
        {{#sourceComponents}}
        {{name}} < {{number}} > {{#referenceDescription}}({{.}}){{/referenceDescription}}
        <i class="fa fa-long-arrow-right"></i>
        {{/sourceComponents}}
    </div>

    <div class="link-target"><strong>{{i18n.PATH_TO_PATH_TARGET}}</strong> :
        {{#targetComponents}}
        {{name}} < {{number}} > {{#referenceDescription}}({{.}}){{/referenceDescription}}
        <i class="fa fa-long-arrow-right"></i>
        {{/targetComponents}}
    </div>
</div>

