@import "../bootstrap/bootstrap";
@import "../bootstrap/tables";
@import "../common/variables";

body{
  background-color: #e2e7ef;
}
#page{
  margin: 0 auto;
  padding-top:41px;
  width: 80%;
}
#content{
  margin: 0 auto 20px auto;
  padding:9px;
  background: white;
  min-height:150px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0px 3px #9b9b9b;
  -moz-box-shadow: 0 0px 3px #9b9b9b;
  box-shadow: 0 0px 3px #9b9b9b;
}
#brand-logo {
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.accordion-heading {
  position: relative;
  a.download{
    position: absolute;
    left:8px;
    top:8px;
  }
  a.external-download{
    position: absolute;
    left:26px;
    top:8px;
  }
  .accordion-toggle {
    padding: 8px 42px;
  }
}
