    <!-- build:js assets/scripts/main.js -->
    <script src="{{ site.url }}bower_components/jquery/jquery.js"></script>
    <script src="{{ site.url }}assets/scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js assets/scripts/vendor/bootstrap.js -->
    <script src="{{ site.url }}bower_components/bootstrap/js/affix.js"></script>
    <script src="{{ site.url }}bower_components/bootstrap/js/alert.js"></script>
    <script src="{{ site.url }}bower_components/bootstrap/js/dropdown.js"></script>
    <!-- endbuild -->

<hr />
</body>
</html>