
<ul class="nav well">

        <li><a href="{{ site.baseurl_root }}fr">{% t global.french %}</a></li>
        <li><a href="{{ site.baseurl_root }}">{% t global.english %}</a></li>


    {% if site.lang == site.defaultlanguage %}
        
        <li class="nav-header">Links</li>
        {% for page in site.pages %}
            <li><a href="{{ site.url }}{{ page.url}}">{{ page.title }}</a></li>
        {% endfor %}

    {% else  %}
    
        <li class="nav-header">Liens</li>
        {% for page in site.pages %}
            <li><a href="{{ site.url }}{{ site.lang }}{{ page.url}}">{{ page.title }}</a></li>
        {% endfor %}

    {% endif %}

   </ul>


