<div class="attribute-edit" data-attribute-cid="{{cid}}" data-attribute-id="{{id}}">

    {{^isSelected}}
    <select class="type">
        <option value="TEXT" {{#isText}}selected="selected"{{/isText}}>{{i18n.TEXT}}</option>
        <option value="BOOLEAN" {{#isBoolean}}selected="selected"{{/isBoolean}}>{{i18n.BOOLEAN}}</option>
        <option value="DATE" {{#isDate}}selected="selected"{{/isDate}}>{{i18n.DATE}}</option>
        <option value="NUMBER" {{#isNumber}}selected="selected"{{/isNumber}}>{{i18n.NUMBER}}</option>
        <option value="URL" {{#isUrl}}selected="selected"{{/isUrl}}>{{i18nURL}}</option>
    </select>

    {{! setting the name}}
    <input type="text" class="input-xlarge attribute-name" placeholder="{{i18n.NAME}}" value="{{name}}" required/>

    {{! setting the values : one different box for each type}}
    {{#isText}}
    <input type="text" class="input-xlarge attribute-value" placeholder="{{i18n.VALUE}}" value="{{value}}" required/>
    {{/isText}}

    {{#isBoolean}}
    <input type="checkbox" class="input-xlarge attribute-value boolean" {{#value}}checked="checked" {{/value}} />
    {{^value}}<span >({{i18n.FALSE}})</span>{{/value}}
    {{#value}}<span >({{i18n.TRUE}})</span>{{/value}}
    {{/isBoolean}}

    {{#isDate}}
    <input type="date" class="input-xlarge attribute-value" pattern="{{i18n._VALIDATION_PATTERN_DATE}}" placeholder="{{i18n.VALUE}}" value="{{value}}" required />
    {{/isDate}}

    {{#isNumber}}
    <input type="text" class="input-xlarge attribute-value" pattern="{{i18n._VALIDATION_PATTERN_NUMBER}}" placeholder="{{i18n.VALUE}}" value="{{value}}" required />
    {{/isNumber}}

    {{#isUrl}}
    <input type="url" class="input-xlarge attribute-value" placeholder="{{i18n.VALUE}}" value="{{value}}" required />
    {{/isUrl}}

    {{/isSelected}}

    {{#isSelected}}
    <div class="stroke">
    <div class="type">{{typeText}}</div>
    <div class="attribute-name">{{name}}</div>
    <div class="attribute-value">{{value}}</div>
    </div>
    {{/isSelected}}

</div>
