<span class="ConfigSpecSelector-title">{{i18n.CONFIG_SPEC}}</span>
<select id="config_spec_type_selector_list" class="ConfigSpecSelector-list">
    <option value="latest" selected="">{{i18n.LATEST_SHORT}}</option>
</select>
<select id="latest_selector_list" class="ConfigSpecSelector-list">
    <option value="latest">{{i18n.HEAD_CHECKIN}}</option>
    <option value="wip">{{i18n.HEAD_WIP}}</option>
</select>
<select id="baseline_selector_list" class="ConfigSpecSelector-list">
    <option disabled>{{i18n.BASELINE}}</option>
</select>
<select id="product_instance1_selector_list" class="ConfigSpecSelector-list">
    <option disabled>{{i18n.SERIAL_NUMBER}}</option>
</select>
