<div class="nav-header">{{i18n.TRANSFORM_CONTROLS}}</div>

<div class="btn-group" data-toggle="buttons-radio" id="transform_mode_view_btn">
    <button class="btn btn-custom" id="translate" title="{{i18n.MOVE}} (z)"><i class="fa fa-arrows"></i></button>
    <button class="btn btn-custom" id="rotate" title="{{i18n.ROTATE}} (e)"><i class="fa fa-repeat"></i></button>
    <button class="btn btn-custom" id="scale" title="{{i18n.SCALE}} (r)"><i class="fa fa-expand"></i></button>
</div>

<button class="btn btn-custom" id="cancel_transformation" title="{{i18n.REPLACE}}"><i class="fa fa-magic"></i></button>