<td><input type="checkbox"/></td>
<td class="reference">{{getId}}</td>
<td>{{getPartType}}</td>
<td>{{getMask}}</td>
<td><a class="author-popover">{{getAuthorName}}</a></td>
<td><a class="date-popover">{{getFormattedCreationDate}}</a></td>
<td><a class="date-popover">{{getFormattedModificationDate}}</a></td>
<td class="template-acl-info">
    {{#isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/isReadOnly}}
    {{#isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/isFullAccess}}
</td>
<td class="part-attached-files">
    {{#hasAttachedFiles}}
    <i class="fa fa-paperclip" title="{{i18n.ATTACHED_FILES}}"></i>
    {{/hasAttachedFiles}}
</td>
