.slide-down {
  display: block;
  border-top:1px solid #eee;
  transform:scale(1,1);
}

.slide-down.ng-enter, .slide-down.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide-down.ng-enter,
.slide-down.ng-leave.ng-leave-active {
  opacity:0;
  transform:scale(1,0);
}

.slide-down.ng-leave,
.slide-down.ng-enter.ng-enter-active {
  opacity:1;
  transform:scale(1,1);
}
