/*
.md-tile-content h3, .md-tile-content h4{
	cursor: pointer;
}
.md-tile-content.small{
	padding: 6px;
}
.md-tile-left{
	margin-right: 0;
}
.md-tile-left.md-tile-top{
	margin-top: 20px;
}
.md-tile-left.small{
	min-width:32px;
}

.opened{
	background: #ECECEC;
	border-radius: 4px;
}
document-actions,
part-actions,
file-unknown-actions,
file-document-actions,
file-part-actions{
	padding-top: 18px;
}

.file{
    width: 100%;
}
.clickable{
    cursor: pointer;
}
small.subtitle{
	color: #757575;
}
.subtitle{
	color: #02587F;
}
md-sidenav .subtitle{
	color: rgba(0, 0, 0, 0.729412);
	font-weight: normal;
}

.subtitle.selected{
    font-weight: bold;
	color: #02587F;
}

[ng-controller="PartController"] h3{
	overflow: hidden;
	text-overflow: ellipsis;
}

md-sidenav h3:first-of-type{
	margin-top: 0;
}

.menu-list.hover{
	border: 1px dashed green;
}
.menu-list{
	border: 1px dashed white;
	max-height: 150px;
	transition: all 1s linear;
}
.menu-list.expanded{
	max-height: initial;
}
.list-toggle{
	transition: all 0.5s linear;
	text-align: center;
	cursor: pointer;
	width: 100%;
	color: #999;
}
.list-toggle:hover{
    color: #555;
}
.list-toggle.expanded{
	color:blue;
}

.empty-list{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

ul.file-list{
    margin: 12px;
    padding: 0;
    font-size: small;
    color: #757575;
}
ul.file-list li{
    margin: 0;
    padding: 0;
    list-style: none;
}*/
