.md-tile-content h3, .md-tile-content h4{
	cursor: pointer;
}
.md-tile-content.small{
	padding: 6px;
}
.md-tile-left{
	margin-right: 0;
}
.md-tile-left.md-tile-top{
	margin-top: 20px;
}
.md-tile-left.small{
	min-width:32px;
}

.opened{
	background: #E0E0E0;
	border-radius: 4px;
}
part-actions {
	padding: 18px;
}

.subtitle{
	color: #757575;
}

md-sidenav h3:first-of-type{
	margin-top: 0;
}

.menu-list{
	max-height: 150px;
	transition: all 1s linear;
}
.menu-list.expanded{
	max-height: 800px;
}
.list-toggle{
	transition: all 0.5s linear;
	text-align: center;
	cursor: pointer;
	width: 100%;
	background: #eee;
	color: #999;
}
.list-toggle:hover{
	background: #ddd;
}
.list-toggle.expanded{
	color:blue;
}