.tabs{
    width:100%;
    height: 42px;
}

.tabs.default{
    background: #03a9f4;
}
.tabs.blue{
    background: #5677fc;
}
.tabs > div{
    text-align: center;
}
.tabs.default > div.selected{
    border-bottom:2px solid #ffff85;
}
.tabs.blue > div.selected{
    border-bottom:2px solid #6bff85;
}
.tabs > div > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    line-height: 36px;
}