<div id="request_creation_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <i class="fa fa-ticket"></i>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.NEW_REQUEST}}</h3>
    </div>

    <div class="modal-body">
        <div class="notifications"></div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-main" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-affected-issues" data-toggle="tab">{{i18n.ISSUES}}</a></li>
                <li><a href="#tab-affected-links" data-toggle="tab">{{i18n.AFFECTED_ELEMENT}}</a></li>
            </ul>


            <form id="request_creation_form" class="form-horizontal tab-content">
                <div class="tab-pane active" id="tab-main">
                    <div class="control-group">
                        <label class="control-label" for="inputRequestName">{{i18n.NAME}}</label>

                        <div class="controls">
                            <input type="text" id="inputRequestName" placeholder="{{i18n.NAME}}" required/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputRequestMilestone">{{i18n.MILESTONE}}</label>

                        <div class="controls">
                            <select id="inputRequestMilestone">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputRequestPriority">{{i18n.CHANGE_ITEM_PRIORITY}}</label>

                        <div class="controls">
                            <select id="inputRequestPriority"></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputRequestDescription">{{i18n.DESCRIPTION}}</label>

                        <div class="controls">
                            <textarea id="inputRequestDescription" placeholder="{{i18n.DESCRIPTION}}"
                                      rows="3"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputRequestAssignee">{{i18n.CHANGE_ITEM_ASSIGNEE}}</label>

                        <div class="controls">
                            <select id="inputRequestAssignee">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputRequestCategory">{{i18n.CHANGE_ITEM_CATEGORY}}</label>

                        <div class="controls">
                            <select id="inputRequestCategory">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="tab-affected-issues" class="tab-pane">
                    <div id="issues-affected-links" class="affected-links"></div>
                </div>
                <div id="tab-affected-links" class="tab-pane">
                    <div id="documents-affected-links"></div>
                    <div id="parts-affected-links" class="affected-links"></div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        <button class="btn btn-primary" form="request_creation_form">{{i18n.CREATE}}</button>
    </div>
</div>
