.editable-list{
    li {

        margin: 4px;

        list-style: none;

        div.item-component{
            display: inline-block;
        }

        .stroke {
            text-decoration: line-through;
            color : red;
        }

        .stroke, a.stroke, a.stroke
        {
            text-decoration: line-through;
            color : red;
        }

    }
    
    li.stroke{
        text-decoration: line-through;
        color : red;
    }

    input.file-delete {
            margin : 5px;
    }
}
