ul.baselines-list{

  margin: 0;

  li.baseline-item{

    margin: 4px;
    list-style: none;

    input[type=checkbox]{
      margin: 0 3px 3px 0;
    }

    a{
      &.stroke{
        text-decoration: line-through;
        color: red;
      }
    }

  }

}