<div class="modal importer-view">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>{{i18n.IMPORTER}}</h3>
    </div>
    <div class="modal-body">

        <div class="attachedFiles idle">

        <div class="progress-bars"></div>

            <div id="iteration-files">

            </div>

        <form enctype="multipart/form-data" class="upload-form">
            <div class="droppable filedroparea">
                <input name="upload" type="file" class="input-xlarge droppable upload-btn"/>
                <button class="btn btn-success droppable">{{i18n.SELECT_FILE}}</button>
                <span class="droppable">{{i18n.DROP_FILE_HERE}}</span>
                <p class="upload-file-shortname"></p>
                <div class="progress progress-striped">
                    <div class="bar"></div>
                </div>
            </div>
            <button type="button" class="btn cancel cancel-upload-btn">{{i18n.CANCEL}}</button>


        </form>

        </div>
            <p></p>

        <div>
            <input type="checkbox" data-fullname="{{revision_note_checkbox}}"/>{{i18n.ADD_REVISION_NOTE}}
            <textarea type="text" id="revision_note" rows="1" data-fullname="{{revision_note}}"></textarea>
        </div>

        <p>
                <input type="checkbox" data-fullname="{{froze_iteration}}"/>{{i18n.FREEZE_AFTER_MODIFICATION}}
        </p>

        <p>
            <input type="checkbox" data-fullname="{{permissive_update}}"/>{{i18n.PERMISSIVE_UPDATE}}
        </p>

        <button type="button" class="btn btn-primary import-button">{{i18n.START_IMPORT}}
        </button>

    </div>
</div>
