<div id="query-builder-view">

    <h3>{{i18n.QUERY_SEARCH}}</h3>

    <div class="query-builder-body">
        <div id="alerts"></div>

        <div class="choose-existing-request-area">
            <label>{{i18n.QUERY_CHOOSE_EXISTING_REQUEST}}</label>
            <select class="form-control query-list"></select>
            <button style="display:none" type="button" class="btn btn-danger delete-selected-query" title="{{i18n.DELETE}}">
                {{i18n.QUERY_REMOVE_SAVED_QUERY}}
            </button>
            <button style="display:none" type="button" class="btn btn-primary export-excel-button" data-loading-text="{{i18n.QUERY_EXPORT_EXCEL_LOADING}}">{{i18n.QUERY_EXPORT_EXCEL}}</button>
        </div>

        <div class="query-context-block">
            <label>{{i18n.QUERY_CONTEXT}} <span class="badge clear-context-badge">{{i18n.QUERY_CLEAR}}</span></label>
            <input type="text" id="context" class="query-context-input">
        </div>

        <div class="query-select-block">
            <label>{{i18n.QUERY_SELECT}} <span class="badge clear-select-badge">{{i18n.QUERY_CLEAR}}</span></label>
            <input type="text" id="select" class="query-select-input">
        </div>

        <div class="query-where-block">
            <label>{{i18n.QUERY_WHERE}} <span class="badge clear-where-badge">{{i18n.QUERY_CLEAR}}</span></label>
            <div id="where" class="query-where-builder"></div>
        </div>

        <div class="order-by-block">
            <label class="order-by-label">{{i18n.QUERY_ORDER_BY}} <span class="badge clear-order-by-badge">{{i18n.QUERY_CLEAR}}</span></label>
            <input type="text" id="orderBy" class="order-by-input">
        </div>
        <div class="group-by-block">
            <label class="group-by-label">{{i18n.QUERY_GROUP_BY}} <span class="badge clear-group-by-badge">{{i18n.QUERY_CLEAR}}</span></label>
            <input type="text" id="groupBy" class="group-by-input">
        </div>

    </div>

    <div class="query-actions-block">
        <button type="button" class="btn btn-success save-button">{{i18n.SAVE}}</button>
        <button type="button" class="btn btn-warning reset-button">{{i18n.RESET}}</button>
        <button type="button" class="btn btn-primary search-button" data-loading-text="{{i18n.SEARCHING}}">{{i18n.SEARCH}}</button>


    </div>

</div>
