<!-- Collapse Button For Responsive View -->
<a id="collapseButton" class="Header-collapseBtn btn btn-navbar btn-primary" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<div class="HeaderContent Header-content navbar-inner">

    <a class="Brand" href="{{contextPath}}{{#connected}}/workspace-management/{{/connected}}{{^connected}}/{{/connected}}#">
        <img class="Brand-logo" alt="docdoku_plm" src="../images/plm_logo2.png"/>
        <span class="Brand-name">DocDoku<strong>PLM</strong></span>
    </a>

    {{#connected}}
    <div class="nav-collapse collapse">
        <div class="HeaderFluidContent container-fluid">
            {{^isAdmin}}
            <ul class="BreadcrumbMenu nav header-menu">
                <li class="BreadcrumbMenuItem BreadcrumbMenu-item dropdown pull-left" id="workspace_container">
                    <a id="workspace_choose_menu" class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-home"></i>
                        {{i18n.MY_WORKSPACES}}
                        {{#currentWorkspace}}
                        : {{currentWorkspace}}
                        {{/currentWorkspace}}
                    </a>
                    <ul class="BreadcrumbMenuList dropdown-menu">
                        <li class="BreadcrumbMenuList-sectionTitle">
                            <i class="fa fa-graduation-cap"></i>{{i18n.ADMINISTRATED}}
                        </li>

                        {{#administratedWorkspaces}}
                        <li class="BreadcrumbSubMenuItem dropdown-submenu visible-desktop">
                            <a>
                                {{#isCurrent}}<i class="fa fa-check"></i>{{/isCurrent}}
                                <span>{{id}}</span>
                            </a>
                            <ul class="BreadcrumbSubMenuList dropdown-menu">
                                <li>
                                    <a href="{{contextPath}}/document-management/#{{id}}/folders"
                                       title="{{i18n.DOCUMENTS_MANAGEMENT}}">{{i18n.DOCUMENTS}}</a>
                                </li>
                                <li>
                                    <a href="{{contextPath}}/product-management/#{{id}}/products"
                                       title="{{i18n.PRODUCTS_MANAGEMENT}}">{{i18n.PRODUCTS}}</a>
                                </li>
                                <li>
                                    <a href="{{contextPath}}/change-management/#{{id}}/workflows"
                                       title="{{i18n.CHANGES_MANAGEMENT}}">{{i18n.CHANGES}}</a>
                                </li>
                                <li>
                                    <a href="{{contextPath}}/workspace-management/#/workspace/{{id}}/edit"
                                       title="{{i18n.WORKSPACE_MANAGEMENT}}">{{i18n.WORKSPACE_MANAGEMENT}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="BreadcrumbSubMenuItem hidden-desktop">
                            <div class="BreadcrumbSubMenuItem-title">
                                {{#isCurrent}}<i class="fa fa-check"></i>{{/isCurrent}}
                                <span><i class="fa fa-graduation-cap"></i> {{id}}</span>
                            </div>
                            <ul class="BreadcrumbSubMenuList">
                                <li><a href="{{contextPath}}/document-management/#{{id}}/folders" title="{{i18n.DOCUMENTS_MANAGEMENT}}"><i class="fa fa-folder"></i></a></li>
                                <li><a href="{{contextPath}}/product-management/#{{id}}/products" title="{{i18n.PRODUCTS_MANAGEMENT}}"><i class="fa fa-briefcase"></i></a></li>
                                <li><a href="{{contextPath}}/change-management/#{{id}}/workflows" title="{{i18n.CHANGES_MANAGEMENT}}"><i class="fa fa-refresh"></i></a></li>
                                <li><a href="{{contextPath}}/workspace-management/#/workspace/{{id}}" title="{{i18n.WORKSPACE_MANAGEMENT}}"><i class="fa fa-cog"></i></a></li>
                            </ul>
                        </li>
                        {{/administratedWorkspaces}}

                        <li class="BreadcrumbMenuList-hr">
                            <hr/>
                        </li>
                        <li class="BreadcrumbMenuList-sectionTitle">
                            {{i18n.OTHERS}}
                        </li>

                        {{#nonAdministratedWorkspaces}}
                        <li class="BreadcrumbSubMenuItem dropdown-submenu visible-desktop">
                            <a>
                                {{#isCurrent}}<i class="fa fa-check"></i>{{/isCurrent}}
                                <span>{{id}}</span>
                            </a>
                            <ul class="BreadcrumbSubMenuList dropdown-menu">
                                <li><a href="{{contextPath}}/document-management/#{{id}}/folders"
                                       title="{{i18n.DOCUMENTS_MANAGEMENT}}">{{i18n.DOCUMENTS}}</a>
                                </li>
                                <li><a href="{{contextPath}}/product-management/#{{id}}/products"
                                       title="{{i18n.PRODUCTS_MANAGEMENT}}">{{i18n.PRODUCTS}}</a>
                                </li>
                                <li><a href="{{contextPath}}/change-management/#{{id}}/workflows"
                                       title="{{i18n.CHANGES_MANAGEMENT}}">{{i18n.CHANGES}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="BreadcrumbSubMenuItem hidden-desktop">
                            <div class="BreadcrumbSubMenuItem-title">
                                {{#isCurrent}}<i class="fa fa-check"></i>{{/isCurrent}}
                                <span>{{id}}</span>
                            </div>
                            <ul class="BreadcrumbSubMenuList">
                                <li><a href="{{contextPath}}/document-management/#{{id}}/folders" title="{{i18n.DOCUMENTS_MANAGEMENT}}"><i class="fa fa-folder"></i></a></li>
                                <li><a href="{{contextPath}}/product-management/#{{id}}/products" title="{{i18n.PRODUCTS_MANAGEMENT}}"><i class="fa fa-briefcase"></i></a></li>
                                <li><a href="{{contextPath}}/change-management/#{{id}}/workflows" title="{{i18n.CHANGES_MANAGEMENT}}"><i class="fa fa-refresh"></i></a></li>
                            </ul>
                        </li>
                        {{/nonAdministratedWorkspaces}}
                    </ul>
                </li>
                <!-- current workspace -->
                {{#currentWorkspace}}
                <li class="BreadcrumbMenuItem BreadcrumbMenu-item dropdown pull-left visible-desktop">

                    {{#isDocumentManagement}}<a class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown"
                                                title="{{i18n.DOCUMENTS_MANAGEMENT}}"><i class="fa fa-folder-open"></i>
                    {{i18n.DOCUMENTS}}</a>
                    {{/isDocumentManagement}}
                    {{#isProductManagement}}<a class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown"
                                               title="{{i18n.PRODUCTS_MANAGEMENT}}"><i class="fa fa-briefcase"></i> {{i18n.PRODUCTS}}
                </a>
                    {{/isProductManagement}}
                    {{#isProductStructure}}<a class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown"
                                              title="{{i18n.PRODUCTS_MANAGEMENT}}"><i class="fa fa-briefcase"></i> {{i18n.PRODUCTS}}
                </a>
                    {{/isProductStructure}}
                    {{#isChangeManagement}}<a class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown"
                                              title="{{i18n.CHANGES_MANAGEMENT}}"><i class="fa fa-history"></i>
                    {{i18n.CHANGES}}</a>
                    {{/isChangeManagement}}
                    {{#isWorkspaceManagement}}<a class="BreadcrumbMenuItem-link dropdown-toggle" data-toggle="dropdown"
                                                 title="{{i18n.WORKSPACE_MANAGEMENT}}"><i class="fa fa-cog"></i>
                    {{i18n.WORKSPACE_MANAGEMENT}}</a>
                    {{/isWorkspaceManagement}}
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{contextPath}}/document-management/#{{currentWorkspace}}/folders">
                                {{#isDocumentManagement}}<i class="fa fa-check"></i>{{/isDocumentManagement}}
                                {{i18n.DOCUMENTS}}
                            </a>
                        </li>
                        <li><a href="{{contextPath}}/product-management/#{{currentWorkspace}}/products">
                            {{#isProductManagement}}<i class="fa fa-check"></i>{{/isProductManagement}}
                            {{#isProductStructure}}<i class="fa fa-check"></i>{{/isProductStructure}}
                            {{i18n.PRODUCTS}}
                        </a></li>
                        <li><a href="{{contextPath}}/change-management/#{{currentWorkspace}}/workflows">
                            {{#isChangeManagement}}
                            <i class="fa fa-check"></i>
                            {{/isChangeManagement}}
                            {{i18n.CHANGES}}
                        </a></li>
                        <li><a href="{{contextPath}}/workspace-management/#/workspace/{{currentWorkspace}}/edit">
                            {{#isWorkspaceManagement}}
                            <i class="fa fa-check"></i>
                            {{/isWorkspaceManagement}}
                            {{i18n.WORKSPACE_MANAGEMENT}}
                        </a></li>
                    </ul>

                </li>
                {{/currentWorkspace}}

            </ul>
            {{/isAdmin}}
            <ul class="HeaderMenu nav header-menu pull-right">
                {{^isAdmin}}
                <li class="HeaderMenu-item dropdown" id="coworkers_access_module" style="">
                    <a class="dropdown-toggle" id="coworkers_access_module_toggler" href="#" data-toggle="dropdown"
                       title="Coworkers">
                        <i class="fa fa-users"></i>
                        {{i18n.COWORKERS}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="coworkers_access_module_entries">
                    </ul>
                </li>
                {{/isAdmin}}
                <li class="HeaderMenu-item dropdown ">
                    <a href="#" class="dropdown-toggle" id="account_name_link" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        {{userName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{contextPath}}/account-management/">
                            <i class="fa fa-user"></i>
                            {{i18n.MY_ACCOUNT}}
                        </a>
                        </li>
                        <li><a href="{{contextPath}}/#organisation">
                            <i class="fa fa-building-o"></i>
                            {{i18n.MY_ORGANIZATION}}
                        </a>
                        </li>
                        <li><a href="{{contextPath}}/workspace-management">
                            <i class="fa fa-cog"></i>
                            {{i18n.WORKSPACES_ADMINISTRATION}}
                        </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dplm_download_link"><a href="{{contextPath}}/download/">
                            <i class="fa fa-download"></i>
                            {{i18n.DOWNLOAD_DPLM_CLIENT}}
                        </a>
                        </li>
                        <li id="community_link">
                            <a href="http://www.docdokuplm.com/" target="_blank">
                                <i class="fa fa-question"></i>
                                {{i18n.ABOUT_DOCDOKUPLM}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li id="logout_link">
                            <a>
                                <i class="fa fa-power-off"></i>
                                {{i18n.LOGOUT}}
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
    {{/connected}}
    {{^connected}}
    <div class="nav-collapse collapse">
        <div class="HeaderFluidContent container-fluid offline-menu">
            <ul class="HeaderMenu nav header-menu">
                <li>
                    <a href="{{contextPath}}/#"><i class="fa fa-home"></i> {{i18n.HOME_PAGE}}</a>
                </li>
                <li>
                    <a href="http://www.docdokuplm.com/" target="_blank"><i class="fa fa-cloud"></i> {{i18n.OFFICIAL_SITE}}</a>
                </li>
                <li class="dplm_download_link">
                    <a href="{{contextPath}}/download">
                    <i class="fa fa-download"></i>
                     {{i18n.DOWNLOAD_DPLM_CLIENT}}
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li id="registration_link_container">{{i18n.NOT_YET_REGISTERED_QUESTION}}
                    <a href="{{contextPath}}/#create-account">{{i18n.NOT_YET_REGISTERED_REGISTER}}</a>
                </li>
            </ul>
        </div>
    </div>
    {{/connected}}

</div>
