node_modules
dist
test/temp
.sass-cache
app/bower_components
.tmp
test/bower_components/

app/document-management/main.css
app/product-management/main.css
app/product-structure/main.css
app/visualization/main.css
app/change-management/main.css