<div class="margin">
    <h2>{{i18n.DOWNLOAD}}</h2>
    <h3>{{i18n.DPLM_CLIENT}}</h3>
    <p>{{i18n.DPLM_CLIENT_INSTALL_MESSAGE}}</p>
    <h4>{{i18n.CHOOSE_PLATFORM}}</h4>
    <div class="margin">
        <ul class="download-dplm-platform-list">
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-win-32.zip">
                    <img src="{{contextPath}}/images/windows.gif" alt="Windows"/>
                    <span>Windows - 32bit</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-win-64.zip">
                    <img src="{{contextPath}}/images/windows.gif" alt="Windows"/>
                    <span>Windows - 64bit</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-linux-32.zip">
                    <img src="{{contextPath}}/images/linux.gif" alt="Linux"/>
                    <span>Linux - 32bits</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-linux-64.zip">
                    <img src="{{contextPath}}/images/linux.gif" alt="Linux"/>
                    <span>Linux - 64bit</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-osx-32.zip">
                    <img src="{{contextPath}}/images/apple.gif" alt="Mac"/>
                    <span>Mac - 32 bit</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="{{contextPath}}/download/dplm/dplm-osx-64.zip">
                    <img src="{{contextPath}}/images/apple.gif" alt="Mac"/>
                    <span>Mac - 64bit</span>
                    <i class="fa fa-download"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
