<div class="control-group">
    {{#editMode}}
    <label class="control-label"><a class="model-ref">{{model.getNumber}}</a> - {{model.getName}}</label>
    {{#model.getAvailableIterations}}
    <div class="controls">
        <label class="radio">
            <input type="radio" name="partIteration-selector-{{model.getNumber}}"
                   value="{{version}}-{{lastIteration}}"/>
            {{version}}-{{lastIteration}}
            {{#released}}<i class="fa fa-check" title="{{i18n.RELEASED}}"></i>{{/released}}
            {{^released}}<a class="release">{{i18n.RELEASE_NOW}}</a> <i class="fa fa-spin fa-refresh loader"></i>
            {{/released}}
        </label>
        <span class="errors"></span>
    </div>
    {{/model.getAvailableIterations}}

    {{/editMode}}
    {{^editMode}}
    <a class="model-ref">{{model.getName}}  < {{model.getNumber}}-{{model.getVersion}}-{{model.getIteration}} > </a>

    {{/editMode}}
</div>
