<div class="coord-group">
    <h5>Translation (x y z)</h5>
    <input class="coord" type="text" name="tx" title="tx" value="{{instance.tx}}" {{disabled}}/>
    <input class="coord" type="text" name="ty" title="ty" value="{{instance.ty}}" {{disabled}}/>
    <input class="coord" type="text" name="tz" title="tz" value="{{instance.tz}}" {{disabled}}/>
</div>
<div class="coord-group">
    <h5>Rotation (x y z) (rad)</h5>
    <input class="coord" type="text" name="rx" title="rx" value="{{instance.rx}}" {{disabled}}/>
    <input class="coord" type="text" name="ry" title="ry" value="{{instance.ry}}" {{disabled}}/>
    <input class="coord" type="text" name="rz" title="rz" value="{{instance.rz}}" {{disabled}}/>
</div>
{{#canRemove}}
<div class="coord-group coord-group-remove">
    <i class="fa fa-times delete-cad-instance"></i>
</div>
{{/canRemove}}
