<div class="well">


    {{#model.component.number}}
    {{#editMode}}<a class="remove">×</a>{{/editMode}}
    <input type="text" name="number" value="{{model.component.number}}" title="{{i18n.PART_NUMBER}}" disabled/>
    <input type="text"  name="amount"  value="{{model.amount}}" title="{{i18n.AMOUNT}}"/>
    <input type="text" name="newUnit" value="{{i18n.UNIT}}" default-unity="{{i18n.UNIT}}" {{#editMode}}list="unity"{{/editMode}} {{^editMode}}readonly{{/editMode}}/>
    <datalist id="unity" name="unitMeasure" class="unit unitEdit">
        <option value="{{i18n.UNIT}}">
        <option value="{{i18n.KG}}">
        <option value="{{i18n.LITER}}">
        <option value="{{i18n.METER}}">
        <option value="{{i18n.SQUARE_METER}}">
    </datalist>
    <input type="text" name="comment" value="{{model.comment}}" placeholder="{{i18n.PART_DESCRIPTION}}" {{^editMode}}readonly{{/editMode}}/>
    {{#editMode}}<i class="fa fa-plus add-cadInstance"></i>{{/editMode}}
    <i class="fa fa-angle-double-down collapse-cadInstance"></i>
    <i class="fa fa-list-ul add-substitute-part"></i>



    {{/model.component.number}}


    {{^model.component.number}}
    {{#editMode}}<a class="remove">×</a>{{/editMode}}
    <input type="text" name="number" value="" placeholder="{{i18n.PART_NUMBER}}"/>
    <input type="text" name="name" value="" placeholder="{{i18n.PART_NAME}}"/>
    <input type="text" name="amount" value="{{model.amount}}" title="{{i18n.AMOUNT}}" disabled/>
    <input type="text" list="unityChoice" name="newUnit" value="{{i18n.UNIT}}" default-unity="{{i18n.UNIT}}" {{#editMode}}list="unity"{{/editMode}} {{^editMode}}readonly{{/editMode}}/>
    <datalist id="unityChoice" name="unitMeasure" class="unit unitEdit">
        {{#editMode}}
        <option value="{{i18n.UNIT}}">
        <option value="{{i18n.KG}}">
        <option value="{{i18n.LITER}}">
        <option value="{{i18n.METER}}">
        <option value="{{i18n.SQUARE_METER}}">
        {{/editMode}}
    </datalist>
    <input type="text" name="comment" value="{{model.comment}}" placeholder="{{i18n.PART_DESCRIPTION}}" {{^editMode}}readonly{{/editMode}}/>
    {{#editMode}}<i class="fa fa-plus add-cadInstance"></i>{{/editMode}}
    <i class="fa fa-angle-double-down collapse-cadInstance"></i>
    {{/model.component.number}}
    <div class="substitute-parts">
        <div>Substitute Parts:</div>
        <a class="btn create-substitute-part">{{i18n.CREATE_NEW_PART}}</a>  <input type="text" id="existingSubstituteParts"
                                                                                      placeholder="{{i18n.OR_ADD_PART}}"/>
        <hr/>
        <div class="substitutes">

        </div>
    </div>
    <div class="cadInstances"></div>
</div>
