<div class="well">
    {{#model.component.number}}
    {{#editMode}}<a class="remove">×</a>{{/editMode}}<input type="text" name="number" value="{{model.component.number}}"
                                                            title="{{i18n.PART_NUMBER}}" disabled/> <input type="text"
                                                                                                           name="amount"
                                                                                                           value="{{model.amount}}"
                                                                                                           title="{{i18n.AMOUNT}}"
                                                                                                           disabled/>
    <input type="text" value="{{model.unit}}"disabled/>
    <select name="unitMeasure" class="measure"><option value="unit" selected>Unit</option><option value="Kg">Kg</option><option value="L">l</option><option value="m">m</option></select>
    <i
        class="fa fa-plus add-cadInstance"></i>
    {{/model.component.number}}
    {{^model.component.number}}
    {{#editMode}}<a class="remove">×</a>{{/editMode}} <input type="text" name="number" value=""
                                                             placeholder="{{i18n.PART_NUMBER}}"/> <input type="text"
                                                                                                         name="name"
                                                                                                         value=""
                                                                                                         placeholder="{{i18n.PART_NAME}}"/>
    <input type="text" name="amount" value="{{model.amount}}" title="{{i18n.AMOUNT}}" disabled/><i
        class="fa fa-plus add-cadInstance"></i>
    {{/model.component.number}}
    <div><i class="fa fa-angle-double-down collapse-cadInstance"></i></div>

    <div class="cadInstances"></div>
</div>