{{#hasCadFile}}
<div class="conversion-status">
{{#status}}
    {{#pending}}
    <i class="fa fa-refresh fa-spin" title="{{i18n.CONVERSION_PENDING}}"></i>
    {{/pending}}
    {{^pending}}
        {{#succeed}}
            <i class="fa fa-check" title="{{i18n.CONVERSION_SUCCEED}}"></i>
        {{/succeed}}
        {{^succeed}}
            <i class="fa fa-times" title="{{i18n.CONVERSION_FAILED}}"></i>
        {{/succeed}}
    {{/pending}}
{{/status}}
{{^status}}
    <i class="fa fa-times" title="{{i18n.NO_CONVERSION}}"></i>
{{/status}}
    <b>{{i18n.CONVERSION}}</b>
    <span class="conversion-status-actions">
            <a class="launch">{{i18n.RETRY}}</a> -  <a class="reload">{{i18n.RELOAD}}</a>
    </span>
</div>
{{/hasCadFile}}
