<div class="control-group">
    <label class="control-label">{{i18n.REFERENCE}}</label>

    <div class="controls">
        <span class="help-inline">{{modificationNotification.getModifiedPartNumber}}-{{modificationNotification.getModifiedPartVersion}}-{{modificationNotification.getModifiedPartIteration}}</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{i18n.CHECKIN_DATE}}</label>

    <div class="controls">
        <span class="help-inline"><a class="date-popover">{{modificationNotification.getFormattedCheckInDate}}</a></span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{i18n.REVISION_NOTE}}</label>

    <div class="controls">
        <span class="help-inline">{{modificationNotification.getIterationNote}}</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{i18n.AUTHOR}}</label>

    <div class="controls">
        <span class="help-inline"><a class="author-popover">{{modificationNotification.getAuthorName}}</a></span>
    </div>
</div>

<hr/>
