<div class="modification-notification-group well">

    <div class="group-title">
        {{#modificationNotification.getModifiedPartName}}{{modificationNotification.getModifiedPartName}}{{/modificationNotification.getModifiedPartName}}
        < {{modificationNotification.getModifiedPartNumber}} >
    </div>

    {{#hasUnreadModificationNotifications}}
    <div class="group-comment">
        <input id="group-acknowledgement-comment" type="text" placeholder="{{i18n.VERIFICATION_NOTE}}">
        <a class="action-group-acknowledge">{{i18n.MARK_ALL_AS_VERIFIED}}</a>
    </div>
    {{/hasUnreadModificationNotifications}}

    <div class="items"></div>

</div>
