{{#editMode}}<a class="remove">×</a>{{/editMode}}
<input type="text" name="number" value="{{component.number}}" placeholder="{{i18n.PART_NUMBER}}" {{componentDisabled}}/>
<input type="text" name="name" value="{{component.name}}" placeholder="{{i18n.PART_NAME}}" {{componentDisabled}}/>
{{#handleSubstitutes}}
<label name="optional"><input type="checkbox" name="optional" placeholder="{{i18n.OPTIONAL}}" {{optionalChecked}}  {{disabled}}/>{{i18n.OPTIONAL}}</label>
{{/handleSubstitutes}}
<input type="text" name="reference-description" value="{{model.referenceDescription}}" placeholder="{{i18n.LINK_DESCRIPTION}}" {{disabled}} />
<input type="number" min="0" name="amount" step="any" value="{{model.amount}}" title="{{i18n.AMOUNT}}" {{disabled}}/>

<select name="unit">
    <option value="">{{i18n.UNIT}}</option>
    <option value="{{i18n.KG}}">{{i18n.KG}}</option>
    <option value="{{i18n.LITER}}">{{i18n.LITER}}</option>
    <option value="{{i18n.METER}}">{{i18n.METER}}</option>
    <option value="{{i18n.SQUARE_METER}}">{{i18n.SQUARE_METER}}</option>
    <option value="{{i18n.SECONDS}}">{{i18n.SECONDS}}</option>
    <option value="{{i18n.HOURS}}">{{i18n.HOURS}}</option>
</select>

{{#editMode}}
<i class="fa fa-plus add-cad-instance change-cad-instances-amount"></i>
<i class="fa fa-minus remove-cad-instance change-cad-instances-amount"></i>
{{/editMode}}
<div class="cad-instances"></div>
{{#handleSubstitutes}}
<a class="part-substitute-links-count"></a>
<div class="part-substitute-links"></div>
{{/handleSubstitutes}}
<i class="fa fa-angle-double-down toggle-cad-instances"></i>
