<div class="well substitute">
    <i class="display-substitute-part">{{i18n.PART_SUBSTITUTE}}</i>

    {{#model.substitute.number}}
    {{#editMode}}<a class="removeSub">×</a>{{/editMode}}
    <br/>
    <input type="text" name="substitute-number" value="{{model.substitute.number}}" disabled/>
    <input type="text" name="substitute-name" value="{{model.substitute.name}}" disabled/>
    <i class="fa fa-angle-double-down collapse-substitute-cadInstance"></i>

    <div class="data-sub-part">
        <div class="dataAlign">
            <input type="text" name="substitute-referenceDescription" value="{{model.referenceDescription}}" placeholder="{{i18n.LINK_DESCRIPTION}}"/>
            <input type="text" name="substitute-amount" value="{{model.amount}}" title="{{i18n.AMOUNT}}" disabled/>
            <input type="text" {{#editMode}}list="substitute-unityChoice"{{/editMode}}
            {{^editMode}}readonly{{/editMode}}
            name="substitute-newUnit" value="{{i18n.UNIT}}" default-substitute-unity="{{i18n.UNIT}}"/>
            <datalist id="substitute-unityChoice" name="substitute-unitMeasure" class="unit unitEdit">
                <option value="{{i18n.UNIT}}">
                <option value="{{i18n.KG}}">
                <option value="{{i18n.LITER}}">
                <option value="{{i18n.METER}}">
                <option value="{{i18n.SQUARE_METER}}">
            </datalist>

            {{#editMode}} <i class="fa fa-plus add-substitute-cadInstance"></i> {{/editMode}}

        </div>
        <div class="cadInstances"></div>
    </div>

    {{/model.substitute.number}}


    {{^model.substitute.number}}
    {{#editMode}}<a class="removeSub">×</a>{{/editMode}}
    <br/>
    <input type="text" name="substitute-number" value="" placeholder="{{i18n.PART_NUMBER}}" required/>
    <input type="text" name="substitute-name" value="" placeholder="{{i18n.PART_NAME}}"/>
    <i class="fa fa-angle-double-down collapse-substitute-cadInstance"></i>

    <div class="data-sub-part">
        <div class="dataAlign">
            <input type="text" name="substitute-referenceDescription" value="{{model.referenceDescription}}"  placeholder="{{i18n.LINK_DESCRIPTION}}"/>
            <input type="text" name="substitute-amount" title="{{i18n.AMOUNT}}"/>
            <input type="text" {{#editMode}}list="substitute-unity"{{/editMode}} {{^editMode}}readonly{{/editMode}}
            name="substitute-newUnit" value="{{i18n.UNIT}}" default-substitute-unity="{{i18n.UNIT}}"/>
            <datalist id="substitute-unity" name="substitute-unitMeasure" class="unit unitEdit">
                <option value="{{i18n.UNIT}}">
                <option value="{{i18n.KG}}">
                <option value="{{i18n.LITER}}">
                <option value="{{i18n.METER}}">
                <option value="{{i18n.SQUARE_METER}}">
            </datalist>
            {{#editMode}} <i class="fa fa-plus add-substitute-cadInstance"></i> {{/editMode}}
        </div>

        <div class="cadInstances"></div>
    </div>


    {{/model.substitute.number}}
</div>
