<div class="used-by-group">

    <strong id="title-used-by-is-component-of">Component of :</strong>
    <ul id="used-by-is-component-of" class="used-by-items"></ul>

    <strong id="title-used-by-is-substitute-of">Substitute of :</strong>
    <ul id="used-by-is-substitute-of" class="used-by-items"></ul>

    <div class="group-title">
        {{i18n.PRODUCT}} < {{configurationItemId}} >
    </div>

    {{i18n.PRODUCT_INSTANCES}} : <ul id="used-by-product-instances" class="used-by-items"></ul>

</div>
