<div class="nav-header">{{i18n.COMPONENT_SELECTED}} :<br/>
    <a target="_blank" href="{{permalink}}" class="selected-part"> {{model.getName}}< {{model.getNumber}} > </a></div>

<dl>

    <dt>{{i18n.PART_NAME}} :</dt>
    <dd>{{model.getName}}</dd>

    <dt>{{i18n.VERSION}} :</dt>
    <dd>{{model.getVersion}}</dd>

    <dt>{{i18n.ITERATION}} :</dt>
    <dd>{{model.getIteration}}</dd>

    <dt>{{i18n.DESCRIPTION}} :</dt>
    <dd>{{model.getDescription}}</dd>

    <dt>{{i18n.AUTHOR}} :</dt>
    <dd><a class="author-join">{{model.getAuthor}}</a></dd>

</dl>
<div class="clear"></div>
