.DS_Store
.idea
*.iml
rebel.xml
private.properties
target/
dist/
private/
classes/
build/
node_modules/
bower_components/
derby.log
gcm.properties
npm-debug.log
docdoku-server/docdoku-server-web/yo/app/download/