.DS_Store
.idea
*.iml
rebel.xml
private.properties
target/
dist/
private/
app.nw
cp_to_share.sh
deploy-node-webkit.sh
update_deploy.sh
updateJars.sh
docdoku-android-client/out/
classes/
docdoku-android-client/gen/
derby.log
gcm.properties

docdoku-server/build
docdoku-server/docdoku-server-ejb/build
docdoku-server/docdoku-server-web/build
docdoku-server/docdoku-server-web/src/main/webapp/download/dplm
docdoku-gui/dplm/*.jar
docdoku-common/build
docdoku-client/build


docdoku-cli/target
docdoku-casperjs/*.png
docdoku-casperjs/testsResults.xml

docdoku-user-guides/dist/
docdoku-user-guides/jkl/
docdoku-user-guides/node_modules/
docdoku-user-guides/app/bower_components/
docdoku-user-guides/bower_components/
docdoku-user-guides/.tmp/
docdoku-user-guides/npm-debug.log
