<div class="modal-body">

    {{#importForm}}
    <h3>{{i18n.FILE}}</h3>

    <div class="notifications"></div>

    <div class="attachedFiles idle">

        <div id="file-selected">
            <ul></ul>
        </div>

        <form enctype="multipart/form-data" class="upload-form">
            <div class="droppable filedroparea">
                <input name="upload" type="file" class="input-xlarge droppable upload-btn" />
                <button class="btn btn-success droppable">{{i18n.SELECT_FILE}}</button>
                <span class="droppable">{{i18n.DROP_FILE_HERE}}</span>
                <p class="upload-file-shortname"></p>
            </div>
            <button type="button" class="btn cancel cancel-upload-btn">{{i18n.CANCEL}}</button>
        </form>

    </div>

    <div class="form-horizontal import-status-views">
    </div>

    <h3>{{i18n.OPTIONS}}</h3>

    <div class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="revision_text_part">{{i18n.ADD_REVISION_NOTE}}</label>
            <div class="controls">
                <textarea type="text" rows="1" id="revision_text_part"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="checkbox">{{i18n.AUTO_CHECKOUT}} <input type="checkbox" id="auto_checkout_part"/></label>
        </div>

        <div class="control-group">
            <label class="checkbox">{{i18n.AUTO_CHECKIN}} <input type="checkbox" disabled="disabled"
                                                                 id="auto_checkin_part"/></label>
        </div>

        <div class="control-group">
            <label class="checkbox">{{i18n.PERMISSIVE_UPDATE_PART}} <input type="checkbox"
                                                                           id="permissive_update_part"/></label>
        </div>
    </div>

    {{/importForm}}

    {{#importPreview}}

    {{#options}}
    <h5>{{i18n.CONFIRM_IMPORT_WITH_OPTION}}</h5>
    {{/options}}
    {{^options}}
    <h5>{{i18n.CONFIRM_IMPORT}}</h5>
    {{/options}}

    {{#checkout}}
    <p>{{i18n.AUTO_CHECKOUT}}</p>

    {{#partList.length}}
    <p>{{i18n.CHECKOUT_PART_LIST}}</p><ul>
    {{#partList}}
    <li>{{partNumber}}</li>
    {{/partList}}
    </ul>
    {{/partList.length}}
    {{#searchingForPartList}}
    <p>{{i18n.SEARCHING_FOR_PARTS}} <i class="fa fa-spin fa-refresh loader"></i></p>
    {{/searchingForPartList}}
    {{/checkout}}

    {{#checkin}}
    <p>{{i18n.AUTO_CHECKIN}}</p>
    {{/checkin}}
    {{#permissive}}
    <p>{{i18n.PERMISSIVE_UPDATE_PART}}</p>
    {{/permissive}}
    {{#revisionNote}}
    <p>{{i18n.REVISION_NOTE}}: {{revisionNote}}</p>
    {{/revisionNote}}

    {{/importPreview}}

</div>
<div class="modal-footer">
    {{#importForm}}
    <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
    <button type="button" disabled class="btn btn-primary import-preview-button">
        {{i18n.START_IMPORT}}
    </button>
    {{/importForm}}
    {{#importPreview}}
    <button type="button" class="btn btn-default back-button">{{i18n.CANCEL}}</button>
    <button type="button" class="btn btn-primary import-button">
        {{i18n.OK}}
    </button>
    {{/importPreview}}
</div>
