#content {
  width: 96%;
  margin: 30px auto 0 auto;
  text-align: center;

  > *{
    text-align: left;
  }
}

fieldset#admin {

  table {
    margin: 20px auto 5px 2px;
  }

  .actions-btn {
    margin: 15px 0;
    padding: 0;

    .btn {
      margin: 5px;
    }
  }
}