#general_presentation {
  max-width: 848px;
  text-align: center;
  padding: 0;
  margin: 0 auto 30px auto;
  background-color: darken(#f5f5f5, 5%);
  .box-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));

  #demo-scene {
    display: inline-block;
    margin: 0;
    height: 281px;

    canvas {
      height: 276px;
    }
  }

  #login_form_container {
    display: inline-block;
    border-radius: 0 4px 4px 0;
    float: right;
    padding: 20px 44px;
    margin: 0;
    background-color: white;

    h3 {
      text-align: center;
      font-size: 20px;
      color: #434C64;

      i {
        margin-right: 10px;
        margin-top: -2px;
      }
    }

    #login_form {
      margin-top: 15px;
      margin-bottom: 0px;
      text-align: left;

      &:login_button {
        width: 80px;
        margin-right: 20px;
      }

      label {
        color: #5B6B80;
      }

      input[type="text"], input[type="password"] {
        width: 250px;
      }
    }

    #login_button_container {
      float: right;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 720px) {
  #general_presentation {
    #login_form_container {
      float: none;
      border-radius: 4px;
      padding-right: 0;
      padding-left: 0;
      width: 100%;

      #login_form {
        text-align: center;
      }

      #login_button_container {
        float: none;
      }
    }

    #demo-scene {
      width: 100%;
    }
  }
}

#detail_presentation {
  margin: 0px auto;
  max-width: 1194px;

  .well {
    float: left;
    position: relative;
    border: none;
    border-radius: 0;
    background: none;
    height: 260px;
    width: 360px;
    box-shadow: none;
    border-top: 1px solid #cccccc;

    h2 {
      padding-bottom: 5px;
      line-height: 18px;
      color: #0088cc;
      font-size: 18px;
      margin-top: 0px;
    }

    h3 {
      line-height: 14px;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 5px;
      color: #666;
    }

    ul {
      margin-bottom: 0;
    }

    > div {
      position: absolute;
      bottom: 10px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1243px) {
  #detail_presentation {
    max-width: 796px;
  }
}

@media (max-width: 829px) {
  #detail_presentation {
    max-width: 398px;
  }
}