{{#editMode}}
<a class="fa fa-times delete-linked-item" title="{{i18n.DELETE_LINKED_ITEM}}"></a>
{{/editMode}}
<a target="_blank" class="reference">{{linkedDocument.getDisplayDocKey}}</a>
{{#commentEditable}}
{{#editMode}}
<a class="fa fa-pencil edit-linked-item-comment" title="{{i18n.ADD_COMMENT}}"></a>

<span class="comment">{{linkedDocument.getDocumentLinkComment}}</span>
<div name="comment">
    <input class="commentInput" type="text" value="{{linkedDocument.getDocumentLinkComment}}">
    <i class="delete-comment fa fa-times"></i>
    <i class="validate-comment fa fa-check"></i>
</div>
{{/editMode}}
{{^editMode}}
<span class="comment">{{linkedDocument.getDocumentLinkComment}}</span>
{{/editMode}}
{{/commentEditable}}
