<div id="query-builder-view">

    <h3>{{i18n.QUERY_SEARCH}}</h3>

    <div class="query-builder-body">
        <div id="alert"></div>

        <label>Select</label>
        <input type="text" id="select">
        <label>Where</label>
        <div id="where"></div>

        <label>Order by</label>
        <input type="text" id="orderBy">
        <label>Group by</label>
        <input type="text" id="groupBy">

        {{i18n.SAVE}}
        <div class="saveSwitch switch switch-small" data-on="success" data-off="danger">
            <input type="checkbox">
        </div>

        <input type="text" class="queryName input-xlarge" placeholder="{{i18n.QUERY_NAME}}" required>
    </div>

    <button type="button" class="btn btn-primary search-button">{{i18n.SEARCH}}</button>

</div>
