<div id="query-builder-view">

    <h3>{{i18n.QUERY_SEARCH}}</h3>

    <div class="query-builder-body">
        <div id="alert"></div>

        <div>
            <label>Or use an existing one ...</label>
            <select class="form-control query-list"></select>
            <button style="display:none" type="button" class="btn btn-danger delete-selected-query" title="{{i18n.DELETE}}">
                <i class="fa fa-times"></i>
            </button>
        </div>

        <div class="query-select-block">
            <label>Select</label>
            <input type="text" id="select" class="query-select-input">
        </div>

        <div class="query-where-block">
            <label>Where</label>
            <div id="where" class="query-where-builder"></div>
        </div>

        <div class="order-by-group-by-block">
            <div class="order-by-block">
                <label class="order-by-label">Order by</label>
                <input type="text" id="orderBy" class="order-by-input">
            </div>
            <div class="group-by-block">
                <input type="text" id="groupBy" class="group-by-input">
                <label class="group-by-label">Group by</label>
            </div>
        </div>


        <div class="query-save-block">
            <span class="query-save-label">{{i18n.SAVE}}</span>
            <div class="saveSwitch switch switch-small" data-on="success" data-off="danger">
                <input type="checkbox">
            </div>

            <input type="text" class="query-name-input queryName input-xlarge" placeholder="{{i18n.QUERY_NAME}}" required>
        </div>
    </div>

    <div class="query-actions-block">
        <button type="button" class="btn btn-primary search-button">{{i18n.SEARCH}}</button>
    </div>

</div>
