<div id="query-builder-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.ADVANCED_SEARCH}}</h3>
    </div>

    <div class="modal-body">
        <div id="alert"></div>

        <label>Select</label>
        <input type="text" id="select">
        <label>Where</label>
        <div id="where"></div>

        <label>Order by</label>
        <input type="text" id="orderBy">
        <label>Group by</label>
        <input type="text" id="groupBy">
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CANCEL}}</button>
        <button type="button" class="btn btn-primary search-button">{{i18n.SEARCH}}</button>
    </div>

</div>
