<script type="text/javascript">
    <!-- For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. -->
            var swfVersionStr = "9.0.124";
    <!-- To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
    var xiSwfUrlStr = "${expressInstallSwf}";
    var flashvars = {
        SwfFile : escape("{{uriResource}}?type=viewer&fpv=swf"),
        Scale : 0.6,
        ZoomTransition : "easeOut",
        ZoomTime : 0.5,
        ZoomInterval : 0.1,
        FitPageOnLoad : false,
        FitWidthOnLoad : true,
        PrintEnabled : true,
        FullScreenAsMaxWindow : false,
        ProgressiveLoading : true,
        localeChain: "fr_FR"
    };
    var params = {

    }
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "FlexPaperViewer";
    attributes.name = "FlexPaperViewer";
    swfobject.embedSWF(
            "/swf/FlexPaperViewer.swf", "flashContent",
            "540", "422",
            swfVersionStr, xiSwfUrlStr,
            flashvars, params, attributes);
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
</script>

<img height="10px" width="10px" id="btn" src="/images/plus.png" />
<a href="{{uriResource}}">{{fileName}}</a>
<a href="{{uriResource}}?type=viewer&fpv=pdf"><img style="border-style:none" height="20px" width="20px" src="/images/pdfIcon.png" /></a>
<div>
    <div id="flashContent">
        <p>
            To view this page ensure that Adobe Flash Player version
            9.0.124 or greater is installed.
        </p>
        <script type="text/javascript">
            var pageHost = ((document.location.protocol == "https:") ? "https://" :	"http://");
            document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                    + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
        </script>
    </div>
</div>