<div id="baseline_duplicate_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.DUPLICATE_BASELINE}}</h3>
    </div>

    <div class="modal-body">

        <form id="baseline_duplicate_form" class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="inputBaselineName">{{i18n.NAME}}</label>

                <div class="controls">
                    <input type="text" id="inputBaselineName" placeholder="{{i18n.NAME}}" required/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputBaselineType">{{i18n.TYPE}}</label>

                <div class="controls">
                    <select id="inputBaselineType" disabled>
                        <option value="LATEST">{{i18n.LATEST}}</option>
                        <option value="RELEASED">{{i18n.RELEASED}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputBaselineDescription">{{i18n.DESCRIPTION}}</label>

                <div class="controls">
                    <textarea id="inputBaselineDescription"></textarea>
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CANCEL}}</button>
        <button class="btn btn-primary" form="baseline_duplicate_form">{{i18n.CREATE_BASELINE}}</button>
    </div>

</div>