<div class="well">
    <input name="number" type="text" class="number-input"
           value="{{model.getNumber}}{{#released}} ({{i18n.RELEASED}}){{/released}}"
           title="{{i18n.NUMBER}}{{#released}} ({{i18n.RELEASED}}){{/released}}" readonly required/>
    <select name="version" class="input-small version-input" required></select>
    <select name="iteration" class="input-small iteration-input" required></select>
    {{#isForBaseline}}
    <input name="exclude" type="checkbox" class="exclude-input" title="{{i18n.EXCLUDE}}"/>
    {{/isForBaseline}}
</div>