<div class="row list-header" layout="row">
    <div flex>
        <md-text-float label="{{'SEARCH' | translate}} ({{count}} {{'ITEMS' | translate}})"
                       ng-model="filters.search" type="text"></md-text-float>
    </div>

    <div>
        <md-checkbox ng-model="filters.checkoutable"  title="{{'AVAILABLE' | translate}}">
            <i class="fa fa-eye"></i>
        </md-checkbox>
        <md-checkbox ng-model="filters.checkedOutByMe"  title="{{'CHECKED_OUT_BY_ME' | translate}}">
            <i class="fa fa-pencil"></i>
        </md-checkbox>
        <md-checkbox ng-model="filters.isReleased"  title="{{'RELEASED' | translate}}">
            <i class="fa fa-check"></i>
        </md-checkbox>
        <md-checkbox ng-model="filters.checkedOut"  title="{{'LOCKED' | translate}}">
            <i class="fa fa-lock"></i>
        </md-checkbox>
    </div>
</div>

<md-content layout-padding>
    <div class="output" ng-if="error">
        <output entry="error"></output>
    </div>
    <md-progress-linear ng-show="loadingParts" mode="indeterminate"></md-progress-linear>

    <md-list>
        <md-item ng-repeat="part in parts | filterParts:filters">
            <md-item-content ng-controller="PartController" layout-align="start start" ng-class="{opened: openedPart}">
                <div ng-show="part.busy" class="md-tile-left md-tile-top" align="center">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div ng-hide="part.busy" class="md-tile-left md-tile-top" align="center">
                    <i class="fa fa-check fa-lg" ng-show="part.isReleased"></i>
                    <i class="fa fa-eye fa-lg" ng-show="!part.isReleased
          && !part.checkoutUser"></i>
                    <i class="fa fa-pencil fa-lg" ng-show="part.checkoutUser === configuration.user"></i>
                    <i class="fa fa-lock"
                       ng-show="part.checkoutUser && part.checkoutUser !== configuration.user"></i>
                </div>

                <div class="md-tile-content">

                    <div class="cursor" ng-click="toggleOpenedPart()">
                        <i class="fa"
                           ng-class="{'fa-angle-down': openedPart, 'fa-angle-up': openedPart}"></i>

                        <h3>
                            {{part.partNumber}}  <span class="subtitle">{{part.version}}-{{part.iterations | last}}</span>
                            <br />
                            <small class="subtitle">
                                {{part.cadFileName || 'NO_CAD_FILE' | translate }}
                            </small>
                        </h3>

                        <h4 ng-show="part.checkoutUser">
                            {{'CHECKOUT_BY' | translate }} {{part.checkoutUser}} {{part.checkoutDate | timeago}}
                        </h4>
                    </div>

                    <div>
                        <part-actions class="slide-down" ng-show="openedPart"></part-actions>
                    </div>

                </div>

            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
    <md-progress-linear ng-show="loadingMore" mode="indeterminate"></md-progress-linear>
    <p class="empty-list" ng-show="!loadingParts && !parts.length">{{'NO_PARTS'|translate}}</p>

</md-content>

