<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <menu-button></menu-button>

            <md-button aria-label="" ng-click="showInBrowser()">
                <i class="fa fa-globe"></i> {{'WORKSPACE' | translate}} : {{workspace}}
                <md-tooltip>
                    {{'OPEN_IN_BROWSER'|translate}}
                </md-tooltip>
            </md-button>
        </h3>
    </div>
</md-toolbar>

<div class="fullscreen-wrapper offset-toolbar">
<div class="tabs default" layout="horizontal">
    <div flex ng-class="{selected:tabs.selected == tabs.documents}">
        <a ng-href="#/workspace/{{workspace}}/documents/folders">{{'DOCUMENTS' | translate}}</a>
    </div>
    <div flex ng-class="{selected:tabs.selected == tabs.parts}">
        <a ng-href="#/workspace/{{workspace}}/parts/list">{{'PARTS' | translate}}</a>
    </div>
</div>

<div ng-if="tabs.selected == tabs.documents">
    <div ng-controller="WorkspaceDocumentsController" ng-include="'js/workspace/workspace-documents.html'"></div>
</div>

<div ng-if="tabs.selected == tabs.parts">
    <div ng-controller="WorkspacePartsController" ng-include="'js/workspace/workspace-parts.html'"></div>
</div>
</div>
