<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <md-button aria-label="" ng-click="openMenu()" hide-md><i class="fa fa-bars"></i>
            </md-button>

            <md-button aria-label="" ng-click="showInBrowser()">
                <i class="fa fa-globe"></i> {{'WORKSPACE' | translate}} : {{workspace}}
                <md-tooltip>
                    {{'OPEN_IN_BROWSER'|translate}}
                </md-tooltip>
            </md-button>
        </h3>
    </div>
</md-toolbar>

<md-tabs md-theme="default" selected="data.selectedIndex" flex>
    <md-tab active="true" label="{{'DOCUMENTS' | translate }}">
        <div class="tab-documents">
            <div ng-if="data.selectedIndex == 0" ng-controller="WorkspaceDocumentsController" ng-include="'js/workspace/tab-documents.html'"></div>
        </div>
    </md-tab>
    <md-tab label="{{'PARTS' | translate }}">
        <div class="tab-parts">
            <div ng-if="data.selectedIndex == 1" ng-controller="WorkspacePartsController" ng-include="'js/workspace/tab-parts.html'"></div>
        </div>
    </md-tab>
</md-tabs>
