<div id="roles-modal" class="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.ROLES}}</h3>
    </div>
    <div class="modal-body">
        <div class="notifications"></div>

        <h4>{{i18n.NEW_ROLE}}</h4>

        <form id="form-new-role" class="form-inline">
            <input type="text" class="role-name" placeholder="{{i18n.ROLE_NAME}}" required/>
            <button id="new-role" class="btn btn-primary" form="form-new-role">{{i18n.ADD}}</button>
        </form>

        <hr/>

        <h4>{{i18n.MANAGE_ROLES}}</h4>

        <form id="form-roles">
        </form>

    </div>

    <div class="modal-footer">
        <a class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button id="save-roles" class="btn btn-primary" form="form-roles">{{i18n.SAVE}}</button>
    </div>
</div>
