<div class="task fold">
    <div class="task-topbar">
        <i class="fa fa-bars"></i>
        <button class="minimize-task" title="{{i18n.FOLD_TASK}}"><i class="fa fa-minus"></i></button>
        <p class="task-name" title="{{i18n.UNFOLD_TASK}}">
            {{#task.title}}{{task.title}}{{/task.title}}
            {{^task.title}}{{i18n.TASK_NAME_PLACEHOLDER}}{{/task.title}}
        </p>
        <input class="task-name" type="text" placeholder="{{i18n.TASK_NAME_PLACEHOLDER}}" value="{{task.title}}"
               readonly/>
        <button class="delete-task" title="{{i18n.DELETE_TASK}}"><i class="fa fa-times"></i></button>
    </div>
    <div class="task-content">
        <label for="instructions-{{cid}}">{{i18n.INSTRUCTIONS}}</label>
        <textarea id="instructions-{{cid}}" class="instructions" rows="2">{{task.instructions}}</textarea>
        <br/>
        <label for="role-{{cid}}">{{i18n.ROLE}}</label>
        <input id="role-{{cid}}-newRole" class="role role-input" placeholder="{{i18n.NEW_ROLES_NAME}}"/>
        <select id="role-{{cid}}" class="role role-select">
            {{#roles}}
                <option value="{{.}}">{{.}}</option>
            {{/roles}}
        </select>
        <button class="new-role" title="{{i18n.ADD}}">
            <i class="fa fa-plus"></i>
        </button>

        <button class="add-role" title="{{i18n.SAVE}}">
            <i class="fa fa-check"></i>
        </button>
    </div>
</div>
