<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
            <i class="fa fa-bars"></i>
        </md-button>
        <h2>
          <span>
              <i class="fa fa-cog"></i> {{'SETTINGS' | translate}}
            </span>
        </h2>
    </div>
</md-toolbar>

<div layout="column" layout-padding>

    <div>
        <md-button aria-label="" class="md-raised md-primary" ng-click="clearFolders();">
            {{'CLEAR_FOLDERS'|translate}}
        </md-button>
    </div>
    <div>
        <form ng-submit="save()">

            <p><em>No settings to configure yet</em></p>

            <div class="row">
                <md-button ng-disabled="true" aria-label="" class="md-raised md-primary">
                    {{'SAVE'|translate}}
                </md-button>
            </div>
        </form>
    </div>

</div>