<div id="webrtc_module_header">
    <h3 id="webrtc_module_title"></h3>

    <h3 id="webrtc_module_controls">
        <i id="webrtc_minimize_btn" class="fa fa-minus"></i>
        <i id="webrtc_restore_btn" class="fa fa-plus"></i>
        <i id="webrtc_fullscreen_btn" class="fa fa-arrows-alt"></i>
        <i id="webrtc_hangup_btn" class="fa fa-times"></i>
    </h3>
</div>
<div id="webrtc_module_body">
    <div id="webrtc_call_state"></div>
    <div id="webrtc_video_container">
        <video id="webrtc_local_video" autoplay="autoplay" class="webrtc_loading"></video>
        <video id="webrtc_remote_video" autoplay="autoplay" class="webrtc_loading"></video>
    </div>
</div>