<div id="document-management-menu">
    <ul class="nav well">
        <li class="nav-header workspace-nav">{{i18n.WORKSPACE}} : {{model.id}}</li>
        <li id="folder-nav"></li>
        <li id="tag-nav"></li>
        <li id="search-nav">{{i18n.SEARCH}}</li>
        <li class="nav-header objects-nav">{{i18n.REFERENCES}}</li>
        <li id="template-nav"></li>
        <li class="nav-header links-nav">{{i18n.LINKS}}</li>
        <li id="checked-out-nav"></li>
        <li id="task-nav"></li>
    </ul>
    <div id="config_spec_container" class="ConfigSpecSelector"></div>
</div>
<div id="document-management-content"></div>
