<md-table-container>
    <table md-table md-row-select multiple ng-model="selected">
        <thead md-head>
        <tr md-row>
            <th md-column></th>
            <th md-column><span>{{'NUMBER'|translate}}</span></th>
            <th md-column><span>{{'NATIVE_CAD_FILE'|translate}}</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="item" md-select-id="partKey" ng-repeat="item in displayedItems">
            <td md-cell>

                <i ng-if="item.releaseAuthor && !item.obsoleteAuthor" class="material-icons">check</i>
                <i ng-if="item.obsoleteAuthor" class="material-icons">broken_image</i>
                <i ng-if="!item.obsoleteAuthor && !item.releaseAuthor && !item.checkOutUser" class="material-icons">remove_red_eye</i>
                <i ng-if="item.checkOutUser && item.checkOutUser.login === configuration.login" class="material-icons">mode_edit</i>
                <i ng-if="item.checkOutUser && item.checkOutUser.login !== configuration.login" class="material-icons">lock_outline</i>
            </td>
            <td md-cell>
                 {{item.partKey}}
            </td>
            <td md-cell>
                <a ng-if="item.lastIteration.nativeCADFile" href="" ng-click="previewFile(item.lastIteration.nativeCADFile)">
                    {{ item.lastIteration.nativeCADFile | fileshortname }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

