<md-content layout-padding>
    <div layout="row" layout-padding>
        
        <md-button aria-label="" class="md-margin md-raised md-primary"  href="#/workspace/{{workspace}}/documents/folders/~{{configuration.login}}">
            <i class="path fa fa-home" ng-class="{selected:path==='~'+configuration.login}"></i>
            {{'HOME_FOLDER'|translate}}
            <md-tooltip>
                {{'HOME_FOLDER'|translate}}
            </md-tooltip>
        </md-button>

        <md-button aria-label="" class="md-margin md-raised md-primary"  href="#/workspace/{{workspace}}/documents/folders">
            <i class="fa fa-globe path" ng-class="{selected:!path}"></i>
            {{'ROOT_FOLDER'|translate}}
            <md-tooltip>
                {{'ROOT_FOLDER'|translate}}
            </md-tooltip>
        </md-button>

        <md-button aria-label="" ng-repeat="pathPart in pathParts" class="md-margin md-raised md-primary"  href="#/workspace/{{workspace}}/documents/folders/{{pathPart}}">
            <i class="path" ng-class="{'fa fa-folder-open-o':$last, 'fa fa-folder-o':!$last,'selected':$last}"></i>
            {{pathPart | folderShortName}}
            <md-tooltip>
                {{pathPart}}
            </md-tooltip>
        </md-button>

    </div>

    <div layout="row">

        <md-button aria-label="" ng-repeat="remoteFolder in remoteFolders" class="md-margin md-raised md-primary"  href="#/workspace/{{workspace}}/documents/folders/{{remoteFolder}}">
            <i class="fa fa-folder"></i>
            {{remoteFolder | folderShortName}}
        </md-button>

    </div>

</md-content>