<div layout-fill layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
                    <i class="material-icons">menu</i>
                </md-button>
                <i class="material-icons">cloud</i>

                <h2>
                    <span>
                        {{'WORKSPACE' | translate}} : {{workspaceId}}
                    </span>
                </h2>
            </div>
            <div layout="row">

                <div ng-if="!sync.running" class="md-caption">
                    <span ng-if="lastSyncDate">{{'LAST_SYNC_DATE' | translate}} {{lastSyncDate | localDateTimeAgo}}</span>
                    <span ng-if="!lastSyncDate"><a href ng-click="refresh()">{{'NOT_YET_SYNC' | translate}}</a></span>
                </div>

                <div ng-if="sync.running" class="md-caption">
                    {{'SYNC_RUNNING' | translate}} ...
                </div>

            </div>
        </div>
    </md-toolbar>

    <md-content>
        <div layout="row" layout-align="start center">
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'WORKSPACE' | translate}}
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button aria-label="{{'REFRESH_WORKSPACE_DATA'|translate}}" ng-click="refresh()">
                                <i class="material-icons">cached</i>
                                {{'REFRESH_WORKSPACE_DATA'|translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'FILTERS' | translate}}
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toggleFilters(true)">
                                <i class="material-icons">check_box</i>
                                {{'SELECT_ALL' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toggleFilters(false)">
                                <i class="material-icons">check_box_outline_blank</i>
                                {{'UNSELECT_ALL' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-repeat="filter in filters">
                            <md-input-container>
                                <md-checkbox ng-change="search()" ng-model="filter.value" aria-label="{{filter.name}}">
                                    {{filter.name}}
                                </md-checkbox>
                            </md-input-container>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()" ng-disabled="!selected.length">
                        {{'SELECTION' | translate}} ({{selected.length}})
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="actions.download(selected)">
                                <i class="material-icons">cloud_download</i>
                                {{'DOWNLOAD' | translate}} ...
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="actions.checkIn(selected)">
                                <i class="material-icons">input</i>
                                {{'CHECKIN' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.checkOut(selected)">
                                <i class="material-icons">mode_edit</i>
                                {{'CHECKOUT' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.undoCheckOut(selected)">
                                <i class="material-icons">settings_backup_restore</i>
                                {{'UNDO_CHECKOUT' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="selected.length=0">
                                <i class="material-icons">clear</i>
                                {{'RESET_SELECTION' | translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

            <md-table-pagination
                    md-boundary-links="true"
                    md-limit="query.limit"
                    md-limit-options="query.limits"
                    md-page="query.page"
                    md-total="{{filteredItemsCount}}"
                    md-on-paginate="paginate"
                    md-page-select
                    md-label="{{paginationLabels}}">
            </md-table-pagination>
        </div>

        <div layout="row" layout-align="start center">
            <div>
                <md-button
                        layout="row" layout-align="start center"
                        class="md-primary"
                        ng-class="{'md-accent':view === viewTypes.DOCUMENTS}"
                        ng-click="view = viewTypes.DOCUMENTS">
                    <i class="material-icons">description</i> <span>{{totalDocuments}}  {{'DOCUMENTS'|translate}}</span>
                </md-button>
            </div>
            <div>
                <md-button
                        layout="row" layout-align="start center"
                        class="md-primary"
                        ng-class="{'md-accent':view === viewTypes.PARTS}"
                        ng-click="view = viewTypes.PARTS">
                    <i class="material-icons">extension</i>
                    {{totalParts}} {{'PARTS'|translate}}
                </md-button>
            </div>
        </div>

        <div layout="row" layout-align="start center">

            <md-input-container layout="row" flex md-no-float class="md-block search-bar">
                <input placeholder="{{view.searchLabel}}" type="text" ng-change="search()" ng-model="pattern"/>
            </md-input-container>
        </div>

        <div ng-include="view.include" ng-if="!sync.running" layout="column"></div>

    </md-content>

    <md-content ng-if="sync.running" layout="row" layout-align="center center" layout-fill>
        <md-progress-circular md-diameter="96"></md-progress-circular>
    </md-content>
</div>
