<div class="accordion-heading">
    <a class="download" href="{{uriResource}}"><i class="fa fa-cloud-download"></i></a>
    {{#externalUriResource}}
        <a class="external-download" href="{{externalUriResource}}"><i class="fa-google-plus-square"></i></a>
    {{/externalUriResource}}
    <a class="accordion-toggle" data-toggle="collapse" href="#{{thisId}}">{{fileName}}</a>
</div>
<div id="{{thisId}}" class="accordion-body collapse">
    <div class="accordion-inner">
        {{#externalUriResource}}
            <i class="fa-google-plus-square"></i> <input type="text" class="input-xxlarge autoselect" readonly value="{{externalUriResource}}" /><input type="text" class="input-xxlarge autoselect" readonly value="{{shortenExternalUriResource}}" />
            <br /> <br />
        {{/externalUriResource}}
        {{{viewer}}}
    </div>
</div>