<md-progress-linear ng-if="part.busy" mode="determinate" ng-value="part.progress"></md-progress-linear>
<div class="row" ng-if="!part.busy">
    <label>{{'SAVE_TO' | translate}}</label>
    <i class="fa fa-folder-open"></i>
    <select ng-model="folder.path" class="cursor">
        <option ng-repeat="folder in folders | orderBy:'-favorite'" value="{{folder.path}}">
            {{folder.path | fileshortname}}
        </option>
    </select>
    <label class="hide-input small cursor">
        <i class="fa fa-plus"></i> {{'ADD_FOLDER' | translate}}
        <input file-change="addFolder($event,files)" type="file" webkitdirectory/>
    </label>
</div>
<div class="row" ng-if="!part.busy">

    <label>{{'BASELINE' | translate}}</label>
    <i class="fa fa-sitemap"></i>
    <select ng-model="options.baseline" class="cursor">
        <option ng-repeat="baseline in baselines" value="{{baseline.id}}">
            {{baseline.name}}
        </option>
    </select>

    <md-checkbox ng-model="options.force" aria-label="">
        {{'FORCE'|translate}}
    </md-checkbox>
    <md-checkbox ng-model="options.recursive" aria-label="">
        {{'RECURSIVE'|translate}}
    </md-checkbox>
</div>
<div class="md-actions" ng-if="!part.busy">
    <md-button aria-label="" ng-click="download()" class="md-primary md-raised">
        {{'DOWNLOAD' | translate}}
    </md-button>
    <md-button ng-if="!part.isReleased && !part.checkoutUser" aria-label="" ng-click="checkout()"
               class="md-primary md-raised">
        {{'CHECKOUT' | translate}}
    </md-button>
    <md-button ng-if="part.checkoutUser === configuration.user" aria-label="" ng-click="checkin()"
               class="md-primary md-raised">
        {{'CHECKIN' | translate}}
    </md-button>
    <md-button ng-if="part.checkoutUser === configuration.user" ng-click="undoCheckout()" aria-label=""
               class="md-primary md-raised">
        {{'UNDO_CHECKOUT' | translate}}
    </md-button>
</div>