<div class="modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3><span class="icon"></span>{{master.title}} ({{master.docKey}})</h3>
    </div>
    <div class="modal-body">
        <div id="alerts-{{view.cid}}"></div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-main-{{view.cid}}" data-toggle="tab">{{_.GENERAL}}</a></li>
                <li><a href="#tab-iteration-attributes" data-toggle="tab">{{_.ATTRIBUTES}}</a></li>
                <li><a href="#tab-iteration-files" data-toggle="tab">{{_.ATTACHED_FILES}}</a></li>
            </ul>
            <div id="form-{{view.cid}}" class="tab-content form-horizontal">
                <div id="tab-main-{{view.cid}}" class="tab-pane active">
                    <div id="templates-{{view.cid}}"></div>
                    <div id="workflows-{{view.cid}}"></div>
                    <div class="control-group">
                        <label class="control-label">{{_.REFERENCE}}</label>
                        <div class="controls">
                            {{reference}}
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">{{_.TITLE}}</label>
                        <div class="controls">
                            {{master.title}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-{{view.cid}}-description">{{_.DESCRIPTION}}</label>
                        <div class="controls">
                            <textarea type="text" class="input-xlarge description" id="form-{{view.cid}}-description" value="{{description}}"></textarea>
                            <p class="help-block">{{_.DOCUMENT_S_DESCRIPTION}}</p>
                        </div>
                    </div>
                </div>
                <div id="tab-iteration-attributes" class="tab-pane attributes">
                    <div id="iteration-attributes"></div>
                </div>
                <div id="tab-iteration-files" class="tab-pane files">
                    <div id="iteration-files"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" form="form-{{view.cid}}">
            {{_.OK}}
        </button>
        <a class="btn cancel" data-dismiss="modal">{{_.CANCEL}}</a>
    </div>
</div>
