
#disk_usage_chart , #entities_chart{
    width:450px;
    height:290px;
}
#cod_chart,#cop_chart{
    width:900px;
    height:340px;
    clear:both;
}
.chart {
    float: left;
}
.chart > svg{
    height: auto;
    width:auto;
}
.clear{
    clear:both;
}