<div class="modal-header">
    <i class="icon-copy"></i>
    <a class="close" data-dismiss="modal">×</a>

    <h3>Copie du workflow : {{workflow.id}}</h3>
</div>
<div class="modal-body">
    <label for="workflow-copy-name">{{i18n.RENAME_WORKFLOW_COPY}}</label>
    <input id="workflow-copy-name" type="text" value="{{workflow.id}}" required/>
</div>
<div class="modal-footer">
    <button id="cancel-copy-workflow-btn" class="btn">{{i18n.CANCEL}}</button>
    <button id="save-copy-workflow-btn" class="btn btn-primary">{{i18n.COPY}}</button>
</div>