<td><input type="checkbox"/></td>
<td class="reference change_issue_name"><i class="fa fa-bug"></i>{{model.getName}}</td>
<td><a class="assigned-user-popover">{{model.getAssigneeName}}</a></td>
<td>{{model.getPriority}}</td>
<td>{{model.getCategory}}</td>
<td><a class="author-popover">{{model.getAuthorName}}</a></td>
<td><a class="date-popover">{{model.getFormattedCreationDate}}</a></td>
<td class="acl-info">
    {{#model.isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/model.isReadOnly}}
    {{#model.isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/model.isFullAccess}}
</td>
