<div id="product-management-menu">
    <ul class="nav well">
        <li class="nav-header">{{i18n.WORKSPACE}} : {{model.id}}</li>
        <li id="part-nav"></li>
        <li id="tag-nav"></li>
        <li id="product-nav"></li>
        <li id="configuration-nav"></li>
        <li id="baselines-nav"></li>
        <li id="product-instances-nav"></li>
        <li class="nav-header">{{i18n.OBJECTS}}</li>
        <li id="part-template-nav"></li>
        <li class="nav-header">{{i18n.LINKS}}</li>
        <li id="checkedout-nav"></li>
    </ul>
</div>
<div id="product-management-content"></div>
