<div id="advanced_search_modal" class="modal hide fade" tabindex="-1" role="dialog"
     aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.ADVANCED_SEARCH}}</h3>
    </div>

    <div class="modal-body">

        <div class="tabs">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-search-main" data-toggle="tab">{{i18n.GENERAL}}</a>
                </li>
                <li>
                    <a href="#tab-search-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a>
                </li>
                <li>
                    <a href="#tab-search-tags" data-toggle="tab">{{i18n.TAGS}}</a>
                </li>
                <li>
                    <a href="#tab-search-text" data-toggle="tab">{{i18n.CONTENT}}</a>
                </li>
            </ul>

            <form id="advanced_search_form" class="form-horizontal tab-content">

                <div class="tab-pane active" id="tab-search-main">

                    <div class="control-group">
                        <label class="control-label" for="search-number">{{i18n.PART_NUMBER}}</label>

                        <div class="controls">
                            <input type="text" id="search-number" class="input-medium">

                            <p class="help-block">{{i18n.PART_NUMBER_HELP}}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="search-name">{{i18n.PART_NAME}}</label>

                        <div class="controls">
                            <input type="text" id="search-name" class="input-medium">

                            <p class="help-block">{{i18n.PART_NAME_HELP}}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="search-type">{{i18n.TYPE}}</label>

                        <div class="controls">
                            <select id="search-type">
                                <option></option>
                            </select>

                            <p class="help-block">{{i18n.PART_TYPE_HELP}}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="search-version">{{i18n.VERSION}}</label>

                        <div class="controls">
                            <input type="text" id="search-version" class="input-medium">

                            <p class="help-block">{{i18n.PART_VERSION_HELP}}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="search-author">{{i18n.AUTHOR}}</label>

                        <div class="controls">
                            <select id="search-author">
                                <option></option>
                            </select>

                            <p class="help-block">{{i18n.AUTHOR_PART_HELP}}</p>
                        </div>
                    </div>

                    <div class="control-group creationDates">
                        <label class="control-label" for="search-creation-from">{{i18n.CREATION_DATE}}</label>

                        <div class="controls">
                            <p>{{i18n.FROM}}</p> <input id="search-creation-from" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true"/><br/>
                            <p>{{i18n.TO}}</p> <input id="search-creation-to" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true" />
                            <p class="help-block"> <i class="fa fa-clock-o">{{timeZone}}</i></p>
                        </div>
                    </div>

                    <div class="control-group modificationDates">
                        <label class="control-label" for="search-modification-from">{{i18n.MODIFICATION_DATE}}</label>

                        <div class="controls">
                            <p>{{i18n.FROM}}</p> <input id="search-modification-from" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true" /><br/>
                            <p>{{i18n.TO}}</p> <input id="search-modification-to" type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true" />
                            <p class="help-block"> <i class="fa fa-clock-o">{{timeZone}}</i></p>
                        </div>
                    </div>

                    <div class="control-group creationDates">
                        <label class="control-label">{{i18n.STANDARD_PART}}</label>

                        <div class="controls">
                            <input name="search-standardPart" type="radio" value="all" checked>
                            {{i18n.STANDARD_PART_ALL}}
                            <input name="search-standardPart" type="radio" value="false"> {{i18n.STANDARD_PART_FALSE}}
                            <input name="search-standardPart" type="radio" value="true"> {{i18n.STANDARD_PART_TRUE}}
                        </div>
                    </div>

                </div>

                <div id="tab-search-attributes" class="tab-pane attributes">

                    <label class="control-label" for="template-attributes-helper">{{i18n.PART_TEMPLATE}}</label>

                    <div class="controls">
                        <select id="template-attributes-helper">
                            <option></option>
                        </select>
                    </div>
                    <br/>
                    <a class="btn btn-default" id="search-add-attributes">{{i18n.APPEND}}</a>

                    <div id="attributes-list" class="attributes-edit"></div>
                </div>

                <div id="tab-search-tags" class="ModalTabsPane tab-pane">
                    <div class="control-group">
                        <label class="control-label" for="search-tags">{{i18n.TAGS}}</label>

                        <div class="controls">
                            <input type="text" id="search-tags" class="input-medium">

                            <p class="help-block">{{i18n.TAGS_HELP}}</p>
                        </div>
                    </div>

                </div>
                <div id="tab-search-text" class="ModalTabsPane tab-pane advanced ">
                    <div class="control-group">
                        <label class="control-label" for="search-content">{{i18n.CONTENT}}</label>

                        <div class="controls">
                            <textarea id="search-content" class="input-medium"></textarea>

                            <p class="help-block">{{i18n.CONTENT_HELP}}</p>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CANCEL}}</button>
        <button class="btn btn-primary" form="advanced_search_form">{{i18n.SEARCH}}</button>
    </div>

</div>
