<div class="accordion-heading">
    <a class="download" href="{{uriResource}}"><i class="icon-cloud-download"></i></a>
    <a class="accordion-toggle" data-toggle="collapse" href="#{{thisId}}">{{fileName}}</a>
</div>
<div id="{{thisId}}" class="accordion-body collapse">
    <div class="accordion-inner">
        <h5>{{organization.title}}</h5>
        <ul>
            {{#organization.activities}}
                <li><a target="_blank" href="{{uriResource}}/{{resourceHref}}?type=viewer">{{title}}</a></li>
            {{/organization.activities}}
        </ul>
    </div>
</div>