#menu {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #D6DCE3;
  box-shadow: 1px 0px 2px #9b9b9b;

  .nav-header {
    font-size: 12px;
    padding: 3px 10px;
    color: #738695;
  }


  .nav-list {

    a {
      color: #333;
      font-size: 12px;
    }

    .active > a {
      background-image: linear-gradient(#5EA7E1, #2F7CCD);
      border: 1px solid #519ADA;
      color: #fff;
    }
  }


}

