&.edition{
    div.lovValues{
        display: block;
    }

    span.lovItemName{
        display:none;
    }

    input.lovItemNameInput{
        display: block;
    }

    span.lovNumberOfValue{
        display: none;
    }
}
