div#iteration-modification-notifications {

    div.modification-notification-group {
        margin-top: 10px;
        padding: 10px;
        padding-bottom: 0px;
    }

    div.modification-notification {
        padding: 10px;
    }

    i.fa-circle {
        float: left;
        margin-top: 3px;
        color:#62697B;
    }

    div.modification-notification-details, div.comment {
        margin-left: 20px;
    }

    div.comment-italic {
        font-style:italic;
    }

    div.comment input#acknowledgement-comment {
        width: calc(~"100% - 152px");
    }

    div.comment button.action-acknowledge {
        cursor: pointer;
    }

}
