#part-modal{

  #tab-part-links {
    min-height: 280px;
  }
  #tab-part-files{
    .conversion-status{
      margin: 18px 0 0 4px;
      button.reload{
        float:right;

      }
    }
  }
  #iteration-components{

    min-height:250px;

    input#createPart{
      float:left;
    }

    input#existingParts{
      float:right;
    }

    .well{
      float: left;
      padding:9px;
      width: 95%;

      a.remove {

        margin: 5px;
        float: left;
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;

        &:hover {
          text-decoration: none;
          color: #F00;
          opacity: 1;
        }
      }
      input{

        &[name="number"]{
          width:190px;
        }

        &[name="name"]{
          width:190px;
        }

        &[name="amount"]{
          width:20px;
        }

        &[name="comment"]{
          width:120px;
        }
        &[name="newUnit"]{
          width: 60px;
        }
        &[list="unityChoice"] {
          margin: 10px 22px;
        }
      }
      select[name="unitMeasure"]{
        width:72px;
      }

      .add-cadInstance{
        margin-top: 8px;
        cursor: pointer;
        opacity: 0.5;
        float: right;
        &:hover{
          opacity: 1;
        }
      }
      .collapse-cadInstance{
        float: right;
        margin-top: 8px;
        cursor: pointer;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
      }

      .cadInstances{
        float:left;
        clear:both;
        .cadInstance{
          h5{
            font-weight:normal;
          }
          float:left;
          clear:both;
          .coord-group{
            float:left;
            width:33%;
            input.coord{
              width:20%;
            }
            select{
              width:90%;
            }
            .remove-cadInstance{
              margin-top: 42px;
              float: left;
              cursor: pointer;
              opacity: 0.5;
              &:hover{
                opacity: 1;
              }
            }
          }

          &:only-child{
            .remove-cadInstance{
              display: none;
            }
          }
        }
      }


    }
  }


  .pager {
    margin: 0;
  }

}
