<thead>
<tr>
    <th></th>
    <th><input type="checkbox" class="toggle-checkboxes"/></th>
    <th></th>
    <th>{{i18n.PART_NUMBER}}</th>
    <th>{{i18n.VERSION}}</th>
    <th>{{i18n.ITERATION}}</th>
    <th>{{i18n.TYPE}}</th>
    <th>{{i18n.PART_NAME}}</th>
    <th>{{i18n.AUTHOR}}</th>
    <th>{{i18n.MODIFICATION_DATE}}</th>
    <th>{{i18n.LIFECYCLE_STATE}}</th>
    <th>{{i18n.CHECKOUT_BY}}</th>
    <th>{{i18n.ACL}}</th>
    <th><i class="fa fa-globe" title="{{i18n.SHARE}}"></i></th>
    <th><i class="fa fa-paperclip" title="{{i18n.FILES}}"></i></th>
    <th><i class="fa fa-video-camera" title="{{i18n.VISUALIZE_ASSEMBLY}}"></i></th>
</tr>
</thead>
<tbody class="items"></tbody>
