<div id="product_creation_modal" class="modal hide fade no-overflow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.NEW_PRODUCT}}</h3>
    </div>
    <div class="modal-body">
        <form id="product_creation_form" class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="inputProductId">Product Id</label>
                <div class="controls">
                    <input type="text" id="inputProductId" placeholder="Product Id" required />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>
                <div class="controls">
                    <textarea id="inputDescription" placeholder="Description" rows="3"></textarea>
                </div>
            </div>

            <div class="control-group" id="inputPartNumberWrapper">
                <label class="control-label" for="inputPartNumber">Part Number</label>
                <div class="controls">
                    <input type="text" id="inputPartNumber" placeholder="Part Number" data-provide="typeahead" required />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a id="show_part_creation_fields">Create a new part</a>
                    <a id="hide_part_creation_fields">Cancel part creation</a>
                </div>
            </div>

            <div id="part_creation_fields">

                <div class="control-group">
                    <label class="control-label" for="inputNewPartNumber">Part Number</label>
                    <div class="controls">
                        <input type="text" id="inputNewPartNumber" placeholder="Part Number" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputNewPartName">Part Name</label>
                    <div class="controls">
                        <input type="text" id="inputNewPartName" placeholder="Part Name" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputNewPartDescription">Part Description</label>
                    <div class="controls">
                        <textarea id="inputNewPartDescription" placeholder="Description" rows="3"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputNewPartStandard">Standard part</label>
                    <div class="controls">
                        <input type="checkbox" id="inputNewPartStandard" />
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CANCEL}}</button>
        <button class="btn btn-primary" form="product_creation_form">{{i18n.CREATE_PRODUCT}}</button>
    </div>
</div>