.modal {
	max-height: none;
	overflow: visible;
	.modal-body {
		max-height: 366px;
		overflow: auto;
		.tab-content {
			overflow: visible;
		}
	}
}
.navbar {
	.nav > li > a {
		color: white;
	}
	.nav > li > a:hover {
		font-weight: bold;
	}
	.icon-brand-plm {
		margin-right: 8px;
		float: left;
	}
}
:required:after {
	content: " *";
	color: @errorText;
}
#home_link {
	background: no-repeat left;
	background-image: url("../images/icon-place-home.png");
	padding: 20px;
	opacity: .8;
}
#home_link:hover {
	opacity: 1;
}

html, body, #workspace {
	height: 100%;
}
.navbar-fixed-top {
	position: static;
	margin-bottom: 0;
}
#workspace {
	display: table;
	display: table;
	padding: 0;
	width: 100%;
	> * {
		display: table-cell;
		vertical-align: top;
	}
}
.document-new-attribute-list {
	.add {
		margin-bottom: 8px;
	}
	.remove {
		.close;
		&:hover {
			color: @red;
			opacity: 1;
		}
	}
	.document-new-attribute-list-item {
		display: table;
		> * {
			display: table-cell;
			vertical-align: middle;
			> * {
				width: auto;
				margin: 4px;
			}
		}
	}
}
@media (max-width: 980px) {
#workspace {
	> * {
		display: table-row;
		vertical-align: top;
	}
}
}
