#home_link {
	background: no-repeat center;
	background-image: url("../images/home.png");
	padding: 20px;
	opacity: .8;
}
#home_link:hover {
	opacity: 1;
}
#workspace {
	margin-top: 40px;
	padding: 0;
	width: 100%;
	> nav {
		float: left;
		background: @navBackground;
		box-shadow: 2px 0 2px darken(@navBackground, 5%);
		width: 257px;
		li {
			clear: both;
		}
	}
	> .content {
		margin-left: 257px;
		.actions {
			background: @actionBarBackground;
			box-shadow: 0 2px 2px darken(@actionBarBackground, 5%);
			padding: 16px;
			.btn {
				height: 32px;
				width: 32px;
				background: center no-repeat;
			}
			.btn:hover {
				background-color: #EEE;
			}
			.new {
				.icon-document-new;
			}
			.delete {
				.icon-delete;
			}
			.checkout {
				.icon-checkout;
			}
			.undocheckout {
				.icon-undocheckout;
			}
			.checkin {
				.icon-checkin;
			}
		}
	}
}
