.icon-mixin {
	background: no-repeat center;
	padding: 4px 24px 4px 0;
}

// Nav

.icon-nav-documents {
	.icon-mixin;
	background-image:  url("../images/icon-nav-documents.png");
}
.icon-nav-folder {
	.icon-mixin;
	background-image: url("../images/icon-nav-folder.png");
}
.icon-nav-folder-opened {
	.icon-mixin;
	background-image: url("../images/icon-nav-folder-opened.png");
}
.icon-nav-folder-home {
	.icon-mixin;
	background-image: url("../images/icon-nav-user-home.png");
}
.icon-nav-folder-status-closed {
	.icon-mixin;
	padding: 4px 16px 4px 0;
	background-image: url("../images/icon-nav-bullet-right.png");
}
.icon-nav-folder-status-opened {
	.icon-mixin;
	padding: 4px 16px 4px 0;
	background-image: url("../images/icon-nav-bullet-down.png");
}
.icon-nav-tags {
	.icon-mixin;
	background-image: url("../images/icon-nav-tags.png");
}
.icon-nav-tag {
	.icon-mixin;
	background-image: url("../images/icon-nav-tag.png");
}

// Actions

.icon-action-delete {
	.icon-mixin;
	background-image: url("../images/icon-action-edit-delete.png");
}
.icon-action-edit {
	.icon-mixin;
	background-image: url("../images/icon-action-edit.png");
}
.icon-action-document-new {
	.icon-mixin;
	background-image: url("../images/icon-action-document-new.png");
}
.icon-action-checkout {
	.icon-mixin;
	background-image: url("../images/icon-action-document-checkout.png");
}
.icon-action-undocheckout {
	.icon-mixin;
	background-image: url("../images/icon-action-document-undocheckout.png");
}
.icon-action-checkin {
	.icon-mixin;
	background-image: url("../images/icon-action-document-checkin.png");
}

// Menu

.icon-menu-edit {
	.icon-mixin;
	background-image: url("../images/icon-menu-edit.png");
}
.icon-menu-delete {
	.icon-mixin;
	background-image: url("../images/icon-menu-edit-delete.png");
}
.icon-menu-folder-new {
	.icon-mixin;
	background-image: url("../images/icon-menu-folder-new.png");
}
.icon-menu-document-new {
	.icon-mixin;
	background-image: url("../images/icon-menu-document-new.png");
}
.icon-menu-tag-new {
	.icon-mixin;
	background-image: url("../images/icon-menu-tag-new.png");
}

