@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

body {
	padding-top: 60px;
}
#workspace {
	.container-fluid;
}

#folders {
	list-style-type: none;
	> .folder:first-child {
		> .name {
			.icon {
				background-image:  url("../images/documents.png");
			}
		}
	}
}
.folder {
	> .name {
		display: inline-block;
		padding: 4px;
		.icon, .status {
			display: inline-block;
			background: no-repeat center;
			height: 24px;
		}
		.status {
			background-image: url("../images/bullet-right.png");
			width: 16px;
		}
		.icon {
			background-image: url("../images/folder.png");
			width: 24px;
		}
	}
	> .name:hover {
		background-color: #EEEEEE;
		text-decoration: none;
	}
}
.folder.open {
	> .name .status {
		background-image: url("../images/bullet-down.png");
	}
}
.folder.home > .name .icon {
    background-image: url("../images/user-home.png");
}
