@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

body {
	padding-top: 60px;
}
#workspace {
	.container-fluid;
	.nav-header {
		clear: both;
	}
}

#folders {
	list-style-type: none;
	.folder {
		clear: both;
		> .header {
			float: left;
			.icon, .status {
				display: block;
				height: 28px;
				line-height: 28px;
				float: left;
			}
			.icon, .status {
				background: no-repeat center;
			}
			.status {
				background-image: url("../images/bullet-right.png");
				width: 16px;
			}
			.icon {
				background-image: url("../images/folder.png");
				width: 24px;
			}
			.name {
				display: block;
				float: left;
				padding: 0 4px;
				line-height: 28px;
			}
			.actions {
				display: none;
			}
		}
		> .header:hover {
			background-color: #EEEEEE;
			.actions {
				display: block;
				float: left;
				border: none;
				.dropdown-toggle {
					border: solid #CCCCCC 1px;
					box-shadow: none;
					background: #CCCCCC;
				}
				.dropdown-toggle:hover {
					background: #CCCCCC;
					border-color: #AAAAAA;
				}
				.new-folder a:before {
					content: url("../images/folder-new.png");
				}
				.edit a:before {
					content: url("../images/edit.png");
				}
				.delete a:before {
					content: url("../images/edit-delete.png");
				}
			}
		}
		.subfolders {
			list-style-type: none;
			clear: both;
		}
	}
	.folder.open {
		> .name .status {
			background-image: url("../images/bullet-down.png");
		}
		> .subfolders {
			overflow: visible;
		}
	}
	> .folder:first-child {
		> .name .icon {
			background-image:  url("../images/documents.png");
		}
	}
	.folder.home > .name .icon {
		background-image: url("../images/user-home.png");
	}
}
.modal.new-folder {
	h3:before {
		content: url("../images/folder-new.png");
	}
}
