<div id="prompt_modal" class="modal hide fade">
    <div class="modal-header">
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
        <p>{{question}}</p>
        <label class="control-label" for="prompt_input">{{label}}</label>
        <{{#inputSpecified}}{{inputSpecified}}{{/inputSpecified}}{{^inputSpecified}}input{{/inputSpecified}} type="{{type}}" class="input-xlarge" id="prompt_input" value="{{defaultValue}}" />
    </div>
    <div class="modal-footer">
        <a href="#" id="cancelPrompt" class="btn .cancel">{{cancelButton}}</a>
        <a href="#" id="submitPrompt" class="btn btn-primary">{{primaryButton}}</a>
    </div>
</div>
