<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>PDF2SWF_HOME</param-name>
        <!--<param-value>/usr/local/bin</param-value>-->
        <!--<param-value>C:\tools\SWFTools</param-value>-->
        <param-value>/usr/bin</param-value>
    </context-param>
    <context-param>
        <param-name>OO_HOME</param-name>
        <!--<param-value>C:\Program Files\OpenOffice.org 3</param-value>-->
        <param-value>/usr/lib/openoffice</param-value>
        <!--<param-value>/opt/openoffice.org3</param-value>-->
    </context-param>
    <context-param>
        <param-name>OO_PORT</param-name>
        <param-value>8100</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>RegistrationForm</servlet-name>
        <url-pattern>/registrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpPage</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.docdoku.server.http.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminWorkspaceFilter</filter-name>
        <filter-class>com.docdoku.server.http.AdminWorkspaceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminWorkspaceFilter</filter-name>
        <url-pattern>/admin/workspace/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/document-management/*</url-pattern>
        <url-pattern>/product-structure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWorkspaceServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.CreateWorkspaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersGroupServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.ManageUsersGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkspaceEditionFormServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.WorkspaceEditionFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWorkspaceServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.UpdateWorkspaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DMServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.DMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.PSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.UploadDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <jsp-file>/registrationForm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HelpPage</servlet-name>
        <jsp-file>/help/help.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>/apps/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/action/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWorkspaceServlet</servlet-name>
        <url-pattern>/admin/createWorkspace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupServlet</servlet-name>
        <url-pattern>/admin/createGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/admin/workspace/manageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersGroupServlet</servlet-name>
        <url-pattern>/admin/workspace/manageUsersGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkspaceEditionFormServlet</servlet-name>
        <url-pattern>/admin/workspace/workspaceEditionForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWorkspaceServlet</servlet-name>
        <url-pattern>/admin/workspace/updateWorkspace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/admin/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/admin/workspace/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documents/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DMServlet</servlet-name>
        <url-pattern>/document-management/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSServlet</servlet-name>
        <url-pattern>/product-structure/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/calendar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <!--    <security-constraint>
        <display-name>Web App Pages</display-name>
        <web-resource-collection>
            <web-resource-name>Pages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>-->
    <security-constraint>
        <display-name>HTTP actions</display-name>
        <web-resource-collection>
            <web-resource-name>Action command</web-resource-name>
            <url-pattern>/action/vote</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>REST Resources</display-name>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/documents/*</url-pattern>
            <url-pattern>/files/*</url-pattern>
            <url-pattern>/calendar/*</url-pattern>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>docdokuRealm</realm-name>
    </login-config>
    <security-role>
        <description>All the regular users</description>
        <role-name>users</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!--
<login-config>
    <auth-method>FORM</auth-method>
    <realm-name>docdokuRealm</realm-name>
    <form-login-config>
        <form-login-page>/WEB-INF/login.jsp</form-login-page>
        <form-error-page>/WEB-INF/login.jsp</form-error-page>
    </form-login-config>
</login-config>
-->
</web-app>
