<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>PDF2SWF_HOME</param-name>
        <param-value>/usr/local/bin</param-value>
        <!--<param-value>C:\tools\SWFTools</param-value>-->
       <!--<param-value>/usr/bin</param-value>-->
    </context-param>
    <context-param>
        <param-name>OO_HOME</param-name>
        <!--<param-value>C:\Program Files\OpenOffice.org 3</param-value>-->
        <param-value>/opt/openoffice.org3</param-value>
    </context-param>
    <context-param>
        <param-name>OO_PORT</param-name>
        <param-value>8100</param-value>
    </context-param>
    <listener>
        <listener-class>com.docdoku.server.http.HttpSessionCollector</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/faces/error.xhtml</location>
    </error-page>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.docdoku.server.http.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/faces/admin/*</url-pattern>
        <url-pattern>/document-management/*</url-pattern>
        <url-pattern>/product-management/*</url-pattern>
        <url-pattern>/product-structure/*</url-pattern>
        <url-pattern>/visualization/*</url-pattern>
        <url-pattern>/home</url-pattern>
    </filter-mapping>    
    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DMServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.DMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PSServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.PSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PMServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.PMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizationServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.VisualizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <servlet-class>com.docdoku.server.http.UploadDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>/apps/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/action/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documents/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DMServlet</servlet-name>
        <url-pattern>/document-management/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSServlet</servlet-name>
        <url-pattern>/product-structure/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PMServlet</servlet-name>
        <url-pattern>/product-management/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizationServlet</servlet-name>
        <url-pattern>/visualization/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/calendar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDownloadServlet</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
<!--    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>-->
    <security-constraint>
        <display-name>HTTP actions</display-name>
        <web-resource-collection>
            <web-resource-name>Action command</web-resource-name>
            <url-pattern>/action/vote</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>REST Resources</display-name>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/documents/*</url-pattern>
            <url-pattern>/files/*</url-pattern>
            <url-pattern>/calendar/*</url-pattern>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>users</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>docdokuRealm</realm-name>
    </login-config>
    <security-role>
        <description>All the regular users</description>
        <role-name>users</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
