<i class="fa fa-bars sortable-handler" {{#frozenMode}}style="visibility: hidden"{{/frozenMode}}></i>
<div class="controls">
    <a class="fa fa-times" {{^frozenMode}}{{#model.locked}}style="visibility: hidden"{{/model.locked}}{{/frozenMode}}{{#frozenMode}}style="visibility: hidden"{{/frozenMode}}></a>
</div>
<div class="controls">
    <input type="text" class="input-xlarge name" placeholder="{{i18n.NAME}}" value="{{model.name}}" required
    {{#frozenMode}}disabled="disabled"{{/frozenMode}} {{^frozenMode}}{{#model.locked}}disabled="disabled"{{/model.locked}}{{/frozenMode}} />
</div>

{{#model.locked}}
<div class="controls type">
</div>
{{/model.locked}}
{{^model.locked}}
{{^frozenMode}}
<div class="controls">
    <select class="type">
        <option value="TEXT">{{i18n.TEXT}}</option>
        <option value="BOOLEAN">{{i18n.BOOLEAN}}</option>
        <option value="DATE">{{i18n.DATE}}</option>
        <option value="NUMBER">{{i18n.NUMBER}}</option>
        <option value="URL">{{i18n.URL}}</option>
        <optgroup label="{{i18n.LOV}}">
            {{#lovs}}
            <option value="{{getLOVName}}">{{getLOVName}}</option>
            {{/lovs}}
        </optgroup>
    </select>
</div>
{{/frozenMode}}
{{#frozenMode}}
<div class="controls type">
</div>
{{/frozenMode}}
{{/model.locked}}
