{{> attributeListItem}}
<div class="controls shift-margin">
    {{#availability.value}}
    <input type="date" class="input-xlarge value" value="{{model.value}}"
    {{#model.mandatory}}required{{/model.mandatory}}/>
    {{#availability.displayRequired}}
        {{#model.mandatory}}*{{/model.mandatory}}
    {{/availability.displayRequired}}
    {{/availability.value}}
    {{^availability.value}}
    {{model.value}}
    {{/availability.value}}
    <i class="fa fa-clock-o" title="{{timeZone}}"></i>
</div>
