{{#lockMode}}
<i class="fa fa-bars sortable-handler{{#model.locked}} shift-margin{{/model.locked}}"></i>
{{^model.locked}}
<div class="controls">
    <a class="fa fa-times"></a>
</div>
{{/model.locked}}
{{/lockMode}}
<div class="controls">
    <input type="text" class="input-xlarge name" placeholder="{{i18n.NAME}}" value="{{model.name}}" required
    {{^lockMode}}disabled="disabled"{{/lockMode}} {{#lockMode}}{{#model.locked}}disabled="disabled"{{/model.locked}}{{/lockMode}} />
</div>

{{#model.locked}}
<div class="controls type">
</div>
{{/model.locked}}
{{^model.locked}}
{{#lockMode}}
<div class="controls">
    <select class="type">
        <option value="TEXT">{{i18n.TEXT}}</option>
        <option value="BOOLEAN">{{i18n.BOOLEAN}}</option>
        <option value="DATE">{{i18n.DATE}}</option>
        <option value="NUMBER">{{i18n.NUMBER}}</option>
        <option value="URL">{{i18n.URL}}</option>
        <optgroup label="{{i18n.LOV}}">
            {{#lovs}}
            <option value="{{getLOVName}}">{{getLOVName}}</option>
            {{/lovs}}
        </optgroup>
    </select>
</div>
{{/lockMode}}
{{^lockMode}}
<div class="controls type">
</div>
{{/lockMode}}
{{/model.locked}}
