{{> attributeListItem}}
<div class="controls shift-margin">
    {{#availability.value}}
    <input type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true" class="input-xlarge value" value="{{model.value}}"
    {{#model.mandatory}}required{{/model.mandatory}}/>
    {{#availability.displayRequired}}
        {{#model.mandatory}}*{{/model.mandatory}}
    {{/availability.displayRequired}}
    {{/availability.value}}
    {{^availability.value}}
    {{model.value}}
    {{/availability.value}}
    <i class="fa fa-clock-o" title="{{timeZone}}"></i>
</div>
