<div id="share-modal" class="modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-horizontal">

            <h4>{{i18n.PUBLIC_ACCESS_TITLE}}</h4>
            <hr/>
            <div class="control-group">
                <label class="control-label">{{i18n.PUBLIC_SHARE}}</label>

                <div class="controls">
                    <div class="public-shared-switch switch switch-small" data-on="success" data-off="danger">
                        <input type="checkbox" checked/>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{i18n.PERMALINK}}</label>

                <div class="controls">
                    <a href="{{permalink}}" target="_blank">{{permalink}}</a>
                </div>
            </div>

            <hr/>

            <h4>{{i18n.PRIVATE_SHARE_TITLE}}</h4>
            <hr/>
            <div id="private-share">
                <div class="control-group">
                    <label class="control-label">{{i18n.PASSWORD}}</label>

                    <div class="controls">
                        <input type="password" class="password"/>
                    </div>
                </div>
                <div id="password-control" class="control-group">
                    <label class="control-label">{{i18n.CONFIRM_PASSWORD}}</label>

                    <div class="controls">
                        <input type="password" class="confirm-password"/>
                        <span class="help-block bad-password">{{i18n.PASSWORD_NOT_CONFIRMED}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{i18n.EXPIRE_DATE}}</label>

                    <div class="controls">
                        <input type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-language="{{language}}" data-date-today-highlight="true" class="expire-date"/>
                        <span class="help-block"><i class="fa fa-clock-o"></i> {{timeZone}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{i18n.FORM_HELPER}}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button id="generate-private-share" class="btn btn-primary">{{i18n.SHARE}}</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
    </div>
</div>
