<div class="nav-header">{{i18n.INSTANCE_SELECTED}} :<br/>
    {{object.key}}
</div>
<div>
    <button class="btn btn-custom" id="look_at" title="{{i18n.LOOK_AT}}"><i class="fa fa-crosshairs"></i>
    </button>
    <button class="btn btn-custom" id="fly_to" title="{{i18n.FLY_TO}}"><i class="fa fa-level-up"></i>
    </button>


</div>


<div class="nav-header">{{i18n.TRANSFORM_CONTROLS}}</div>

<div class="btn-group" data-toggle="buttons-radio" id="transform_mode_view_btn">
    <button class="btn btn-custom" id="translate" title="{{i18n.MOVE}} (z)"><i class="fa fa-arrows"></i></button>
    <button class="btn btn-custom" id="rotate" title="{{i18n.ROTATE}} (e)"><i class="fa fa-repeat"></i></button>
    <button class="btn btn-custom" id="scale" title="{{i18n.SCALE}} (r)"><i class="fa fa-expand"></i></button>
</div>

<button class="btn btn-custom" id="cancel_transformation" title="{{i18n.REPLACE}}"><i class="fa fa-magic"></i></button>
