

<h3><i class="fa fa-lock"></i>{{i18n.CONNECTION}}</h3>
<div class="notifications"></div>
<p>
    <label for="login_form-login">{{i18n.USER}} :</label>
    <input id="login_form-login"
           type="text"
           name="login_form-login"
           maxlength="50"
           size="20"
           required />
</p>

<p>
    <label for="login_form-password">{{i18n.PASSWORD}} :</label>
    <input id="login_form-password"
           type="password"
           name="login_form-password"
           value=""
           maxlength="50"
           size="20"
           required />
</p>

<p class="form_button_container">
    <input id="login_form-login_button"
           type="submit"
           name="login_form-login_button"
           value="{{i18n.CONNECTION}}"
           alt="{{i18n.CONNECTION}}"
           class="btn btn-custom" />
</p>

<p><a href="#recovery">{{i18n.RECOVERY}}</a> </p>

