<div class="lifecycle-task-signing-link">
    <a class="lifecycle-task-signing-link-a">{{i18n.SIGN_TASK}}</a>
</div>
<div class="lifecycle-task-signing-img hidden">
    <img src="" />
</div>
<div class="lifecycle-task-signing-popover hidden">
    <canvas class="lifecycle-activities-canvas"></canvas>
    <div>
        <button class="btn cancel-signing">Annuler</button>
        <button class="btn delete-signing">Effacer</button>
        <button class="btn btn-primary save-signing">Ok</button>
    </div>
</div>