<div>
    <h4>
        {{#administrated}}
        <i class="fa fa-graduation-cap"></i>
        {{/administrated}}
        {{^administrated}}
        <i class="fa fa-user"></i>
        {{/administrated}}
        {{workspace.id}}
        <br/>
        <small>{{workspace.description}}</small>
    </h4>

</div>

{{#isAdmin}}
<div class="controls">
    <label for="workspace-enable-switch-{{workspace.id}}">{{i18n.ENABLE_WORKSPACE}}</label>
    <div class="workspace-enable-switch switch switch-small" data-on="success" data-off="danger">
        <input id="workspace-enable-switch-{{workspace.id}}" type="checkbox" checked/>
    </div>

</div>
{{/isAdmin}}


<ul class="unstyled">
    <li>
        {{#administrated}}
        <a href="#/workspace/{{workspace.id}}/users">
        {{/administrated}}
            {{i18n.USERS}}
        {{#administrated}}
        </a>
        {{/administrated}}
        (<span class="users-count"></span>)
    </li>
    <li>
        {{^isAdmin}}
        <a href="../document-management/#{{workspace.id}}">
            {{/isAdmin}}
            {{i18n.DOCUMENTS}}
            {{^isAdmin}}
        </a>
        {{/isAdmin}}
        (<span class="documents-count"></span>)
    </li>
    <li>
        {{^isAdmin}}
        <a href="../product-management/#{{workspace.id}}/parts">
            {{/isAdmin}}
            {{i18n.PARTS}}
            {{^isAdmin}}
        </a>
        {{/isAdmin}}
        (<span class="parts-count"></span>)
    </li>
    <li>
        {{^isAdmin}}
        <a href="../product-management/#{{workspace.id}}/products">
            {{/isAdmin}}
            {{i18n.PRODUCTS}}
            {{^isAdmin}}
        </a>
        {{/isAdmin}}
        (<span class="products-count"></span>)
    </li>

</ul>
{{#administrated}}
<div class="workspace-actions ">
    {{#administrated}}
    <a href="#/workspace/{{workspace.id}}/edit">{{i18n.EDIT}}</i></a> |
    <a href="#/workspace/{{workspace.id}}/dashboard">{{i18n.DASHBOARD}}</a>
    {{/administrated}}
    {{#isAdmin}}
    | <a href="#" class="index-workspace" data-workspace-id="{{workspace.id}}">{{i18n.INDEX_WORKSPACE}}</a>
    {{/isAdmin}}
</div>
{{/administrated}}
