<div class="actions well">
    <button class="btn btn-default workspace-management" title="{{i18n.BACK}}">
        {{i18n.BACK}}
    </button>
    <button class="btn btn-default add-user" title="{{i18n.ADD_USER}}">
        <i class="fa fa-plus"></i> {{i18n.ADD_USER}}
    </button>

    <form id="workspace-add-user-form" class="inline form-inline hide">
        <input type="text" required name="login" placeholder="{{i18n.LOGIN}}"/>
        <button class="btn btn-default" title="{{i18n.ADD}}">
            {{i18n.ADD}}
        </button>
        <button class="btn btn-default cancel" type="reset" title="{{i18n.CANCEL}}">
            {{i18n.CANCEL}}
        </button>
    </form>

    <button class="btn btn-default add-group" title="{{i18n.CREATE_GROUP}}">
        <i class="fa fa-plus"></i> {{i18n.CREATE_GROUP}}
    </button>

    <form id="workspace-add-group-form" class="inline form-inline hide">
        <input type="text" required name="groupId" placeholder="{{i18n.NAME}}"/>
        <button class="btn btn-default" title="{{i18n.ADD}}">
            {{i18n.ADD}}
        </button>
        <button class="btn btn-default cancel" type="reset" title="{{i18n.CANCEL}}">
            {{i18n.CANCEL}}
        </button>
    </form>

    <button class="btn btn-default delete-users hide show-if-users" title="{{i18n.DELETE}}">
        <i class="fa fa-remove"></i> {{i18n.DELETE}}
    </button>

    <button class="btn btn-default disable-users hide show-if-users" title="{{i18n.DISABLE_USER}}">
        <i class="fa "></i> {{i18n.DISABLE_USER}}
    </button>

    <button class="btn btn-default enable-users hide show-if-users" title="{{i18n.ENABLE_USER}}">
        <i class="fa "></i> {{i18n.ENABLE_USER}}
    </button>
    {{#groupMemberships.length}}
    <button class="btn btn-default move-users-container hide show-if-users" data-toggle="dropdown" title="{{i18n.MOVE_TO_GROUP}}">
        <span data-toggle="dropdown">
            <i class="fa fa-group"></i> {{i18n.MOVE_TO_GROUP}}
        </span>
        <span data-toggle="dropdown" class="caret"></span>
        <ul class="dropdown-menu">
            {{#groupMemberships}}
                <li><a class="move-users" data-group-id="{{memberId}}" href="#">{{memberId}}</a></li>
            {{/groupMemberships}}
        </ul>
    </button>
    {{/groupMemberships.length}}
    <button class="btn btn-default remove-users-from-group hide show-if-group-users" title="{{i18n.REMOVE_FROM_GROUP}}">
        <i class="fa fa-minus"></i> {{i18n.REMOVE_FROM_GROUP}}
    </button>

</div>
<div class="notifications"></div>

<div class="margin">
    <div class="workspace-group-container">
        {{#groupMemberships}}
        <div class="workspace-group well well-large">
            <span data-member-id="{{memberId}}" class="pull-right group-readonly-switch readonly-switch switch switch-small"
                data-on-label="{{i18n.FULL_ACCESS}}"
                data-off-label="{{i18n.READ_ONLY}}"
                data-on="success" data-off="warning">
                <input type="checkbox" {{^readOnly}}checked{{/readOnly}}/>
            </span>

            <h4>
                <i class="fa fa-users"></i> {{memberId}}
            </h4>

            {{^users}}
                <p>{{i18n.NO_USER_IN_GROUP}}</p>
            {{/users}}

            {{#users.length}}
            <table class="group_user_table" class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th><input type="checkbox" class="toggle-checkboxes"/></th>
                    <th>{{i18n.LOGIN}}</th>
                    <th>{{i18n.NAME}}</th>
                    <th>{{i18n.EMAIL}}</th>
                </tr>
                </thead>
                <tbody class="items">
                {{#users}}
                <tr>
                    <td><input type="checkbox" class="toggle-checkbox"  data-is-admin="{{isCurrentAdmin}}" data-member-id="{{memberId}}" data-login="{{login}}"/></td>
                    <td>{{#isCurrentAdmin}}<i class="fa fa-graduation-cap"></i> {{/isCurrentAdmin}}{{login}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                </tr>
                {{/users}}
                </tbody>
            </table>
            {{/users.length}}
            <small><a class="delete-group" data-group-id="{{memberId}}">{{i18n.DELETE}}</a></small>
        </div>
        {{/groupMemberships}}

    </div>
</div>
<div class="margin">
    <div class="workspace-group-container">
        <div class="workspace-group well well-large">
            <h4>
                <i class="fa fa-user"></i> {{i18n.USERS}}
            </h4>
            {{^usersToManage}}
                 <p>{{i18n.NO_USER_TO_MANAGE}}</p>
            {{/usersToManage}}
            {{#usersToManage.length}}
            <table id="workspace_user_table" class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th><input type="checkbox" class="toggle-checkboxes"/></th>
                    <th>{{i18n.LOGIN}}</th>
                    <th>{{i18n.NAME}}</th>
                    <th>{{i18n.EMAIL}}</th>
                    <th>{{i18n.ACCESS_RIGHTS}}</th>
                </tr>
                </thead>
                <tbody class="items">
                {{#usersToManage}}

                    <tr class="{{^membership}}no-membership{{/membership}}">
                        <td><input type="checkbox" class="toggle-checkbox" data-is-admin="{{isCurrentAdmin}}" data-login="{{login}}"/></td>
                        <td>{{#isCurrentAdmin}}<i class="fa fa-graduation-cap"></i> {{/isCurrentAdmin}}{{login}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>
                            {{^isCurrentAdmin}}
                            {{#membership}}
                            <div data-login="{{login}}" class="user-readonly-switch readonly-switch switch switch-small"
                                  data-on="success" data-off="warning">
                                <input type="checkbox" {{^readOnly}}checked{{/readOnly}}/>
                            </div>
                            {{/membership}}
                            {{/isCurrentAdmin}}
                            {{^membership}}
                                <a class="enable-user" data-login="{{login}}">{{i18n.ENABLE_USER}}</a>
                            {{/membership}}
                        </td>
                    </tr>

                {{/usersToManage}}
                </tbody>
            </table>
            {{/usersToManage.length}}
        </div>
    </div>
</div>
