<div class="accordion-heading">
    <a class="download" href="{{uriResource}}"><i class="icon-cloud-download"></i></a>
    <a class="accordion-toggle" data-toggle="collapse" href="#{{thisId}}">{{fileName}}</a>
</div>
<div id="{{thisId}}" class="accordion-body collapse">
    <div class="accordion-inner">
        <iframe class="pdfviewer" id="pdfjs-{{thisId}}" src="{{uriResource}}?type=viewer&output=pdf"></iframe>
    </div>
</div>