<div id="baseline_detail_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.DOCUMENTS_COLLECTION}}</h3>
    </div>

    <div class="modal-body">

        <div class="notifications"></div>

        <div class="ModalTabs ModalBody-tabs tabs">

            <ul class="ModalTabs-nav nav nav-tabs">
                <li class="active"><a href="#tab-baseline-general" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-documents" data-toggle="tab">{{i18n.DOCUMENTS}}</a></li>
            </ul>

            <div class="ModalTabsContent tab-content form-horizontal">
                <div id="tab-baseline-general" class="ModalTabsPane tab-pane active">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">{{i18n.NAME}}</label>
                            <div class="controls">
                                {{model.getName}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.DESCRIPTION}}</label>
                            <div class="controls">
                                {{model.getDescription}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CREATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{model.getFormattedCreationDate}}</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-baseline-documents" class="ModalTabsPane tab-pane">
                    <div class="documents-list"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
    </div>

</div>
