<td><input type="checkbox"/></td>
<td class="reference">{{model.getName}}</td>
<td class="description">{{model.getDescription}}</td>
<td>
    {{#model.isReleased}}
    {{i18n.HEAD_RELEASED}}
    {{/model.isReleased}}
    {{^model.isReleased}}
    {{i18n.HEAD_CHECKIN}}
    {{/model.isReleased}}
</td>
<td><a class="date-popover">{{model.getFormattedCreationDate}}</a></td>
<td><a class="author-popover">{{model.getAuthor}}</a></td>
<td class="download-zip"><a class="fa fa-file-archive-o" href="{{model.getZipUrl}}" title="{{i18n.DOWNLOAD_ZIP}}"></a></td>

