<div class="well" id="general_presentation">
    <div id="form_container"></div>
    <div id="demo-scene"></div>
</div>

<div id="detail_presentation">
    <div class="well">
        <h2>{{i18n.MANAGE_DOCUMENTS}}</h2>
        <ul>
            {{#i18n.MANAGE_DOCUMENTS_STRINGS}}
            <li>{{.}}</li>
            {{/i18n.MANAGE_DOCUMENTS_STRINGS}}
        </ul>
    </div>
    <div class="well">
        <h2>{{i18n.MANAGE_PRODUCTS}}</h2>
        <ul>
            {{#i18n.MANAGE_PRODUCTS_STRINGS}}
            <li>{{.}}</li>
            {{/i18n.MANAGE_PRODUCTS_STRINGS}}
        </ul>
    </div>
    <div class="well">
        <h2>{{i18n.TRACK_CHANGES}}</h2>
        <ul>
            {{#i18n.TRACK_CHANGES_STRINGS}}
            <li>{{.}}</li>
            {{/i18n.TRACK_CHANGES_STRINGS}}
        </ul>
    </div>

    <div class="well">
        <h2>{{i18n.SOCIAL_FEATURES}}</h2>
        <ul>
            {{#i18n.SOCIAL_FEATURES_STRINGS}}
            <li>{{.}}</li>
            {{/i18n.SOCIAL_FEATURES_STRINGS}}
        </ul>
    </div>

</div>

<div id="footer">
    <p>Copyright 2006-2015 - <a href="http://www.docdokuplm.com">DocDokuPLM</a> - </p>
</div>
