<h3><i class="fa fa-lock"></i>{{i18n.RECOVERY}}</h3>
<div class="notifications"></div>
<hr />
<h4>{{i18n.ENTER_ID}}</h4>
<p>
    <label for="recovery_form-login">{{i18n.USER}} :</label>
    <input id="recovery_form-login"
           type="text"
           name="recovery_form-login"
           maxlength="50"
           size="20"
           required />

</p>

<p class="form_button_container">
    <input
        type="submit"
        name="login_form-login_button"
        value="{{i18n.SEND}}"
        alt="{{i18n.SEND}}"
        class="btn btn-custom" />
</p>

<p><a href="#">{{i18n.BACK}}</a></p>

