<div class="chat_session_header">
    <span class="chat_session_title"><i class="fa fa-comments"></i>  {{ chatSession.remoteUser }} | {{ chatSession.context }}</span>
    <i class="fa fa-times"></i>
    <i class="fa fa-video-camera"></i>
</div>
<ul class="chat_session_messages"></ul>
<div class="chat_webrtc_invite">
    <span><b></b>{{ chatSession.remoteUser }}</b> {{ i18n.VIDEO_INVITE_TEXT }}</span>
    <a class="btn btn btn-success accept-webrtc"> <i class="fa fa-video-camera"></i> {{ i18n.VIDEO_INVITE_ACCEPT
        }}</a>
    <a class="btn btn-danger reject-webrtc"> <i class="fa fa-times"></i> {{ i18n.VIDEO_INVITE_REJECT }}</a></div>
<div class="chat_session_reply">
    <form class="chat_session_reply_form">
        <input type="text" name="chat_message_session_input"/>
        <input class="btn btn-primary" type="submit" value="{{i18n.SEND}}">
    </form>
</div>
