<div class="Modal modal document-modal">
    <div class="ModalHeader Modal-header modal-header">
        {{#isCheckout}}
        {{#isCheckoutByConnectedUser}}<i class="fa fa-pencil"></i>{{/isCheckoutByConnectedUser}}
        {{^isCheckoutByConnectedUser}}<i class="fa fa-lock"></i>{{/isCheckoutByConnectedUser}}
        {{/isCheckout}}
        {{^isCheckout}}
        {{#isReleased}}
        <i class="fa fa-check"></i>
        {{/isReleased}}
        {{^isReleased}}
        {{#isObsolete}}<i class="fa fa-frown-o"></i>{{/isObsolete}}
        {{^isObsolete}}<i class="fa fa-eye"></i>{{/isObsolete}}
        {{/isReleased}}
        {{/isCheckout}}

        <a class="close" data-dismiss="modal">×</a>

        <h3>
            <span class="icon"></span>
            {{#hasIterations}}
                <a target="_blank" href="{{permalink}}">
            {{/hasIterations}}
                    {{docRevision.title}} < {{docRevision.id}} >
                    {{#isObsolete}}({{i18n.OBSOLETE}}){{/isObsolete}}
                    {{#isReleased}}({{i18n.RELEASED}}){{/isReleased}}
                    {{#isCheckoutByConnectedUser}}({{i18n.IN_PROGRESS}}){{/isCheckoutByConnectedUser}}
                    {{#isLocked}}({{i18n.LOCKED}}){{/isLocked}}
            {{#hasIterations}}
                </a>
            {{/hasIterations}}
        </h3>
        <div class="notifications"></div>
    </div>
    <div class="ModalBody Modal-body modal-body">
        <div id="alerts-{{view.cid}}" class="ModalBody-alert"></div>
        <div class="ModalTabs ModalBody-tabs tabs">
            <ul class="ModalTabs-nav nav nav-tabs">
                <li class="active"><a href="#tab-iteration-document" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                {{#hasIterations}}
                <li><a href="#tab-iteration-iteration" data-toggle="tab">{{i18n.ITERATION}}</a></li>
                <li><a href="#tab-iteration-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
                <li><a href="#tab-iteration-files" data-toggle="tab">{{i18n.FILES}}</a></li>
                <li><a href="#tab-iteration-links" data-toggle="tab">{{i18n.LINKS}}</a></li>
                <li><a href="#tab-iteration-used-by" data-toggle="tab">{{i18n.USED_BY}}</a></li>
                <li><a href="#tab-iteration-lifecycle" data-toggle="tab">{{i18n.LIFECYCLE_STATE}}</a></li>
                {{/hasIterations}}
            </ul>

            <form id="form-document" class="ModalTabs-form form-horizontal">
                <div id="form-{{view.cid}}" class="ModalTabsContent tab-content form-horizontal">
                    <div id="tab-iteration-document" class="ModalTabsPane tab-pane active">
                        <div class="control-group">
                            <label class="control-label">{{i18n.PATH}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="document-path"><i class="fa fa-folder"></i>
                                    {{docRevision.path}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.REFERENCE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.reference}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.VERSION}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.version}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CREATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{docRevision.creationDate}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.TYPE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.type}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.TITLE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.title}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.AUTHOR}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="author-popover">{{docRevision.author.name}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.LIFECYCLE_STATE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.lifeCycleState}}</span>
                            </div>
                        </div>
                        {{#isCheckout}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_BY}}</label>

                            <div class="controls">
                                <span class="help-inline"><a
                                        class="checkout-user-popover">{{docRevision.checkOutUser.name}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{docRevision.checkOutDate}}</a></span>
                            </div>
                        </div>
                        {{/isCheckout}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.DESCRIPTION}}</label>

                            <div class="controls">
                                <span class="help-inline">{{docRevision.description}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.TAGS}}</label>

                            <div class="controls">
                                <ul class="help-inline master-tags-list unstyled"></ul>
                            </div>
                        </div>
                        {{#docRevision.releaseAuthor}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.RELEASED_BY}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="release-user-popover">{{docRevision.releaseAuthor.name}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.RELEASE_DATE}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{docRevision.releaseDate}}</a></span>
                            </div>
                        </div>
                        {{/docRevision.releaseAuthor}}
                        {{#isObsolete}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.OBSOLETE_AUTHOR}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="obsolete-user-popover">{{docRevision.obsoleteAuthor.name}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.OBSOLETE_DATE}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{docRevision.obsoleteDate}}</a></span>
                            </div>
                        </div>
                        {{/isObsolete}}
                    </div>
                    {{#hasIterations}}
                    <div id="tab-iteration-iteration" class="ModalTabsPane tab-pane">
                        <div class="control-group">
                            <label class="control-label">{{i18n.REFERENCE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{reference}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputRevisionNote">{{i18n.REVISION_NOTE}}</label>
                            <div class="controls">
                                <textarea type="text" id="inputRevisionNote" {{^editMode}}disabled="disabled"{{/editMode}} >{{iteration.revisionNote}}</textarea>
                            </div>
                            {{^isReleased}}
                            {{^isObsolete}}
                            {{^isLocked}}
                            <div class="action-checkin-checkout" >
                                {{^isCheckout}}<button type="button" class="btn btn-small btn-warning action-checkout"> <i class="fa fa-pencil"></i> {{i18n.CHECKOUT}}</button>{{/isCheckout}}
                                {{#isCheckout}}<button type="button" class="btn btn-small btn-success action-checkin"> <i class="fa fa-eye"></i> {{i18n.CHECKIN}}</button>
                                <button type="button" class="btn btn-small btn-info action-undocheckout"> <i class="fa fa-reply"></i>{{i18n.UNDO_CHECKOUT}}</button>{{/isCheckout}}

                            </div>
                            {{/isLocked}}
                            {{/isObsolete}}
                            {{/isReleased}}
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.REVISION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{iteration.revisionDate}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.MODIFICATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{iteration.modificationDate}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.AUTHOR}}</label>

                            <div class="controls">
                                <span class="help-inline">{{iteration.author.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div id="tab-iteration-attributes" class="ModalTabsPane tab-pane attributes">
                        <div id="iteration-additional-attributes-container" class="attributes-edit"></div>
                        <div id="iteration-attributes"></div>
                    </div>
                    <div id="tab-iteration-files" class="ModalTabsPane tab-pane files">
                        <div id="iteration-files"></div>
                    </div>
                    <div id="tab-iteration-links" class="ModalTabsPane tab-pane">
                        <div id="iteration-links"></div>
                    </div>
                    <div id="tab-iteration-used-by" class="tab-pane">
                        <div id="iteration-used-by"></div>
                    </div>
                    <div id="tab-iteration-lifecycle" class="ModalTabsPane tab-pane"></div>
                    {{/hasIterations}}
                </div>
            </form>
        </div>
    </div>
    <div class="Modal-footer modal-footer">

        {{#iteration}}
        <ul id="switch-iteration" class="pager">
            <li class="{{^hasPreviousIteration}}disabled{{/hasPreviousIteration}}">
                <a href="#" id="previous-iteration"><i class="fa fa-angle-left icon-large"></i></a>
            </li>
            <li>{{iteration}}/{{hasIterations}}</li>
            <li class="{{^hasNextIteration}}disabled{{/hasNextIteration}}">
                <a href="#" id="next-iteration"><i class="fa fa-angle-right icon-large"></i></a>
            </li>
        </ul>
        {{/iteration}}

        {{#editMode}}
        <a id="cancel-iteration" class="btn btn-default cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button id="save-iteration" class="btn btn-primary" form="form-document">
            {{i18n.SAVE}}
        </button>
        {{/editMode}}
        {{^editMode}}
        <button id="close-iteration" class="btn btn-default cancel close-iteration" form="form-document">
            {{i18n.CLOSE}}
        </button>
        {{/editMode}}

    </div>
</div>
