<md-content layout-padding id="login-container">
    <div>
        <p class="md-headline">
            {{'GREETINGS' | translate}}
        </p>
        <span class="md-subhead description">
             {{'PLEASE_LOG_IN' | translate}}
        </span>
    </div>

    <!--
    <pre>{{xhrFrom | json}}</pre>
    -->

    <div ng-if="xhrFrom.errObj.code" class="md-caption md-error">
        {{xhrFrom.errObj.code | translate}}
    </div>

    <div ng-if="!xhrFrom.errObj.code && xhrFrom.status" class="md-caption md-error">
        {{ 'LOGIN_STATUS_'+xhrFrom.status | translate }}
    </div>

    <div layout-gt-sm="row" layout-padding>
        <form ng-submit="connect()">
            <div>
                <md-input-container>
                    <label>{{'USER' | translate}}</label>
                    <input ng-model="configuration.login" required>
                </md-input-container>
                <md-input-container>
                    <label>{{'PASSWORD' | translate}}</label>
                    <input ng-model="configuration.password" type="password" required>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label>{{'HOST' | translate}}</label>
                    <input ng-model="configuration.host" required>
                </md-input-container>
                <md-input-container>
                    <label>{{'PORT' | translate}}</label>
                    <input ng-model="configuration.port" type="number" required>
                </md-input-container>
                <md-input-container>
                    <md-checkbox ng-model="configuration.ssl" aria-label="{{'SSL'|translate}}">
                        {{'SSL'|translate}}
                    </md-checkbox>
                </md-input-container>
            </div>

            <div>
                <md-progress-circular ng-if="loggingIn" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                <md-button ng-if="!loggingIn" type="submit" aria-label="" class="md-raised md-primary">
                    {{'CONNECT'|translate}}
                </md-button>
            </div>

        </form>
    </div>
</md-content>