<div class="lifecycle-task-signing-link">
    <a class="lifecycle-task-signing-link-a">{{i18n.SIGN_TASK}}</a>
    <a class="lifecycle-task-signing-delete-a hidden">({{i18n.DELETE}})</a>
    <i class="clear-signing fa fa-times" title="{{i18n.CLEAR}}"></i>
    <i class="save-signing fa fa-check" title="{{i18n.OK}}"></i>
</div>
<div class="lifecycle-task-signing-img hidden">
    <img src=""/>
</div>
<div class="lifecycle-task-signing-popover" style="display:none">
    <canvas class="lifecycle-activities-canvas"></canvas>
</div>
