<h4><i class="fa fa-user"></i> {{workspace.id}}
    <small>{{workspace.description}}</small>
</h4>
<ul class="unstyled">
    <li><span class="users-count"></span> {{i18n.USERS}}</span></li>
    <li><span class="documents-count"></span> {{i18n.DOCUMENTS}}</span></li>
    <li><span class="parts-count"></span> {{i18n.PARTS}}</span></li>
    <li><span class="products-count"></span> {{i18n.PRODUCTS}}</span></li>
</ul>
<div class="workspace-actions pull-right">
    <a href="../document-management/#{{workspace.id}}"><i class="fa fa-folder-open"></i></a>
    <a href="../product-management/#{{workspace.id}}"><i class="fa fa-briefcase"></i></a>
    <a href="../change-management/#{{workspace.id}}"><i class="fa fa-history"></i></a>
</div>
