<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <menu-button></menu-button>
            <md-button aria-label="">
                <i class="fa fa-cog"></i> {{'SETTINGS' | translate}}
            </md-button>
        </h3>
    </div>
</md-toolbar>

<div layout="vertical" class="settings">

    <md-content class="md-padding">
        <div class="output" ng-if="output.error">
            <output entry="output.error"></output>
        </div>
        <form ng-submit="save()">
            <div class="row">
                <md-text-float label="{{'USER' | translate}}" ng-model="configuration.user" required></md-text-float>
                <md-text-float label="{{'PASSWORD' | translate}}" ng-model="configuration.password" type="password"
                               required></md-text-float>
            </div>
            <div class="row">
                <md-text-float label="{{'HOST' | translate}}" ng-model="configuration.host"></md-text-float>
                <md-text-float label="{{'PORT' | translate}}" ng-model="configuration.port"
                               type="number"></md-text-float>
                <md-checkbox ng-model="configuration.ssl" aria-label="">
                    {{'SSL'|translate}}
                </md-checkbox>
            </div>
            <div class="row">
                <md-button aria-label="" class="md-raised md-primary">{{'SAVE'|translate}}
                </md-button>
            </div>
        </form>
    </md-content>

</div>