<!--Status icons-->
{{#if status.isCheckedOut}}
    {{#if status.isCheckedOutByMe}}
        <i class="icon-pencil" title="Checkouted by me"></i>
    {{else}}
        <i class="icon-lock" title="Locked"></i>
    {{/if}}
{{else}}
    <i class="icon-eye-open"></i>
{{/if}}
<!--Part info-->
<div class="partInfo">
    <div class="partNumber">{{status.partNumber}} - {{model.getVersion}}</div>
    <div class="name">{{#if status.cadFileName}}{{status.cadFileName}}{{else}}No attached file{{/if}}</div>
</div>
<!--Action icons-->
<i class="icon-download action-get" title="Download"></i>
{{#if status.canBeCheckedOut}}
    <i class="icon-signin action-checkout" title="Checkout"></i>
{{/if}}
