<td><input type="checkbox"/></td>
<td class="product_id">{{model.getId}}</td>
<td class="modification_notification">
    {{#model.hasUnreadModificationNotifications}}
    <i class="fa fa-exclamation"></i>
    {{/model.hasUnreadModificationNotifications}}
</td>
<td><a class="design_item">{{model.getDesignItemName}} < {{model.getDesignItemNumber}} > </a></td>
<td><a class="author-popover">{{model.getAuthorName}}</a></td>
<td><i class="fa fa-file-archive-o download-zip"></i></td>
<td><a href="{{bomUrl}}" target="_blank" title="{{i18n.BOM_VIEW}}"><i class="fa fa-sitemap"></i></a></td>
<td><a href="{{sceneUrl}}" target="_blank" title="{{i18n.VISUALIZE_PRODUCT}}"><i class="fa fa-video-camera"></i></a></td>
