<div class="accordion-heading">
    <a class="download" href="{{uriResource}}"><i class="icon-cloud-download"></i></a>
    <a class="accordion-toggle" data-toggle="collapse" href="#{{thisId}}">{{fileName}}</a>
</div>
<div id="{{thisId}}" class="accordion-body collapse">
    <div class="accordion-inner">
        <video width="320" height="240" controls>
                <source src="{{uriResource}}">
                Your browser does not support the video tag.
        </video>
    </div>
</div>