.typed-link-content{

    .link-type-block{
        margin-top: 10px;
    }

    .description-block{
        margin-top: 10px;
    }

    .save-button{
        float: right;
        margin-top: 20px;
    }
}
