<md-toolbar>
    <h1 class="md-toolbar-tools">
        <img src="img/icon.png" style="width: 36px; height:36px;">
        <a href="#/">{{title}}</a>
        <md-button aria-label="" href="#/settings">
          <i class="fa fa-cog"></i>
        </md-button>
    </h1>
</md-toolbar>

<md-content class="md-padding">  

   <h3>
    <i class="fa fa-folder-open"></i> 
    {{ 'FOLDERS' | translate }}
     <label class="file-input menu-file-input small">
       <i class="fa fa-plus"></i> {{'ADD_FOLDER' | translate}}
       <input file-change="addFolder($event,files)" type="file" webkitdirectory/>
    </label>
  </h3>

  <md-content style="max-height:150px">
   <md-list>
    <md-item ng-repeat="folder in folders" ng-controller="FolderMenuController">
      <md-item-content>
            <div class="md-tile-content small">
              <md-button aria-label="" href="#/folder/{{folder.uuid}}" class="md-primary">
                {{folder.path | fileshortname}}
              </md-button>
            </div>         
      </md-item-content>
    </md-item>
  </md-list>
  </md-content>

  <h3>
    <i class="fa fa-globe"></i> 
    {{ configuration.host + ':' + configuration.port }}
  </h3>

  <md-content style="max-height:150px">
   <md-list>
    <md-item ng-repeat="workspace in workspaces" ng-controller="WorkspaceMenuController">
      <md-item-content 
        drag-enter-class="dropzone" 
        ui-on-drop="onDrop($data,$event)"
        drag-hover-class="dropzone-selected">
            <div class="md-tile-content small">
              <md-button aria-label="" href="#/workspace/{{workspace}}" class="md-primary">
              {{workspace}}
              </md-button>
            </div>         
      </md-item-content>
    </md-item>
  </md-list>
  </md-content>


</md-content>