<div class="well">
    <input name="number" type="text" value="{{model.getNumber}}"  title="{{i18n.NUMBER}}" readonly required />
    <input name="version" type="text" class="input-small" value="{{model.getVersion}}"  title="{{i18n.VERSION}}" readonly  required />
    <input name="iteration" class="input-small" type="number" min="1" max="{{model.getLastIteration}}"  title="{{i18n.ITERATION}}" range="1" value="{{model.getIteration}}" required />
    <input  name="exclude" type="checkbox" title="{{i18n.EXCLUDE}}" />
</div>