<div class="actions well">
    <button class="btn new-part" title="{{i18n.NEW_PART}}">
        <span class="icon"></span>
    </button>

    <button class="btn delete delete-part" title="{{i18n.DELETE_SELECTION}}">
        <span class="icon"></span>
    </button>

    <span class="btn-group checkout-group">
        <button class="btn checkout" title="{{i18n.CHECKOUT}}">
            <span class="icon"></span>
        </button>
        <button class="btn undocheckout" title="{{i18n.UNDO_CHECKOUT}}" disabled="">
            <span class="icon"></span>
        </button>
        <button class="btn checkin" title="{{i18n.CHECKIN}}" disabled="">
            <span class="icon"></span>
        </button>
    </span>

</div>

<div class="page-controls">
    <button class="btn first-page" title="{{i18n.FIRST_PAGE}}"><i class="icon-fast-backward"></i></button>
    <button class="btn previous-page" title="{{i18n.PREVIOUS_PAGE}}"><i class="icon-chevron-left"></i></button>
    <button class="btn current-page" title="{{i18n.GO_TO_PAGE}}"></button>
    <button class="btn next-page" title="{{i18n.NEXT_PAGE}}"><i class="icon-chevron-right"></i></button>
    <button class="btn last-page" title="{{i18n.LAST_PAGE}}"><i class="icon-fast-forward"></i></button>
</div>
<table id="part_table" class="table table-striped table-condensed"></table>
