<html ng-app="dplm" ng-controller="AppCtrl" >
<head>
    <title ng-bind="title"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <!-- build:css app.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/material-design-icons/iconfont/material-icons.css"/>
    <link rel="stylesheet" type="text/css" href="css/scrollbars.css"/>
    <link rel="stylesheet" type="text/css" href="css/states.css"/>
    <link rel="stylesheet" type="text/css" href="css/output.css"/>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <!-- endbuild -->

</head>
<body ng-class="{'app-background': !user.login}">

    <div layout="column" layout-fill>
        <section layout="row" flex>
            <md-sidenav ng-if="user.login" class="md-sidenav-left dplm-sidenav"
                        md-component-id="menu"
                        md-is-locked-open="$mdMedia('gt-sm')"
                        ng-controller="MenuController"
                        ng-include="'js/menu/menu.html'">
            </md-sidenav>
            <md-content ng-if="user.login" layout-fill flex ng-view></md-content>
        </section>
    </div>

    <!-- build:js app.js -->
    <script src="bower_components/threejs/build/three.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-uuid4/angular-uuid4.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>

    <script src="js/components/filters/timeago.js"></script>
    <script src="js/components/filters/file-size.js"></script>
    <script src="js/components/filters/join.js"></script>
    <script src="js/components/filters/file-short-name.js"></script>
    <script src="js/components/filters/last.js"></script>

    <script src="js/components/3d/loaders/BinaryLoader.js"></script>
    <script src="js/components/3d/loaders/ColladaLoader.js"></script>
    <script src="js/components/3d/loaders/OBJLoader.js"></script>
    <script src="js/components/3d/loaders/STLLoader.js"></script>
    <script src="js/components/3d/loaders/VRMLLoader.js"></script>
    <script src="js/components/3d/loaders/PLYLoader.js"></script>
    <script src="js/components/3d/controls/TrackballControls.js"></script>
    <script src="js/components/3d/controls/OrbitControls.js"></script>
    <script src="js/components/3d/utils/TypedGeometry.js"></script>

    <script src="js/components/configuration.js"></script>
    <script src="js/components/translation.js"></script>
    <script src="js/components/notification.js"></script>
    <script src="js/components/folders.js"></script>
    <script src="js/components/workspaces.js"></script>
    <script src="js/components/confirm/confirm.js"></script>
    <script src="js/components/prompt/prompt.js"></script>
    <script src="js/components/3d/services-3d.js"></script>
    <script src="js/components/output/output.js"></script>
    <script src="js/components/auth.js"></script>
    <script src="js/components/docdoku-api.js"></script>
    <script src="js/components/file-transfer.js"></script>
    <script src="js/components/db.js"></script>
    <script src="js/components/repository.js"></script>
    <script src="js/components/download/download.js"></script>
    <script src="js/components/preview/file-preview.js"></script>

    <script src="js/home/home.js"></script>
    <script src="js/login/login.js"></script>
    <script src="js/workspace/workspace.js"></script>
    <script src="js/settings/settings.js"></script>
    <script src="js/folder/folder.js"></script>
    <script src="js/repository/repository.js"></script>
    <script src="js/menu/menu.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->

    <!-- build:js  -->
    <script src="js/dev.js"></script>
    <!-- endbuild -->

</body>
</html>