<div layout-padding>

    <div>
        <p class="md-headline">
            {{'CREATE_PART' | translate}}
        </p>
        <span class="md-subhead description">
             {{file.path | fileshortname}}
        </span>
    </div>

    <div>

        <form ng-submit="create()">

            <p ng-if="error">{{error}}</p>

            <div>
                <md-input-container>
                    <label>{{'WORKSPACE' | translate}}</label>
                    <md-select ng-model="part.workspaceId">
                        <md-option ng-repeat="workspace in workspaces" value="{{workspace}}">
                            {{workspace}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>{{'PART_NUMBER' | translate}}</label>
                    <input ng-model="part.number" required>
                </md-input-container>
                <md-input-container>
                    <label>{{'PART_NAME' | translate}}</label>
                    <input ng-model="part.name">
                </md-input-container>
            </div>
            <div>

                <md-input-container>
                    <label>{{'DESCRIPTION' | translate}}</label>
                    <textarea ng-model="part.description"></textarea>
                </md-input-container>

                <md-input-container>
                    <md-checkbox ng-model="part.standard.ssl" aria-label="{{'SSL'|translate}}">
                        {{'STANDARD'|translate}}
                    </md-checkbox>
                </md-input-container>
            </div>

            <div>

                <md-button ng-if="!creating" type="button" aria-label="" ng-click="close()" class="md-raised md-default">
                    {{'CLOSE'|translate}}
                </md-button>

                <md-progress-circular ng-if="creating" class="md-hue-2" md-diameter="20px"></md-progress-circular>

                <md-button ng-if="!creating" type="submit" aria-label="" class="md-raised md-primary">
                    {{'CREATE'|translate}}
                </md-button>
            </div>

        </form>




    </div>

</div>