
<div class="row" ng-if="!file.busy">
    <md-checkbox aria-label="{{'FORCE'|translate}}" ng-model="options.force" >
    {{'FORCE'|translate}}
    </md-checkbox>
</div>
<div class="md-actions" ng-if="!file.busy">
    <md-button aria-label="{{'CHECKOUT' | translate}}" ng-if="!file.document.checkoutUser"  ng-click="checkout()"
    class="md-raised md-primary">
    {{'CHECKOUT' | translate}}
    </md-button>
    <md-button aria-label="{{'CHECKIN' | translate}}" ng-if="file.document.checkoutUser === configuration.user"  ng-click="checkin()"
    class="md-raised md-primary">
    {{'CHECKIN' | translate}}
    </md-button>
    <md-button aria-label="{{'UNDO_CHECKOUT' | translate}}" ng-if="file.document.checkoutUser === configuration.user"  ng-click="undoCheckout()"
    class="md-raised md-primary">
    {{'UNDO_CHECKOUT' | translate}}
    </md-button>
    <md-button aria-label="{{'PUT' | translate}}" ng-if="file.document.checkoutUser === configuration.user"  ng-click="put()" class="md-raised md-primary">
    {{'PUT' | translate}}
    </md-button>
</div>

<div class="output" ng-if="output.length">
    <output ng-repeat="o in output" entry="o"></output>
</div>