<md-progress-linear ng-if="file.busy" mode="determinate" ng-value="file.progress"></md-progress-linear>

<div class="md-actions md-padding" ng-if="!file.busy" layout="column">

    <div class="row" layout="row">
        <div flex>
            <span class="clickable subtitle" ng-class="{selected: form.selected===form.part}"  ng-click="form.selected=form.part">
                <i class="fa fa fa-arrow-circle-right" ng-if="form.selected===form.part"></i> {{'CREATE_PART'|translate}}
            </span>
        </div>
        <div flex>
           <span class="clickable subtitle" ng-class="{selected: form.selected===form.document}"  ng-click="form.selected=form.document">
            <i class="fa fa fa-arrow-circle-right" ng-if="form.selected===form.document"></i> {{'CREATE_DOCUMENT'|translate}}
        </span>
        </div>
    </div>

    <div ng-if="form.selected===form.part">
        <form name="partCreationForm" ng-submit="partCreationForm.$valid && createPart()">
            <div class="row">
                <label class="label-margin">{{'WORKSPACE' | translate}}</label>
                <i class="fa fa-globe"></i>
                <select ng-model="newPart.workspace">
                    <option ng-repeat="workspace in workspaces" value="{{workspace}}">
                        {{workspace}}
                    </option>
                </select>
            </div>
            <div class="row">
                <md-text-float label="{{'PART_NUMBER' | translate}}" ng-model="newPart.partNumber"  required="true"></md-text-float>
                <md-text-float label="{{'PART_NAME' | translate}}" ng-model="newPart.name"></md-text-float>

                <md-text-float label="{{'PART_DESCRIPTION' | translate}}" ng-model="newPart.description"></md-text-float>

                <md-checkbox aria-label="{{'STANDARD'|translate}}" ng-model="newPart.standard" >
                    {{'STANDARD'|translate}}
                </md-checkbox>
            </div>
            <div class="row">
                <md-button aria-label="{{'SAVE'|translate}}" class="md-raised md-primary">
                    {{'SAVE'|translate}}
                </md-button>
            </div>
        </form>
    </div>
    <div ng-if="form.selected===form.document">
        <form name="documentCreationForm" ng-submit="documentCreationForm.$valid && createDocument()">
            <div class="row">
                <label class="label-margin">{{'WORKSPACE' | translate}}</label>
                <i class="fa fa-globe"></i>
                <select ng-model="newDocument.workspace">
                    <option ng-repeat="workspace in workspaces" value="{{workspace}}">
                        {{workspace}}
                    </option>
                </select>
            </div>
            <div class="row">
                <md-text-float label="{{'DOCUMENT_ID' | translate}}" ng-model="newDocument.id" required="true"></md-text-float>
                <md-text-float label="{{'DOCUMENT_TITLE' | translate}}" ng-model="newDocument.title"></md-text-float>
                <md-text-float label="{{'DOCUMENT_DESCRIPTION' | translate}}" ng-model="newDocument.description"></md-text-float>
            </div>
            <div class="row">
                <md-button aria-label="{{'SAVE'|translate}}" class="md-raised md-primary">
                    {{'SAVE'|translate}}
                </md-button>
            </div>
        </form>
    </div>
</div>


<div class="output" ng-if="output.length">
    <output ng-repeat="o in output" entry="o"></output>
</div>