
<div class="row" ng-if="!file.notSync && !file.busy && !file.part.isReleased && !file.part.checkoutUser">
    <md-checkbox aria-label="{{'FORCE'|translate}}" ng-model="options.force" >
    {{'FORCE'|translate}}
    </md-checkbox>
    <md-checkbox aria-label="{{'RECURSIVE'|translate}}" ng-model="options.recursive" >
    {{'RECURSIVE'|translate}}
    </md-checkbox>
</div>

<div class="md-actions" ng-if="!file.notSync && !file.busy">

    <md-button aria-label="{{'3D' | translate}}" ng-if="isViewable && !show3D"  ng-click="toggle3D()"
               class="md-raised md-primary">
        {{'3D' | translate}}
    </md-button>

    <md-button aria-label="{{'CHECKOUT' | translate}}" ng-if="!file.part.isReleased && !file.part.checkoutUser"  ng-click="checkout()"
    class="md-raised md-primary">
    {{'CHECKOUT' | translate}}
    </md-button>
    <md-button aria-label="{{'CHECKIN' | translate}}" ng-if="file.part.checkoutUser === configuration.user"  ng-click="checkin()"
    class="md-raised md-primary">
    {{'CHECKIN' | translate}}
    </md-button>
    <md-button aria-label="{{'UNDO_CHECKOUT' | translate}}" ng-if="file.part.checkoutUser === configuration.user"  ng-click="undoCheckout()"
    class="md-raised md-primary">
    {{'UNDO_CHECKOUT' | translate}}
    </md-button>
    <md-button aria-label="{{'PUT' | translate}}" ng-if="file.part.checkoutUser === configuration.user"  ng-click="put()" class="md-raised md-primary">
    {{'PUT' | translate}}
    </md-button>
    <md-button  aria-label="{{'CONVERSION_STATUS' | translate}}" ng-click="conversionStatus()" class="md-raised md-primary">
    {{'CONVERSION_STATUS' | translate}}
    </md-button>
</div>

<div class="md-tile-left md-tile-top" ng-if="isViewable && show3D">
    <div class="row" model-viewer filename="file.path" width="120" height="80"></div>
</div>

<div class="output" ng-if="output.length">
    <output ng-repeat="o in output" entry="o"></output>
</div>