<div layout-fill layout="column">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <div>
                <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
                    <i class="fa fa-bars"></i>
                </md-button>
            </div>
            <div>
                <md-menu>
                    <md-button aria-label="{{'MENU'}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-bars"></i>
                    </md-button>

                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button aria-label="{{'OPEN_IN_EXPLORER'|translate}}" ng-click="reveal()">
                                {{'OPEN_IN_EXPLORER'|translate}}
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button aria-label="{{'FAVORITE'|translate}}" ng-click="toggleFavorite()">
                                {{'FAVORITE'|translate}}
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button aria-label="{{'REFRESH_FOLDER'|translate}}" ng-click="refresh(true)">
                                {{'REFRESH_FOLDER'|translate}}
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button aria-label="{{'DELETE_FOLDER'|translate}}" ng-click="delete($event)">
                                {{'DELETE_FOLDER'|translate}}
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </div>
            <div>
                <h2>
                    <span>
                        <i class="fa fa-folder-open"></i>
                        <i class="fa fa-star favorite" ng-if="folder.favorite"></i>
                        {{ folder.path | fileshortname }}
                    </span>
                </h2>
            </div>
        </div>
    </md-toolbar>

    <md-content layout-padding ng-if="display.type === 'flat'">
        <div>
            <h3>{{'INDEXED' | translate}} ({{inIndexFiles.length}})</h3>
            <div ng-repeat="file in inIndexFiles">
               {{file}}
            </div>
        </div>
        <div>
            <h3>{{'NOT_INDEXED' | translate}} ({{outOfIndexFiles.length}})</h3>
            <div ng-repeat="file in outOfIndexFiles">
               {{file}}
            </div>
        </div>
    </md-content>

</div>