<div layout-fill layout="column" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
                    <i class="material-icons">menu</i>
                </md-button>
                <i class="material-icons">folder_open</i>
                <i class="material-icons" ng-if="folder.favorite">star</i>

                <h2>
                    <span>
                        {{ folder.path | fileShortName }} ({{totalFilesInFolder}} {{'FILES'|translate}})
                    </span>
                </h2>
            </div>
            <div>
                <span ng-if="!sync.running" class="md-caption">{{'LAST_SYNC_DATE' | translate}} {{ folder.lastSync | localDateTimeAgo}}</span>
                <span ng-if="sync.running" class="md-caption">{{ sync.progress }} / {{ sync.total }}</span>
            </div>
        </div>
    </md-toolbar>
    <md-content>

        <div layout="row" layout-align="space-between center">
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'FILE' | translate}}
                    </button>

                    <md-menu-content>
                        <md-menu-item>
                            <md-button aria-label="{{'CREATE_FILE'|translate}}" ng-click="actions.createFile()">
                                <i class="material-icons">note_add</i>
                                {{'CREATE_FILE'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="{{'REFRESH_FOLDER'|translate}}" ng-click="actions.fetchFolder()">
                                <i class="material-icons">cached</i>
                                {{'REFRESH_FOLDER'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.reveal()">
                                <i class="material-icons">folder_open</i>
                                {{'OPEN_IN_EXPLORER' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.shell()">
                                <i class="material-icons">featured_play_list</i>
                                {{'OPEN_SHELL' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="{{'FAVORITE'|translate}}" ng-click="actions.toggleFavorite()">
                                <i class="material-icons">star</i>
                                <span ng-if="folder.favorite">{{'REMOVE_FROM_FAVORITES'|translate}}</span>
                                <span ng-if="!folder.favorite">{{'ADD_TO_FAVORITES'|translate}}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="{{'DELETE_FOLDER'|translate}}" ng-click="actions.deleteFolder()">
                                <i class="material-icons">delete</i>
                                {{'DELETE_FOLDER'|translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'INDEX' | translate}}
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="actions.updateIndex()">
                                <i class="material-icons">cached</i>
                                {{'UPDATE_INDEX' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.downloadLatest()">
                                <i class="material-icons">cloud_download</i>
                                {{'DOWNLOAD_LATEST' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.pushUpdates()">
                                <i class="material-icons">cloud_upload</i>
                                {{'PUSH_UPDATES' | translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'FILTERS' | translate}}
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="actions.toggleFilters(true)">
                                <i class="material-icons">check_box</i>
                                {{'SELECT_ALL' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.toggleFilters(false)">
                                <i class="material-icons">check_box_outline_blank</i>
                                {{'UNSELECT_ALL' | translate}}
                            </md-button>
                        </md-menu-item>

                        <md-menu-divider></md-menu-divider>

                        <md-menu-item ng-repeat="filter in filters">
                            <md-input-container>
                                <md-checkbox ng-change="actions.applyFilters()" ng-model="filter.value"
                                             aria-label="{{filter.name}}">
                                    {{filter.name}}
                                </md-checkbox>
                            </md-input-container>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <button ng-click="$mdOpenMenu()" ng-disabled="!selected.length">
                        {{'SELECTION' | translate}} ({{selected.length}})
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="actions.push(selected)">
                                <i class="material-icons">cloud_upload</i>
                                {{'PUSH' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="actions.checkin(selected)">
                                <i class="material-icons">input</i>
                                {{'CHECKIN' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.checkout(selected)">
                                <i class="material-icons">mode_edit</i>
                                {{'CHECKOUT' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="actions.undoCheckout(selected)">
                                <i class="material-icons">settings_backup_restore</i>
                                {{'UNDO_CHECKOUT' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button ng-click="selected.length=0">
                                <i class="material-icons">clear</i>
                                {{'RESET_SELECTION' | translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </md-menu-bar>
            <md-table-pagination
                    md-boundary-links="true"
                    md-limit="query.limit"
                    md-limit-options="query.limits"
                    md-page="query.page"
                    md-total="{{filteredFilesCount}}"
                    md-on-paginate="actions.paginate"
                    md-page-select
                    md-label="{{paginationLabels}}">
            </md-table-pagination>
        </div>

        <div layout="column">

            <md-input-container md-no-float class="md-block search-bar">
                <input placeholder="{{'SEARCH'|translate}}" type="text" ng-change="actions.applyFilters()"
                       ng-model="pattern"/>
            </md-input-container>

            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected">
                    <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column><span>{{'NAME'|translate}}</span></th>
                        <th md-column><span>{{'WORKSPACE'|translate}}</span></th>
                        <th md-column><span>{{'TYPE'|translate}}</span></th>
                        <th md-column><span>{{'ITEM_ID'|translate}}</span></th>
                        <th md-column><span>{{'VERSION'|translate}}</span></th>
                        <th md-column><span>{{'SIZE'|translate}}</span></th>
                        <th md-column><span>{{'LAST_MODIFIED'|translate}}</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="file" md-select-id="path" ng-repeat="file in displayedFiles">

                        <td md-cell>
                            <span ng-if="file.item" status-icon="file.item"></span>

                            <md-menu ng-if="!file.index.number && !file.index.id">
                                <md-button aria-label="{{'MENU'}}" class="md-icon-button"
                                           ng-click="$mdOpenMenu($event)">
                                    <i class="material-icons">more_vert</i>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button aria-label="{{'CREATE_PART'|translate}}"
                                                   ng-click="actions.createPart(file)">
                                            <i class="material-icons">extension</i>
                                            {{'CREATE_PART'|translate}}
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button aria-label="{{'CREATE_DOCUMENT'|translate}}"
                                                   ng-click="actions.createDocument(file)">
                                            <i class="material-icons">description</i>
                                            {{'CREATE_DOCUMENT'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>


                        <td md-cell>
                            <div layout="column">
                                <a href file-preview="file.path"
                                   ng-class="{'modified':file.index && file.modified,'out-of-date':file.outOfDate}">
                                    {{file.path | fileShortName}}
                                    <md-tooltip>{{'FILE_PREVIEW'|translate}}</md-tooltip>
                                </a>
                                <small>{{'MODIFIED'|translate}} <a>{{file.stat.mtime | localDateTimeAgo}}</a></small>
                            </div>
                        </td>


                        <td md-cell><a ng-href="#/workspace/{{file.index.workspace}}">{{file.index.workspace}}
                            <md-tooltip>{{'BROWSE_WORKSPACE'|translate}}</md-tooltip>
                        </a></td>
                        <td md-cell>
                            <i ng-if="file.index.id" class="material-icons">description
                                <md-tooltip>{{'DOCUMENTS'|translate}}</md-tooltip>
                            </i>
                            <i ng-if="file.index.number" class="material-icons">extension
                                <md-tooltip>{{'PARTS'|translate}}</md-tooltip>
                            </i>
                        </td>
                        <td md-cell>{{file.index.id || file.index.number || '-' }}</td>
                        <td md-cell>{{file.index.revision}}-{{file.index.iteration}}</td>
                        <td md-cell>{{file.stat.size | humanreadablesize}}</td>

                        <td md-cell>{{lastModifiedDate ? (file.index.lastModifiedDate | utcDateTimeAgo) : '-' }}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-content>
    <md-content ng-if="sync.running" layout="row" layout-align="center center" layout-fill>
        <md-progress-circular md-diameter="96"></md-progress-circular>
    </md-content>
</div>