<select name="operator">
    <option value="SUM">{{i18n.SUM}}</option>
    <option value="AVG">{{i18n.AVG}}</option>
</select>
<select name="attributeName">
    {{#attributeNames}}
        <option value="{{.}}">{{.}}</option>
    {{/attributeNames}}
</select>
<i class="fa fa-times remove"></i>
<div class="result">
    <div>
        <span class="label">{{i18n.RESULT}} : <span class="memo"></span></span>

    </div>
    <div>
        <span>{{i18n.NODE_ASSEMBLIES_VISITED}} : </span>
        <span class="assemblies-visited"></span>
    </div>
    <div>
        <span>{{i18n.NODE_INSTANCES_VISITED}} : </span>
        <span class="instances-visited"></span>
    </div>
</div>
