<md-toolbar layout="row" layout-align="space-between center">
    <div>
        <h1 class="md-toolbar-tools brand-logo">
            <a href="#/">{{title}}</a>
        </h1>
    </div>
    <div>
        <md-menu>
            <md-button aria-label="{{'MENU'}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
            </md-button>

            <md-menu-content width="4">

                <md-menu-item>
                    <md-button aria-label="{{'SETTINGS'|translate}}" href="#/settings">
                        {{'SETTINGS'|translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="{{'SEARCH_REPO'|translate}}" ng-click="searchRepositories()">
                        {{'SEARCH_REPO'|translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="{{'ADD_FOLDER'|translate}}" ng-click="addFolder()">
                        {{'ADD_FOLDER'|translate}}
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="{{'LOGOUT'|translate}}" ng-click="logout()">
                        {{'LOGOUT'|translate}}
                    </md-button>
                </md-menu-item>

            </md-menu-content>

        </md-menu>
    </div>
</md-toolbar>
<md-content>
    <span class="connected-as">
       <i class="fa fa-user"></i> {{configuration.login}}@{{configuration.host}}
    </span>
    <ul class="menu">
        <li ng-repeat="section in menu.sections"
            class="parent-list-item {{section.className || ''}}"
            ng-class="{'parentActive' : openedSection === section}">
            <menu-toggle ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>
        </li>
    </ul>
</md-content>
