.actions {
    min-height: 48px;
    border-radius: 0;
    /* -webkit-box-shadow: 0 0px 3px #9b9b9b;
     -moz-box-shadow: 0 0px 3px #9b9b9b;
     box-shadow: 0 0px 3px #9b9b9b;*/

    margin: 0;
    padding: 0 20px;
    border: none;
    border-bottom: 1px solid rgba(63, 95, 153, 0.24);

    > .btn {
        height: 32px;
        margin: 8px 8px 8px 8px;
    }

    .btn-group {
        margin: 8px;
    }
    .btn-group .btn {
        float: none;
    }
    .new-document .icon {
        .plm-icon-action-document-new;
    }
    .new-template .icon {
        .plm-icon-action-template-new;
    }
    .new-product .icon {
        .plm-icon-action-product-new;
    }
    .new-configuration .icon {
        .plm-icon-action-configuration-new;
    }
    .new-effectivity .icon {
        .plm-icon-action-effectivity-new;
    }
    .udf .icon {
        .plm-icon-action-udf;
    }
    .new-part .icon {
        .plm-icon-action-part-new;
    }
    .new-workflow .icon {
        .plm-icon-action-workflow-new;
    }
    .new-issue .icon {
        .plm-icon-action-issue-new;
    }
    .new-request .icon {
        .plm-icon-action-request-new;
    }
    .new-order .icon {
        .plm-icon-action-order-new;
    }
    .new-milestone .icon {
        .plm-icon-action-milestone-new;
    }
    .new-product-instance .icon {
        .plm-icon-action-new-product-intances;
    }
    .roles .icon {
        .plm-icon-action-workflow-roles;
    }
    .list-lov .icon {
        .plm-icon-action-lov;
    }

    .delete, .delete-baseline {
        display: none;
        .icon {
            .plm-icon-action-delete;
        }
    }

    .duplicate {
        display: none;
        .icon {
            .plm-icon-action-duplicate;
        }
    }

    .new-baseline {
        display: none;
        .icon {
            .plm-icon-action-new-baseline;
        }
    }

    .baseline-in-progress {
        display: none;
        float: right;
    }

    .add-documents-to-baseline {
        color: #f89406;
    }

    .view-baseline-detail {
        color: #f89406;
        .icon {
            float: left;
            .plm-icon-action-new-baseline;
        }
    }

    .new-version {
        display: none;
        .icon {
            .plm-icon-action-new-version;
        }
    }
    .new-release {
        display: none;
        .icon {
            .plm-icon-action-new-release;
        }
    }
    .mark-as-obsolete {
        display: none;
        .icon {
            .plm-icon-action-mark-as-obsolete;
        }
    }
    .edit-acl {
        display: none;
        .icon {
            .plm-icon-action-acl;
        }
    }
    .checkout-group {
        display: none;
    }
    .checkout .icon {
        .plm-icon-action-checkout;
    }
    .undocheckout .icon {
        .plm-icon-action-undocheckout;
    }
    .checkin .icon {
        .plm-icon-action-checkin;
    }
    .tags {
        display: none;
    }
    .tags .icon {
        .plm-icon-action-tags;
    }

    .import .icon {
        .plm-icon-action-import;
    }

}
