.plm-icon-nav {
    background: no-repeat center;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 2px 6px 0 0;
}

.plm-icon-menu {
    background: no-repeat center;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 8px 0 0;
}

.plm-icon-action {
    background: no-repeat center;
    display: inline-block;
    height: 22px;
    margin: 0 8px;
    width: 22px;
}

// Nav

.plm-icon-nav-documents {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-documents.png");
}

.plm-icon-nav-folder {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-folder.png");
}

.plm-icon-nav-folder-opened {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-folder-opened.png");
}

.plm-icon-nav-folder-home {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-user-home.png");
}

.plm-icon-nav-products {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-product.png");
}

.plm-icon-nav-configuration {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-configuration.png");
}

.plm-icon-nav-baselines {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-baselines.png");
}

.plm-icon-nav-product-instances {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-product-instances.png");
}

.plm-icon-nav-parts {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-part.png");
}

.plm-icon-nav-folder-status-closed {
    .plm-icon-nav;
    width: 12px;
    background-image: url("../images/icon-nav-bullet-right.png");
    opacity: 0.6;
}

.plm-icon-nav-folder-status-opened {
    .plm-icon-nav;
    width: 12px;
    background-image: url("../images/icon-nav-bullet-down.png");
    opacity: 0.6;
}

.plm-icon-nav-tags {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-tags.png");
}

.plm-icon-nav-tag {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-tag.png");
}

.plm-icon-nav-workflows {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-workflows.png");
}

.plm-icon-nav-milestones {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-milestones.png");
}

.plm-icon-nav-issues {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-issues.png");
}

.plm-icon-nav-orders {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-orders.png");
}

.plm-icon-nav-requests {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-requests.png");
}

.plm-icon-nav-templates {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-templates.png");
}

.plm-icon-nav-checkedouts {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-checkedouts.png");
}

.plm-icon-nav-tasks {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-tasks.png");
}

.plm-icon-nav-search {
    .plm-icon-nav;
    background-image: url("../images/icon-nav-search.png");
}

// Actions

.plm-icon-action-delete {
    .plm-icon-action;
    background-image: url("../images/icon-action-delete.png");
}

.plm-icon-action-duplicate {
    .plm-icon-action;
    background-image: url("../images/icon-action-duplicate.png");
}

.plm-icon-action-new-baseline {
    .plm-icon-action;
    background-image: url("../images/icon-action-new-baseline.png");
}

.plm-icon-action-new-product-intances {
    .plm-icon-action;
    background-image: url("../images/icon-action-new-product-intances.png");
}

.plm-icon-action-document-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-new.png");
}

.plm-icon-action-template-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-template-new.png");
}

.plm-icon-action-product-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-product-new.png");
}

.plm-icon-action-configuration-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-configuration-new.png");
}

.plm-icon-action-udf {
    .plm-icon-action;
    background-image: url("../images/icon-action-udf.png");
}

.plm-icon-action-part-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-part-new.png");
}

.plm-icon-action-checkout {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-checkout.png");
}

.plm-icon-action-undocheckout {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-undocheckout.png");
}

.plm-icon-action-checkin {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-checkin.png");
}

.plm-icon-action-tags {
    .plm-icon-action;
    background-image: url("../images/icon-nav-tag.png");
}

.plm-icon-action-workflow-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-workflow-new.png");
}

.plm-icon-action-workflow-roles {
    .plm-icon-action;
    background-image: url("../images/icon-action-workflow-roles.png");
}

.plm-icon-action-new-version {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-new-version.png");
}

.plm-icon-action-new-release {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-new-release.png");
}

.plm-icon-action-mark-as-obsolete {
    .plm-icon-action;
    background-image: url("../images/icon-action-mark-as-obsolete.png");
}

.plm-icon-action-acl {
    .plm-icon-action;
    background-image: url("../images/icon-action-document-acl.png");
}

.plm-icon-action-milestone-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-milestone-new.png");
}

.plm-icon-action-issue-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-issue-new.png");
}

.plm-icon-action-request-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-request-new.png");
}

.plm-icon-action-order-new {
    .plm-icon-action;
    background-image: url("../images/icon-action-order-new.png");
}

.plm-icon-action-lov {
    .plm-icon-action;
    background-image: url("../images/icon-action-lov.png");
}

.plm-icon-action-import {
    .plm-icon-action;
    background-image: url("../images/icon-action-import.png");
}

// Menu

.plm-icon-menu-edit {
    .plm-icon-menu;
    background-image: url("../images/icon-menu-edit.png");
}

.plm-icon-menu-delete {
    .plm-icon-menu;
    background-image: url("../images/icon-menu-edit-delete.png");
}

.plm-icon-menu-folder-new {
    .plm-icon-menu;
    background-image: url("../images/icon-menu-folder-new.png");
}

