<md-dialog flex="50" layout="column">

    <div layout="row">

        <form name="downloadForm" ng-submit="downloadForm.$valid && submit()" layout="row">

            <div layout="column" layout-margin>

                <h2 class="md-headline">
                    {{'DOWNLOAD' | translate}}
                </h2>

                <div class="md-subhead description">
                    {{files.length}} {{'FILES_TO_BE_DOWNLOADED' | translate}}
                </div>

                <div layout="row" layout-align="start center">
                    <i class="material-icons">folder_open</i>
                    <md-input-container flex>

                        <label>{{'CHOOSE_DESTINATION_FOLDER'| translate}}</label>

                        <md-select required ng-model="options.destinationFolder">
                            <md-option ng-value="folder.uuid" ng-repeat="folder in folders">
                                {{folder.path | fileShortName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-virtual-repeat-container class="virtual-list virtual-list-col-5">
                    <div md-virtual-repeat="file in files" class="repeated-item" flex>
                        {{file | fileShortName}}
                    </div>
                </md-virtual-repeat-container>

                <p ng-if="error">{{error}}</p>


                <div layout="row">
                    <md-button type="button" ng-if="!loading" aria-label="" ng-click="close()"
                               class="md-raised md-default">
                        {{'CLOSE'|translate}}
                    </md-button>

                    <md-progress-circular ng-if="loading" class="md-hue-2" md-diameter="20px"></md-progress-circular>

                    <md-button ng-if="!loading && !status.ended" type="submit" aria-label="" class="md-raised md-primary">
                        {{'DOWNLOAD'|translate}}
                    </md-button>

                    <md-button ng-if="!loading && status.ended" ng-click="close(true)" aria-label="" class="md-raised md-primary">
                        {{'OPEN_FOLDER'|translate}}
                    </md-button>
                </div>

            </div>

            <div layout="column" layout-margin>

                <div layout="row" layout-align="start center">
                    <md-switch ng-model="showAdvancedOptions" aria-label="{{'ADVANCED_OPTIONS' | translate}}">
                        {{'ADVANCED_OPTIONS' | translate}}
                    </md-switch>
                </div>


                <div layout="column" ng-show="showAdvancedOptions">

                    <md-checkbox ng-model="options.checkOutItems" aria-label="{{'CHECK_OUT_ITEMS'|translate}}">
                        {{'CHECK_OUT_ITEMS'|translate}}
                    </md-checkbox>

                    <md-checkbox ng-model="options.checkOutItemsRecursive"
                                 aria-label="{{'CHECK_OUT_ITEMS'|translate}}">
                        {{'CHECK_OUT_RECURSIVE'|translate}}
                    </md-checkbox>

                </div>

                <div ng-if="status">

                    <div ng-if="status.url" layout="row" layout-align="space-between center">
                        <p>{{ status.url | fileShortName}}</p>
                        <p>{{status.progress}}%</p>
                    </div>

                    <md-progress-linear ng-if="status.url" md-mode="determinate" value="{{status.progress}}"></md-progress-linear>

                    <div layout="row" layout-align="space-between center">
                        <p>{{'TOTAL' | translate }} </p>
                        <p>{{status.done}}/{{status.total}}</p>
                    </div>

                    <md-progress-linear md-mode="determinate" value="{{100*(status.done/status.total)}}"></md-progress-linear>

                </div>


            </div>

        </form>
    </div>
</md-dialog>

