{{#hasCadFile}}
{{#status}}
    {{#pending}}
    <i class="fa fa-refresh fa-spin" title="{{i18n.CONVERSION_PENDING}}"></i><b>{{i18n.CONVERSION_PENDING}} ...</b>
    {{/pending}}
    {{^pending}}
        {{#succeed}}
            <i class="fa fa-recycle success" title="{{i18n.CONVERSION_SUCCEED}}"></i> <b>{{i18n.CONVERSION_SUCCEED}}</b>
        {{/succeed}}
        {{^succeed}}
            <i class="fa fa-recycle fail" title="{{i18n.CONVERSION_FAILED}}"></i><b>{{i18n.CONVERSION_FAILED}}</b>
            <span class="conversion-status-actions">
                    <a class="launch">{{i18n.RETRY}}</a>
            </span>
        {{/succeed}}
    {{/pending}}
{{/status}}
{{/hasCadFile}}
