{{#status}}
    {{#pending}}
    <i class="fa fa-refresh fa-spin" title="{{i18n.IMPORT_PENDING}}"></i><b>{{i18n.IMPORT_PENDING}} ...</b>
    {{/pending}}
    {{^pending}}
        {{#succeed}}
            <i class="fa fa-recycle success" title="{{i18n.IMPORT_SUCCEED}}"></i> <b>{{i18n.IMPORT_SUCCEED}}</b>
        {{/succeed}}
        {{^succeed}}
            <i class="fa fa-recycle fail" title="{{i18n.IMPORT_FAILED}}"></i><b>{{i18n.IMPORT_FAILED}}</b>
        {{/succeed}}

        <p class="file-name">
            {{i18n.FILE}}:  {{fileName}}
        </p>
        <p class="start-date">
            {{i18n.DATE}}: {{startDate}}
        </p>


        {{#errors.length}}
            <p class="error">{{i18n.ERRORS}}</p>
        {{#errors}}
            <p class="error">{{.}}</p>
        {{/errors}}
        {{/errors.length}}

        {{#warnings.length}}
            <p class="warning">{{i18n.WARNINGS}}</p>
        {{#warnings}}
            <p class="warning">{{.}}</p>
        {{/warnings}}
        {{/warnings.length}}

    {{/pending}}
{{/status}}
