<div class="modification-notification">

    {{^modificationNotification.isAcknowledged}}
    <i class="fa fa-circle" title="{{i18n.NOT_VERIFIED}}"></i>
    {{/modificationNotification.isAcknowledged}}

    <div class="modification-notification-details">

        {{modificationNotification.getModifiedPartVersion}}-{{modificationNotification.getModifiedPartIteration}}
        {{i18n.CHECKED_IN}}
        {{#modificationNotification.hasCheckInDate}} {{i18n.ON}} <a class="date-popover">{{modificationNotification.getFormattedCheckInDate}}</a>{{/modificationNotification.hasCheckInDate}}
        {{#modificationNotification.hasAuthor}} {{i18n.BY}} <a class="author-popover">{{modificationNotification.getAuthorName}}</a>{{/modificationNotification.hasAuthor}}

        {{#modificationNotification.getIterationNote}}
        <div class="modification-notification-note">
            "{{modificationNotification.getIterationNote}}"
        </div>
        {{/modificationNotification.getIterationNote}}

        {{#modificationNotification.isAcknowledged}}
        <div class="comment-italic">
            {{i18n.VERIFIED}} {{i18n.ON}} <a class="date-popover">{{modificationNotification.getFormattedAckDate}}</a>
            {{i18n.BY}} <a class="ack-author-popover">{{modificationNotification.getAckAuthorName}}</a>
        </div>
        {{#modificationNotification.getAckComment}}
        <div class="comment-italic">
            "{{modificationNotification.getAckComment}}"
        </div>
        {{/modificationNotification.getAckComment}}
        {{/modificationNotification.isAcknowledged}}

        {{^modificationNotification.isAcknowledged}}
        <div class="comment">
            <input id="acknowledgement-comment" type="text" placeholder="{{i18n.VERIFICATION_NOTE}}">
            <a class="action-acknowledge">{{i18n.MARK_AS_VERIFIED}}</a>
        </div>
        {{/modificationNotification.isAcknowledged}}
    </div>

</div>
