<div class="control-group" id="partEffectivityProductDiv">
    <label class="control-label" for="inputProductId">{{i18n.PRODUCT}}</label>

    <div class="controls">
        <input type="text" id="inputProductId" placeholder="{{i18n.PRODUCT}}" value="{{effectivity.configurationItemKey.id}}" required/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputStart">{{i18n.EFFECTIVITY_START_NUMBER}}</label>

    <div class="controls">
        <input type="text" id="inputStart"  value="{{effectivity.startNumber}}"required/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputEnd">{{i18n.EFFECTIVITY_END_NUMBER}}</label>

    <div class="controls">
        <input type="text" id="inputEnd"  value="{{effectivity.endNumber}}"required/>
    </div>
</div>
