<div id="part-modal" class="modal">

    <div class="modal-header">
        {{#part.isCheckout}}
        {{#part.isCheckoutByConnectedUser}}<i class="fa fa-pencil"></i>{{/part.isCheckoutByConnectedUser}}
        {{^part.isCheckoutByConnectedUser}}<i class="fa fa-lock"></i>{{/part.isCheckoutByConnectedUser}}
        {{/part.isCheckout}}
        {{^part.isCheckout}}
        {{#part.isReleased}}
        <i class="fa fa-check"></i>
        {{/part.isReleased}}
        {{^part.isReleased}}
        {{#part.isObsolete}}<i class="fa fa-frown-o"></i>{{/part.isObsolete}}
        {{^part.isObsolete}}<i class="fa fa-eye"></i>{{/part.isObsolete}}
        {{/part.isReleased}}
        {{/part.isCheckout}}

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <span class="icon"></span>
            {{^hasOneIteration}}
                <a target="_blank" href="{{permalink}}">
            {{/hasOneIteration}}
            {{part.getName}} < {{part.getNumber}}-{{part.getVersion}} >
            {{#part.isObsolete}}({{i18n.OBSOLETE}}){{/part.isObsolete}}
            {{#part.isReleased}}({{i18n.RELEASED}}){{/part.isReleased}}
            {{#part.isCheckoutByConnectedUser}}({{i18n.IN_PROGRESS}}){{/part.isCheckoutByConnectedUser}}
            {{#part.isLocked}}({{i18n.LOCKED}}){{/part.isLocked}}
            {{^hasOneIteration}}
                </a>
            {{/hasOneIteration}}
        </h3>
    </div>
    <div class="modal-body">
        <div class="notifications"></div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-part-general" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                {{#hasIterations}}
                <li><a href="#tab-part-iteration" data-toggle="tab">{{i18n.ITERATION}}</a></li>
                <li><a href="#tab-part-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
                <li><a href="#tab-part-files" data-toggle="tab">{{i18n.FILES}}</a></li>
                <li><a href="#tab-assembly" data-toggle="tab">{{i18n.SUB_PARTS}}</a></li>
                <li><a href="#tab-part-links" data-toggle="tab">{{i18n.LINKS}}</a></li>
                <li><a href="#tab-iteration-used-by" data-toggle="tab">{{i18n.USED_BY}}</a></li>
                <li><a href="#tab-iteration-lifecycle" data-toggle="tab">{{i18n.LIFECYCLE_STATE}}</a></li>
                {{#isShowingLast}}
                {{#part.hasModificationNotifications}}
                <li><a href="#tab-part-modification-notifications" data-toggle="tab">{{i18n.NOTIFICATIONS}}</a></li>
                {{/part.hasModificationNotifications}}
                {{/isShowingLast}}
                {{/hasIterations}}
            </ul>

            <form id="form-part" class="form-horizontal">
                <div class="tab-content form-horizontal">

                    <div id="tab-part-general" class="tab-pane active">
                        <div class="control-group">
                            <label class="control-label">{{i18n.PART_NUMBER}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getNumber}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.VERSION}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getVersion}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CREATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{part.getFormattedCreationDate}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.TYPE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getType}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.PART_NAME}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getName}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.STANDARD_PART}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.isStandardPartReadable}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.AUTHOR}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="author-popover">{{part.getAuthorName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.LIFECYCLE_STATE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getLifeCycleState}}</span>
                            </div>
                        </div>
                        {{#isCheckout}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_BY}}</label>

                            <div class="controls">
                                <span class="help-inline"><a
                                        class="checkout-user-popover">{{part.getCheckOutUserName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{part.getFormattedCheckoutDate}}</a></span>
                            </div>
                        </div>
                        {{/isCheckout}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.DESCRIPTION}}</label>

                            <div class="controls">
                                <span class="help-inline">{{part.getDescription}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.TAGS}}</label>

                            <div class="controls">
                                <ul class="help-inline master-tags-list unstyled"></ul>
                            </div>
                        </div>
                        {{#part.getReleaseAuthor}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.RELEASED_BY}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="release-user-popover">{{part.getReleaseAuthorName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.RELEASE_DATE}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{part.getReleaseDate}}</a></span>
                            </div>
                        </div>
                        {{/part.getReleaseAuthor}}
                        {{#isObsolete}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.OBSOLETE_AUTHOR}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="obsolete-user-popover">{{part.getObsoleteAuthorName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.OBSOLETE_DATE}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{part.getObsoleteDate}}</a></span>
                            </div>
                        </div>
                        {{/isObsolete}}
                    </div>

                    {{#hasIterations}}
                    <div id="tab-part-iteration" class="tab-pane">
                        <div class="control-group">
                            <label class="control-label">{{i18n.REFERENCE}}</label>

                            <div class="controls">
                                <span class="help-inline">{{reference}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputRevisionNote">{{i18n.REVISION_NOTE}}</label>

                            <div class="controls">
                                <textarea type="text" id="inputRevisionNote" {{^editMode}}disabled="disabled"{{/editMode}} >{{iteration.iterationNote}}</textarea>
                            </div>
                        </div>
                        {{^isReleased}}
                        {{^isObsolete}}
                        {{^isLocked}}
                        <div class="action-checkin-checkout" >
                            {{^isCheckout}}<button type="button" class="btn btn-small btn-warning action-checkout"> <i class="fa fa-pencil"></i> {{i18n.CHECKOUT}}</button>{{/isCheckout}}
                            {{#isCheckout}}<button type="button" class="btn btn-small btn-success action-checkin"> <i class="fa fa-eye"></i> {{i18n.CHECKIN}}</button>
                            <button type="button" class="btn btn-small btn-info action-undocheckout"> <i class="fa fa-reply"></i>{{i18n.UNDO_CHECKOUT}}</button>{{/isCheckout}}

                        </div>
                        {{/isLocked}}
                        {{/isObsolete}}
                        {{/isReleased}}

                        <div class="control-group">
                            <label class="control-label">{{i18n.REVISION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{iteration.revisionDate}}</a></span>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">{{i18n.MODIFICATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{iteration.modificationDate}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.AUTHOR}}</label>

                            <div class="controls">
                                <span class="help-inline">{{iteration.author.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div id="tab-part-attributes" class="tab-pane">
                        <p>{{i18n.PART_ATTRIBUTES}}</p>
                        <div id="attributes-list" class="attributes attributes-edit"></div>
                        <p>{{i18n.PRODUCT_INSTANCE_DATA_ATTRIBUTES_TEMPLATES}}</p>
                        <div id="attribute-templates-list" class="attributes attributes-edit"></div>
                    </div>

                    <div id="tab-part-files" class="tab-pane files">
                        <div id="iteration-files"></div>
                    </div>

                    <div id="tab-assembly" class="tab-pane">
                        <div id="iteration-components"></div>
                    </div>

                    <div id="tab-part-links" class="tab-pane">
                        <div id="iteration-links"></div>
                    </div>

                    <div id="tab-iteration-used-by" class="tab-pane">
                        <div id="iteration-used-by"></div>
                    </div>

                    <div id="tab-iteration-lifecycle" class="tab-pane ">
                        <div id="iteration-lifecycle"></div>
                    </div>

                    {{#isShowingLast}}
                    {{#part.hasModificationNotifications}}
                    <div id="tab-part-modification-notifications" class="tab-pane">
                        <div id="iteration-modification-notifications"></div>
                    </div>
                    {{/part.hasModificationNotifications}}
                    {{/isShowingLast}}

                    {{/hasIterations}}
                </div>
            </form>
        </div>

    </div>

    <div class="modal-footer">

        {{#iteration}}
        <ul id="switch-iteration" class="pager">
            <li class="{{^hasPreviousIteration}}disabled{{/hasPreviousIteration}}">
                <a href="#" id="previous-iteration"><i class="fa fa-angle-left icon-large"></i></a>
            </li>
            <li>{{iteration}}/{{iterations}}</li>
            <li class="{{^hasNextIteration}}disabled{{/hasNextIteration}}">
                <a href="#" id="next-iteration"><i class="fa fa-angle-right icon-large"></i></a>
            </li>
        </ul>
        {{/iteration}}

        {{#editMode}}
        <a id="cancel-iteration" class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button id="save-part" class="btn btn-primary" form="form-part">{{i18n.SAVE}}</button>
        {{/editMode}}
        {{^editMode}}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        {{/editMode}}
    </div>

</div>
