{{#editMode}}
<div class="create-part-usage-link-menu">
    <a class="fa fa-info-circle tooltip" data-tooltip="{{i18n.CREATE_PART_SUBSTITUTE_TOOLTIP}}"></a>
    <a class="btn btn-default" id="create-part-revision-as-part-usage-link">{{i18n.CREATE_NEW_PART}}</a>
    <input type="text" id="part-usage-link-type-ahead" placeholder="{{i18n.OR_ADD_PART}}"/>
</div>
<div class="create-part-substitute-link-menu">
    <a class="fa fa-info-circle tooltip" data-tooltip="{{i18n.CREATE_PART_TOOLTIP}}"></a>
    <a class="btn btn-default" id="create-part-revision-as-part-substitute-link">{{i18n.CREATE_NEW_PART_AS_SUBSTITUTE}}</a>
    <input type="text" id="part-substitute-link-type-ahead" placeholder="{{i18n.OR_ADD_PART}}"/>
</div>
{{/editMode}}
<div class="components"></div>
