<td><input type="checkbox"/></td>
<td class="part_number">
    {{#isCheckout}}
        {{#isCheckoutByConnectedUser}}<i class="icon-pencil"></i>{{/isCheckoutByConnectedUser}}
        {{^isCheckoutByConnectedUser}}<i class="icon-lock"></i>{{/isCheckoutByConnectedUser}}
    {{/isCheckout}}
    {{^isCheckout}}
        <i class="icon-eye-open"></i>
    {{/isCheckout}}
    {{getNumber}}
</td>
<td>{{getVersion}}</td>
<td>{{#getLastIteration}}
    {{id}}
    {{/getLastIteration}}
    {{^getLastIteration}}
    -
    {{/getLastIteration}}</td>
<td>{{isStandardPart}}</td>
<td>{{getName}}</td>
<td><a class="author-popover">{{getAuthorName}}</a></td>

<td>{{getFormattedCreationDate}}</td>
<td>{{getFormattedCheckoutDate}}</td>
<td><a class="checkout-user-popover">{{getCheckOutUserName}}</a></td>
