<td><input type="checkbox"/></td>
<td class="part_number">
    {{#isCheckout}}
        {{#isCheckoutByConnectedUser}}<i class="fa fa-pencil"></i>{{/isCheckoutByConnectedUser}}
        {{^isCheckoutByConnectedUser}}<i class="fa fa-lock"></i>{{/isCheckoutByConnectedUser}}
    {{/isCheckout}}
    {{^isCheckout}}
        <i class="fa-eye"></i>
    {{/isCheckout}}
    {{getNumber}}
</td>
<td>{{getVersion}}</td>
<td>{{#getLastIteration}}
    {{id}}
    {{/getLastIteration}}
    {{^getLastIteration}}
    -
    {{/getLastIteration}}</td>
<td>{{isStandardPartReadable}}</td>
<td>{{getName}}</td>
<td><a class="author-popover">{{getAuthorName}}</a></td>

<td>{{getFormattedCreationDate}}</td>
<td>{{getFormattedCheckoutDate}}</td>
<td><a class="checkout-user-popover">{{getCheckOutUserName}}</a></td>
