<div class="nav-header">{{i18n.COLLABORATIVE}}</div>

<div id="collaborative_view">
    <div><a id="collaborative_create" href="#">{{i18n.CREATE_ROOM}}</a> </div>
    <ul id="collaborative_room">
        <h4>
            <a id="collaborative_invite" href="#" title="{{i18n.INVITE}}"><i class="fa fa-users"></i></a>
            <a id="collaborative_exit" href="#" title="{{i18n.EXIT}}"><i class="fa fa-times"></i></a>
        </h4>
        <div id="room_wrapper">
        <li>
            <i id="collaborative_master" class="fa fa-graduation-cap master" title="{{i18n.COLLABORATIVE_LEAD}}"></i>
            <span>{{master}}</span>
        </li>

        {{^users}}
        {{^pendingUsers}}
        <li><em>{{i18n.NO_PARTICIPANT}}</em></li>
        {{/pendingUsers}}
        {{/users}}

        {{#users}}
        <li>
            <i class="fa fa-user participant-online" title="{{i18n.PARTICIPANT}}"></i>
            <span>{{ . }}</span>
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-chevron-left"></i>
            <a class="collaborative_give_hand" href="#" name="{{ . }}"  title="{{i18n.GIVE_HAND}}"><i class="fa fa-graduation-cap"></i></a>
            <a class="collaborative_kick" href="#" name="{{ . }}" title="{{i18n.WITHDRAW_INVITATION}}"><i class="fa fa-sign-out"></i></a>
        </li>
        {{/users}}

        {{#pendingUsers}}
        <li>
            <i class="fa fa-user participant-offline" title="{{i18n.PENDING}}"></i>
            <span>{{ . }} </span>
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-chevron-left"></i>
            <a class="collaborative_withdraw_invitation" href="#" name="{{ . }}" title="{{i18n.WITHDRAW_INVITATION}}"><i class="fa fa-sign-out"></i></a>
        </li>
        {{/pendingUsers}}
        </div>
    </ul>
</div>
