<div id="component-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span class="icon"></span>{{component.getNumber}}</h3>
    </div>
    <div class="modal-body">

        <form id="form-component" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{i18n.PART_NUMBER}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getNumber}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.PART_NAME}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getName}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.VERSION}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getVersion}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.ITERATION}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getIteration}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.IS_STANDARD_PART}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.isStandardPart}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.AUTHOR}}</label>
                <div class="controls">
                    <span class="help-inline"><a class="author-popover">{{component.getAuthor}}</a></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.AMOUNT}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getAmount}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.CHECKOUT_BY}}</label>
                <div class="controls">
                    <span class="help-inline"><a class="checkout-user-popover">{{component.checkOutUser.name}}</a></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.CHECKOUT_DATE}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.checkOutDate}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{i18n.DESCRIPTION}}</label>
                <div class="controls">
                    <span class="help-inline">{{component.getDescription}}</span>
                </div>
            </div>
        </form>

    </div>

    <div class="modal-footer">
        {{#editMode}}
        <button id="save-component" class="btn btn-primary" form="form">
            {{i18n.SAVE}}
        </button>
        <a id="cancel-iteration" class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        {{/editMode}}
        {{^editMode}}
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        {{/editMode}}
    </div>
</div>
