<div class="nav-header">{{i18n.TRANSFORM_CONTROLS}}</div>

<div class="btn-group" data-toggle="buttons-radio" id="transform_mode_view_btn">
    <button class="btn btn-custom" id="translate"  title="{{i18n.MOVE}} (z)"><i class="icon-move"></i></button>
    <button class="btn btn-custom" id="rotate"  title="{{i18n.ROTATE}} (e)"><i class="icon-repeat"></i></button>
    <button class="btn btn-custom" id="scale"  title="{{i18n.SCALE}} (r)"><i class="icon-resize-full"></i></button>
</div>

<button class="btn btn-custom" id="cancel_transformation"  title="{{i18n.REPLACE}}"><i class="icon-magic"></i></button>