<div class="btn-group" data-toggle="buttons-radio" id="view_buttons">
    <button class="btn btn-custom" id="flying_mode_view_btn" title="{{i18n.FLYING_MODE}}"><i class="icon-fighter-jet"></i>
    </button>
    <button class="btn btn-custom" id="tracking_mode_view_btn"  title="{{i18n.TRACKBALL_MODE}}"><i class="icon-magnet"></i></button>
</div>

<div class="btn-group" id="manageMarker">
    <button class="btn btn-custom" id="markerZoomLess" title="{{i18n.MARKERS_SIZE_MIN}}"><i class="icon-minus"></i></button>
    <button class="btn btn-custom" id="markerState" title="{{i18n.MARKERS_OPACITY}}"><i class="icon-circle"></i></button>
    <button class="btn btn-custom" id="markerZoomMore" title="{{i18n.MARKERS_SIZE_MAX}}"><i class="icon-plus"></i></button>
</div>