<div class="btn-group" data-toggle="buttons-radio" id="view_buttons">
    <button class="btn btn-custom" id="flying_mode_view_btn"><i class="icon-fighter-jet"></i>
    </button>
    <button class="btn btn-custom" id="tracking_mode_view_btn"><i class="icon-magnet"></i></button>
</div>

<div class="btn-group" id="manageMarker">
    <button class="btn btn-custom" id="markerZoomLess"><i class="icon-minus"></i></button>
    <button class="btn btn-custom" id="markerState"><i class="icon-circle"></i></button>
    <button class="btn btn-custom" id="markerZoomMore"><i class="icon-plus"></i></button>
</div>