<div id="part-modal" class="modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span class="icon"></span>{{part.getNumber}}</h3>
    </div>
    <div class="modal-body">

        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-part-general" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-part-iteration" data-toggle="tab">{{i18n.ITERATION}}</a></li>
                <li><a href="#tab-part-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
                <li><a href="#tab-part-files" data-toggle="tab">{{i18n.CAD_FILE}}</a></li>
            </ul>

            <div class="tab-content form-horizontal">

                <div id="tab-part-general" class="tab-pane active">

                    <form id="form-part" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">{{i18n.PART_NUMBER}}</label>
                            <div class="controls">
                                <span class="help-inline">{{part.getNumber}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.PART_NAME}}</label>
                            <div class="controls">
                                <span class="help-inline">{{part.getName}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.VERSION}}</label>
                            <div class="controls">
                                <span class="help-inline">{{part.getVersion}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.ITERATION}}</label>
                            <div class="controls">
                                <span class="help-inline">{{#part.getLastIteration}}{{id}}{{/part.getLastIteration}}{{^part.getLastIteration}} - {{/part.getLastIteration}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.AUTHOR}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="author-popover">{{part.getAuthorName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_BY}}</label>
                            <div class="controls">
                                <span class="help-inline"><a class="checkout-user-popover">{{part.getCheckOutUserName}}</a></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.CHECKOUT_DATE}}</label>
                            <div class="controls">
                                <span class="help-inline">{{part.getFormattedCheckoutDate}}</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{i18n.DESCRIPTION}}</label>
                            <div class="controls">
                                <span class="help-inline">{{part.getDescription}}</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="tab-part-iteration" class="tab-pane"></div>

                <div id="tab-part-attributes" class="tab-pane">
                    <div id="attributes-list" class="attributes attributes-edit"></div>
                </div>

                <div id="tab-part-files" class="tab-pane files">
                    cad file
                </div>

            </div>


        </div>



    </div>

    <div class="modal-footer">
        {{#part.isCheckoutByConnectedUser}}
        <button id="save-part" class="btn btn-primary" form="form-part">
            {{i18n.SAVE}}
        </button>
        <a id="cancel-iteration" class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        {{/part.isCheckoutByConnectedUser}}
        {{^part.isCheckoutByConnectedUser}}
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        {{/part.isCheckoutByConnectedUser}}
    </div>
</div>
