<div id="actions-{{view.cid}}" class="actions">
	<button class="btn delete" title="{{_.DELETE}}">
		<span class="icon"></span>
	</button>
	<span class="btn-group checkout-group">
		<button class="btn checkout" title="{{_.CHECKOUT}}">
			<span class="icon"></span>
		</button>
		<button class="btn undocheckout" title="{{_.CANCEL_CHECKOUT}}">
			<span class="icon"></span>
		</button>
		<button class="btn checkin" title="{{_.CHECKIN}}">
			<span class="icon"></span>
		</button>
	</span>
</div>
<table id="list-{{view.cid}}" class="table table-striped table-condensed"></table>
