<div class="wrapper">
<header>
	<a class="close" data-dismiss="modal">×</a>
	<h3><span class="icon"></span>{{model.id}} {{model.version}}</h3>
</header>
<section>
	<div class="document properties">
		<p><span class="name">{{_.REFERENCE}}:</span>		<span class="value">{{model.reference}}</span></p>
		<p><span class="name">{{_.VERSION}}:</span>			<span class="value">{{model.version}}</span></p>
		<p><span class="name">{{_.TYPE}}:</span>			<span class="value">{{model.type}}</span></p>
		<p><span class="name">{{_.AUTHOR}}:</span>			<span class="value">{{model.author.name}}</span></p>
		<p><span class="name">{{_.CREATION_DATE}}:</span>	<span class="value">{{model.creationDate}}</span></p>
		<p><span class="name">{{_.CHECKOUT_DATE}}:</span>	<span class="value">{{model.checkOutDate}}</span></p>
	</div>
	<div class="tabs">
		<div class="tab-content">
			{{#model.documentIterations}}
				{{#editable?}}
					<div id="tab-iteration-{{iteration}}-{{view.cid}}" class="tab-pane active"></div>
				{{/editable?}}
				{{^editable?}}
					<div id="tab-iteration-{{iteration}}-{{view.cid}}" class="tab-pane{{#lastIteration?}} active{{/lastIteration?}}">
						<div class="properties">
							<p><span class="name">{{_.ITERATION}}:</span>		<span class="value">{{iteration}}</span></p>
							<p><span class="name">{{_.AUTHOR}}:</span>			<span class="value">{{author.name}}</span></p>
							<p><span class="name">{{_.CREATION_DATE}}:</span>	<span class="value">{{creationDate}}</span></p>
							<p><span class="name">{{_.REVISION_NOTE}}:</span>	<span class="value">{{revisionNote}}</span></p>
						</div>
						<div class="attributes">
							{{#instanceAttributes}}
							<p><span class="name">{{name}}:</span>	<span class="value">{{value}}</span></p>
							{{/instanceAttributes}}
						</div>
						<div class="files">
							<h2>{{_.FILES}}</h2>
							<ul>
							{{#attachedFiles}}
								<li class="list-item">
									<a target="blank" href="/files/{{.}}">{{.}}</a>
								</li>
							{{/attachedFiles}}
							</ul>
						</div>
					</div>
				{{/editable?}}
			{{/model.documentIterations}}
		</div>
		<div class="iteration-nav scroll-area">
			<ul class="nav nav-tabs scroll-content">
				{{#model.documentIterations}}
				<li class="scroll-item{{#lastIteration?}} active{{/lastIteration?}}">
					<a href="#tab-iteration-{{iteration}}-{{view.cid}}" data-toggle="tab"
						{{#revisionNote}} title="{{_.REVISION_NOTE}}: {{revisionNote}}"{{/revisionNote}}>
						{{iteration}}
						({{author.name}})
						{{creationDate}}
					</a>
				</li>
				{{/model.documentIterations}}
			</ul>
		</div>
	</div>
</section>
</div>
