<div class="modal edit-folder">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3><span class="icon"></span>{{_.RENAME}}</h3>
	</div>
	<div class="modal-body">
		<div id="alerts-{{view.cid}}"></div>
		<form id="edit-folder-form">
			<label>Nom</label>
			<input class="name" type="text" autofocus
				placeholder="{{_.FOLDER_S_NAME}}" />
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn save btn-primary" form="edit-folder-form">
			{{_.SAVE}}
		</button>
		<a class="btn cancel" data-dismiss="modal">{{_.CANCEL}}</a>
	</div>
</div>
