<form id="form-{{view.cid}}" class="form-horizontal">
	<div id="alerts-{{view.cid}}">
	</div>
	<header>
		<div class="properties">
			<p><span class="name">{{_.ITERATION}}:</span>		<span class="value">{{model.iteration}}</span></p>
			<p><span class="name">{{_.AUTHOR}}:</span>			<span class="value">{{model.author.name}}</span></p>
			<p><span class="name">{{_.CREATION_DATE}}:</span>	<span class="value">{{model.creationDate}}</span></p>
		</div>
	</header>
	<section>
		<div class="control-group">
			<label class="control-label" for="form-{{view.cid}}-title">{{_.REVISION_NOTE}}</label>
			<div class="controls">
				<input type="text" class="revision-note input-xlarge title" id="form-{{view.cid}}-title" value="{{model.revisionNote}}">
			</div>
		</div>
		<h3>{{_.ATTRIBUTES}}</h3>
		<div id="attributes-{{view.cid}}" class="attributes-edit"></div>
		<h3>{{_.FILES}}</h3>
		<div id="files-{{view.cid}}" class="files-edit"></div>
	</section>
	<footer>
		<button class="btn save btn-primary" form="{{view.cid}}-form">
			{{_.SAVE}}
		</button>
		<a class="btn cancel" data-dismiss="modal">{{_.CANCEL}}</a>
	</footer>
</form>
