<div class="wrapper">
<header>
	<a class="close" data-dismiss="modal">×</a>
	<h3><span class="icon"></span>{{model.id}}</h3>
</header>
<section>
	<div class="document properties">
		<p><span class="name">{{_.REFERENCE}}:</span>			<span class="value">{{model.id}}</span></p>
		<p><span class="name">{{_.AUTHOR}}:</span>			<span class="value">{{model.author.name}}</span></p>
		<p><span class="name">{{_.CREATION_DATE}}:</span>	<span class="value">{{model.creationDate}}</span></p>
	</div>
	<form id="form-{{view.cid}}" class="form-horizontal">
		<div class="control-group">
			<div class="controls">
				<label class="control-label" for="form-{{view.cid}}-type">{{_.TYPE}}</label>
				<input type="text" class="input-xlarge type" id="form-{{view.cid}}-type" value="{{model.documentType}}">
			</div>
			<div class="controls">
				<label class="control-label" for="form-{{view.cid}}-mask">{{_.MASK}}</label>
				<input type="text" class="input-xlarge mask" id="form-{{view.cid}}-title" value="{{model.mask}}">
			</div>
			<div class="controls">
				<label class="control-label" for="form-{{view.cid}}-id-generated">{{_.ID_GENERATION}}</label>
				<input type="checkbox" class="input-xlarge id-generated" id="form-{{view.cid}}-title" {{#model.idGenerated}} checked{{/model.idGenerated}} />
			</div>
		</div>
		<h3>{{_.ATTRIBUTES}}</h3>
		<div id="attributes-{{view.cid}}" class="attributes-edit"></div>
		<h3>{{_.FILES}}</h3>
		<div id="files-{{view.cid}}" class="files-edit"></div>
	</form>
</section>
<footer>
	<button class="btn save btn-primary" form="{{view.cid}}-form">
		{{_.SAVE}}
	</button>
	<a class="btn cancel" data-dismiss="modal">{{_.CANCEL}}</a>
</footer>
</div>
