body{
    font-family: "Helvetica Neue","Trebuchet MS", "Lucida Grande", arial, sans-serif;
    font-size: 0.8em;
    background: white;
    padding-top: 40px;
    background: /*#F1F3F8*/ white url('../images/sidebar_bg_2.png') repeat-y;
}

[class^="icon-"] {
    background-image: url('../images/glyphicons-halflings.png');    
}

.cbg-ButtonContent{
    font-size: 1.2em;
}

.busy{
    cursor: pointer;
    text-decoration: underline;
    padding-left: 20px;
    height: 20px;
    background: url('busy.gif') no-repeat;
}

.elementTable .middleCenter {
    height: 100%;
    width: 100%;
}

.folderTree {
    margin-top: 10px;
    margin-right:10px;
}

.folderTree .gwt-Tree .gwt-TreeItem-selected {
    padding: 2px;
    border: 2px solid #6694E3;
    background: #C3D9FF;
}
.myPopup{

}
.myPopup-Element{
    background-color: #FAD563;
    color: black;
    font-weight: bold;
    padding: 0px 15px 0px 15px;
}


.smallLinkAction{
    font-size: 0.7em;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.normalLinkAction{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.docdoku-TableWidget {
    width: 100%;
    color: #666;
    cursor: pointer;
}

.myMenuBar {
    width: 100%;
    background-color: #C3D9FF;
    padding: 10px 10px 10px 10px;
}

.docdoku-TableWidget td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CAD4E6;
}



.selected .my-RP-Corner, .selected .my-RP-Link{
    background-color: #6694E3;
    color: white;
    font-weight: bold;
}

.my-RP {
    margin-left: 130px;
}

.searchPanel .gwt-DisclosurePanel .content {
    border-left: 3px solid #69C17D;
    padding-right: 20px;
}
.searchPanel .my-Input-Zone-Header {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #69C17D;
}
.searchPanel .my-Input-Zone-Corner {
    background-color: #69C17D;
}
.searchPanel .my-Input-Zone-Element-Advanced {
    background-color: #C9EDCC;
}

.my-Input-Zone{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.my-Input-Zone-RP-Advanced{
    width: 100%;
}

.my-Input-Zone-RP{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
}
.my-Input-Zone-Element {
    width: 100%;
    background-color: #D2E6D2;
    padding: 10px 10px 10px 10px;
}

.my-Input-Zone-Corner {
    background-color: #D2E6D2;
}

.my-Input-Zone-Header {
    padding: 3px 3px 3px 10px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #D2E6D2;
}


.my-Input-Zone-Element-Advanced {
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px 10px 10px 10px;
}

.my-RP-Link {
    cursor: pointer;
    padding-right: 15px;
}




/*#page {
    text-align: left;
    padding: 0 20px 30px 20px;
    overflow: hidden;
    background: #fff;
    color: #666;
}*/


#header {
    height: 20px;
    border-bottom: 2px solid #de5c32;
}

#header a {
    text-decoration: none;
    color: #199424;
}

#header a:hover {
    text-decoration: underline;
}

#header #home {
    display: inline;
    float: left;
    font-size: 12px;
}
#header #toplinks {
    display: inline;
    float: right;
    font-size: 12px;
}

.task {
    border: solid #e7eaea;
    margin: 3px ;
    padding:16px;
}

.taskComplete{
    border: solid green;
    margin: 3px ;
    padding:3px;
}

.activity {
    padding : 3px ;
    margin : 3px;
}


.taskCanvas{
    text-align :center ;
}

.taskCanvas td{
    text-align:center;
}

.canvas
{
    padding-top:30px;
    text-align:center;
}

.task-inprogress {
    border: solid #e7eaea;
    margin: 3px ;
    padding:3px;
}

.task-notstarted {
    border: solid #e7eaea;
    margin: 3px ;
    padding:3px;
}

.task-approuved {
    border: solid green;
    margin: 3px ;
    padding:3px;
}

.task-rejected {
    border: solid red;
    margin: 3px ;
    padding:3px;
}

.workflow-viewer{
    background-color:white;
    padding-top:40px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
}

.workflow-addActivity{
    cursor:pointer;
}

.spinbox-button{
    width:10px;
    height:10px;
}

.activity{
    margin-top:20px;
}

.task-option{
    border :0px;
    padding:2px;
}

.ro-state{
    padding:4px;
}



.clickableLabel{
    cursor:pointer;
    padding-right:2px;
    padding-left:2px;
}

.docOptions{
    padding-right:50px ;
}

.dnd-infosPanel{
    padding:2px ;
    background-color:#C3D9FF;
    border: 2px solid #6694E3;
}

.dnd-overTarget{
    background-color:#dddddd;
}

.dnd-onMove{
    margin:15px;
}

.editableState-Corner {
    background-color: #C3D9FF;
}
.editableState-RP {
    margin-top:2px;
    margin-bottom:2px;
    margin-right:6px;
    margin-left:6px;
}

.editableState-Element {
    padding-top:2px;
    padding-bottom:2px;
    padding-right:6px;
    padding-left:6px;
    background-color: #C3D9FF;
}

.editableState{
    padding:2px;
    background-color: #C3D9FF;
    border:none;
}

.editableState-selected{
    padding:0px;
    background-color: white;
    border:solid 2px #6694E3;

}

.editableState-hover{
    padding:0px;
    background-color: #C3D9FF;
    border:solid 2px #6694E3;
}

/* widgets default style */


.iteration-Corner {
    background-color: #C3D9FF;
}

.iteration-Element {
    padding-top:2px;
    padding-bottom:2px;
    padding-right:6px;
    padding-left:6px;
    background-color: #C3D9FF;
    cursor:pointer;
}

.iterationSelected-Element {
    padding-top:2px;
    padding-bottom:2px;
    padding-right:6px;
    padding-left:6px;
    background-color: #C3D9FF;
    font-weight:bold;
    cursor:pointer;
}

.iteration-RP {
    margin-top:2px;
    margin-bottom:2px;
    margin-right:2px;
    margin-left:2px;
}

.emphasis{
    font-weight:bold;
}



.instanceAttributes{
    background-color:#EEEEEE;
    border:none;
    margin:2px;
}

.instanceAttributes-hover{
    border:solid 1px black;
    margin:1px;
}

.instanceAttributes-selected{
    border:solid 1px black;
    margin:1px;
    background-color:white;
}



.myMenuBarSearch {
    width: 100%;
    background-color: #C9EDCC;
    padding: 10px 10px 10px 10px;
}

.searchTable-header{
    background-color:#69C17D ;
}

.searchTable-selected {
    background-color: #FFFFCC;
    color: black;
}

.createLabelField{
    background-color:white ;
    margin-right:2px;
    border:1px solid black;
}

.createLabelPanel{
    margin-top:2px ;
    padding-top:2px ;
    border-top:black 1px solid
}