


/*



#page {
    text-align: left;
    padding: 0 20px 30px 20px;
    overflow: hidden;
    background: #fff;
}



.help h2 {
    color: #fff;
    font-size: 16px;
    margin: 94px 0 10px 10px;
}

.help h3 {
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.headline p {
    padding: 0;
    margin: 0;
}


#sidebar img {
    border: 2px solid #fff;
}



*/