/*
 * LAYER MANAGER
 */

#manageMarker {
    height: 40px;
    width: 100px;
    margin: 0px auto;
}

.icon-navigation {
    color: #FEFEFE;
    font-size: 22px;
    text-shadow:1px 1px 3px #000;
}

.icon-fullscreen {
	-webkit-transform-origin : 50% 50%;
	-webkit-transform : rotate(45deg);
	text-shadow: -1px -1px 3px #000;
	padding-left: 10px;
}

.icon-marker-manager {
    color: #FEFEFE;
    font-size: 16px;
    text-shadow:1px 1px 3px #000;
    margin-top: 3px;
}

.icon-marker {
    width: 0.8em;
    height: 0.8em;
    -webkit-border-radius: 5em;
    box-shadow: -1px -1px 3px #000;
    margin-top: 4px;
    margin-left: 5px;
}

.icon-marker-full {
    width: 0.8em;
    height: 0.8em;
    color: #FFFFFF;
    background-color: #fff;
}

.icon-marker-empty {
    width: 0.7em;
    height: 0.7em;
    border: white 2px solid;
}

.icon-marker-dotted {
    width: 0.7em;
    height: 0.7em;
    border: white 2px dotted;
}

#manageMarker .moveBtnCenter {
    box-shadow: 2px 4px 4px -4px rgba(0,0,0,0.4),
    2px -4px 4px -4px rgba(0,0,0,0.4);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #1F2F45;
    width: 26px;
    height: 25px;
}