.row-fluid{
    height: 99.7%;
    top: -2px;
    position: absolute;
}

.row-fluid .span3{
    height: 100%;
}

.row-fluid .span9{
    height: 100%;
    position:relative;
}

#content_header_bar{
    padding-top: 10px;
    text-align: center;
}

#content_header_bar i{
    font-size: 16px;
}

#content_header_bar .btn-group{
    width: 106px;
    margin: 0px auto;
}

#nav_list_action_bar i{
    background-image: none;
    font-size: 15px;
}

#nav_list_action_bar{
    min-width: 190px;
    height: 35px;
    padding-top: 20px;
}

#nav_list_action_bar select{
    width: 176px;
    float: right;
    margin-right: 6px;
    height: 28px;
}

#nav_list_controls{
    padding-right: 15px;
    padding-left: 15px;
}


#nav_list_expand i, #nav_list_collapse i{
    -webkit-transform: rotate(135deg);
}

#nav_list_search_button{
    float: left;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


.nav-list .icon-cogs{
    font-size: 15px;
}

.nav-list .icon-cog{
    font-size: 10px;
}

.nav-list li a label{
    color: #434C64;
    font-size: 12px;
    text-shadow: 0px 1px 0px white;
}

.nav-list li a i{
    background-image: none;
}

.nav-list li.active a{
    text-shadow: 0px 1px 0px white;
    background-color: transparent;
    color: #434C64;
}

#product_nav_list {
    width: 400px;
    padding-left: 5px;
}

#product_nav_list ul {
    background-color: transparent;
    margin-top: 0;
}
#product_nav_list ul li label{
    margin:0;
}
#product_nav_list li {
    margin-left:0px;
    width: 100%;
}

#product_nav_list li.active {
    background-image: -webkit-linear-gradient(left , transparent 2%, #CFD7E4 3%);
}

#product_nav_list a{
    display:inline-block;
    cursor:pointer;
}

#product_nav_list a:hover {
    text-decoration: none;
}

#product_nav_list li#product_root_assembly {
    background: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
    opacity: 0.8;
}
#product_nav_list li#product_root_assembly:hover{
    opacity: 1;
}
#product_nav_list li#product_root_assembly i {
    margin-top: 3px;
    float: left;
}

#product_nav_list input[type=checkbox]{
    padding-left:5px;
    margin:-5px 0 0 0 ;
}
#product_nav_list .checkbox{
    padding-left:5px;
}
#product_nav_list label:hover {
    background-color: #CFD7E4;
}

#product_nav_list li.nav-header{
    margin-top:0px;
}

#product_nav_list li.nav-header>label{
    color: #999;
    font-weight: bold;
    font-size: 11px;
}

#config_spec_container{
    background:#7A99C1;
    background-image: -moz-linear-gradient(top, #7A99C1, #2C4361);
    background-image: -webkit-linear-gradient(top, #7A99C1, #2C4361);
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 65px;
}

#config_spec_container span{
    color: white;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}

#context_selector_list{
    font-size: 13px;
    cursor: pointer;
    margin-left: 0px;
    padding-top: 0px;
    border: none;
    margin-left: 5%;
    margin-top: 3px;
    width: 90%;
}

/*
* RIGHT PANEL
*/


#frameContainer {
    margin : 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#frameContainer canvas {
    height: 100%;
    width: 100%;
}

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    text-align: center;
    z-index: 100;
    display:block;
    width: 100%;
}

#info a, .button {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

/* Layers List */

div#layer-wrapper {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    width: 100%;
}

div#layer-wrapper nav {
    max-height: 409px;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

div#layer-wrapper ul {
    text-align:left;
    color: #434C64;
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

div#layer-wrapper ul#layer-header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 0px black;
    background: #3F5F99;
    background-image: -moz-linear-gradient(top, #3F5F99, #213251);
    background-image: -webkit-linear-gradient(top, #3F5F99, #213251);
    font-size: 14px;
}

div#layer-wrapper li {
    margin: 0px;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 5px 40px 5px 50px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}

div#layer-wrapper i {
    cursor: pointer;
    opacity: 0.20;
    position: absolute;
    font-size: 25px;
    color: black;
}

div#layer-wrapper nav li:last-child {
    border-bottom: none;
}

div#layer-wrapper nav li {
    color: #999;
}

div#layer-wrapper nav li.shown {
    color: #434C64;
}

div#layer-wrapper li.shown i.start {
    opacity: 1;
}

div#layer-wrapper i.start {
    left: 7px;
    top: 7px;
}

div#layer-wrapper i.end{
    right: 5px;
    top: 7px;
}

div#layer-wrapper ul#layer-header i {
    color: white;
}

div#layer-wrapper ul#layer-header i.end {
    opacity: 1;
}

li input.edit {
    position: relative;
    margin: 0 0 0 -4px;
    width: 100%;
    height: 30px;
    font-family: inherit;
    border: 0;
    outline: none;
    color: inherit;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: none;
}

div#layer-wrapper li.editingMarkers i.end {
    opacity: 1;
}

li.editingName {
    border-bottom: none;
    padding: 0;
}

li.editingName input.edit {
    display: block;
}

li.editingName p {
    display: none;
}

div#layer-wrapper p {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
}



div#layer-wrapper .color {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 5px;
    height: 100%;
}

div#layer-wrapper nav li:last-child .color {
    border-bottom-left-radius: 8px;
}

div#creationMarkersModal textarea {
    height: 90%;
    width: 90%;
}

div#creationMarkersModal input {
    width: 50%;
    margin-bottom: 0px;
}

div#scene_container.markersCreationMode {
    cursor: crosshair;
}

#statsWin {
    position:absolute;
    right:0px;
    bottom:0px;
    overflow:hidden;
    transition: width 0.5s, height 0.5s;
    -moz-transition: width 0.5s, height 0.5s;
    -webkit-transition: width 0.5s ease, height 0.5s ease;
    -o-transition: width 0.5s, height 0.5s;
}

#statsArrow {
    float:left;
    top: 0px;
    left: 0px;
    color: white;
    margin-right: 2px;
    font-size: 11px;
}

.statsWinMinimized {
    width: 15px;
    height: 13px;
}

.statsWinMinimized > #statsArrow {
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    margin-left: 0px;
    margin-top: 0px;
}

.statsWinMaximized {
    width: 80px;
    height: 48px;
}

.statsWinMaximized > #statsArrow {
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    margin-left: 2px;
    margin-top: 2px;
}

#shortcuts {
    margin-bottom: 5px;
}

#shortcuts a {
    color: #999;
    font-size: 12px;
}

dl.keyboard-ps-controls {
    margin: 5px 0;
    font-size: 12px;
}

dl.keyboard-ps-controls dt {
    display: inline-block;
    margin: 0;
    padding: 3px 6px;
    min-width: 10px;
    text-align: center;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    background: #555555;
    color: #EEE;
    border-radius: 2px;
    text-shadow: 1px 1px 0 #000;
}

dl.keyboard-ps-controls dt em {
    padding: 0 4px;
    color: #999;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    text-shadow: none;
}

dl.keyboard-ps-controls dd {
    display: inline;
    margin: 0 0 0 5px;
    color: #666;
}