body{
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.21, #CFD7E4), color-stop(0.61, #EFF2F7) );
  height: 100%; 
}

html{
  height: 100%;  
}

/*.container{
    position: relative;
    background-color: #F5F5F5;
    overflow: hidden;
    margin-left: 0px;
    width: 295px;
}      */

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
}

.row-fluid{
  height: 100%;
  top: -2px;
  position: absolute;
}

.well{
  border-radius: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.row-fluid .span3{
  height: 100%;
}

.row-fluid .span9{
  height: 100%;
}

#content_header_bar{
  padding-top: 5px;
  text-align: center;
}

#content_header_bar i{
  font-size: 16px;
}

#content_header_bar a{
  margin-left: 5px;
}

#nav_list_action_bar i{
  background-image: none;  
  font-size: 15px;
}

#nav_list_action_bar{
    height: 5%;
    padding-top: 6px;
}

#nav_list_action_bar select{
  width: 176px;
  float: right;
  margin-right: 6px;
  height: 28px;
}

#nav_list_controls{
  padding-right: 15px;
  padding-left: 15px;
}

#nav_list_controls input{
    margin-left: 6%;
    width: 70%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#nav_list_expand i, #nav_list_collapse i{
  -webkit-transform: rotate(135deg);
}

#nav_list_search_button{
  float: left;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}


.nav-list .icon-cogs{
  font-size: 15px;
}

.nav-list .icon-cog{
  font-size: 10px;  
}

.nav-list li a label{
  color: #434C64;
  font-size: 12px;
  text-shadow: 0px 1px 0px white;
}

.nav-list li a i{
  background-image: none;
}

.nav-list li.active a{
  text-shadow: 0px 1px 0px white;
  background-color: transparent;
  color: #434C64;
}


[class^="icon-"] {
  background-image: none;
  display: none;
}


.well{
  border: 1px solid #CFD7E4;
  /*TODO get left container height*/
  height: 100%;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 2px;
}

.well nav{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 87%;
  margin-top: 10px;
}

#product_nav_list ul {
  background-color: transparent;
    margin-top: 5px;
}

#product_nav_list li {
  margin-left:0px;
}

#product_nav_list li.active {
  background-image: -webkit-linear-gradient(left , transparent 2%, #CFD7E4 3%);
}

#product_nav_list a:hover {
   text-decoration: none;
}

#product_nav_list label:hover {
    background-color: #CFD7E4;
}

#product_nav_list li.nav-header{
  margin-top:0px;
}

#product_nav_list li.nav-header>label{
  color: #999;
  font-weight: bold;
  font-size: 11px;
}

.nav-list > li > a, .nav-list .nav-header {
margin-right:0px;
}


#context_selector_list{
  cursor: pointer;
  margin-left: 0px;
  color: white;
  background-image: -webkit-linear-gradient(top, #7A99C1, #2C4361);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  display: block;
  height: 5%;
  text-transform: capitalize;
  padding-top: 0px;
  font-size: 15px;
  border: none;
  background-color: #EFF2F7;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0px;
  margin-top: 1px;
}

/*
* RIGHT PANEL
*/

#content{
  height: 100%;
}

#container {
/*  width: 66%;
  position: absolute;
  right: 0px;
  margin-right: 120px;*/
  margin-top: 20px;
  height: 80%;
  border: 1px black dotted;
}

#info {
  color: #fff;
  position: absolute;
  top: 10px;
  text-align: center;
  z-index: 100;
  display:block;
  width: 100%;
}

#info a, .button { 
  color: #f00; 
  font-weight: bold; 
  text-decoration: underline; 
  cursor: pointer 
}