<td><input type="checkbox"/></td>
<td class="reference">{{model.getSerialNumber}}</td>
<td>{{model.getNbIterations}}</td>
<td>{{model.getConfigurationItemId}}</td>
<td><a class="author-popover">{{model.getUpdateAuthorName}}</a></td>
<td><a class="date-popover">{{model.getModificationDate}}</a></td>
<td class="template-acl-info">
    {{#isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/isReadOnly}}
    {{#isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/isFullAccess}}
</td>
<td class="has-path-data">
    {{#model.hasPathDataInLastIteration}}<i class="fa fa-asterisk"></i>{{/model.hasPathDataInLastIteration}}
</td>
<td class="has-path-to-path-link">
    {{#model.hasPathToPathLink}}<i class="fa fa-exchange"></i>{{/model.hasPathToPathLink}}
</td>
<td class="has-attached-files">
    {{#model.hasAttachedFilesInLastIteration}}
    <i class="fa fa-paperclip" title="{{i18n.ATTACHED_FILES}}"></i>
    {{/model.hasAttachedFilesInLastIteration}}
</td>
<td><i class="fa fa-file-archive-o download-zip"></i></td>
<td><a href="{{bomUrl}}" target="_blank" title="{{i18n.BOM_VIEW}}"><i class="fa fa-sitemap"></i></a></td>
<td><a href="{{sceneUrl}}" target="_blank" title="{{i18n.VISUALIZE_PRODUCT}}"><i class="fa fa-video-camera"></i></a></td>

