<div id="product_instance_modal" class="modal in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><span class="icon"></span>
            {{i18n.EDIT_PRODUCT_INSTANCE}} {{model.getSerialNumber}}
        </h3>
        <div class="notifications"></div>
    </div>
    <div class="modal-body">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-main" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-products-instances-iteration" data-toggle="tab">{{i18n.ITERATION}}</a></li>
                <li><a href="#tab-products-instances-choices" data-toggle="tab">{{i18n.CONFIGURATION}}</a></li>
                <li><a href="#tab-products-instances-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
                <li><a href="#tab-products-instances-files" data-toggle="tab">{{i18n.FILES}}</a></li>
                <li><a href="#tab-products-instances-links" data-toggle="tab">{{i18n.LINKS}}</a></li>
                <li><a href="#tab-path-to-path-links" data-toggle="tab">{{i18n.PATH_TO_PATH_LINKS}}</a></li>
                <li><a href="#tab-path-data" data-toggle="tab">{{i18n.PRODUCT_INSTANCE_DATA}}</a></li>
            </ul>
            <form id="product_instance_edit_form" class="tab-content form-horizontal">
                <div class="tab-pane active" id="tab-main">
                    <div class="control-group">
                        <label class="control-label" for="inputSerialNUmber">{{i18n.SERIAL_NUMBER}}</label>
                        <div class="controls">
                            <input type="text" id="inputSerialNUmber" value=" {{model.getSerialNumber}}"
                                   disabled="disabled"/>
                        </div>
                      </div>
                    <div class="control-group">
                            <label class="control-label" for="inputConfigurationItemId">{{i18n.PRODUCT}}</label>
                            <div class="controls">
                                <input type="text" id="inputConfigurationItemId" value="{{model.getConfigurationItemId}}"
                                       disabled="disabled"/>
                            </div>
                    </div>
                    <div class="control-group">
                            <label class="control-label" for="inputBaselineId">{{i18n.BASED_ON}}</label>
                            <div class="controls">
                                <input type="text" id="inputBaselineId" value="{{model.getBasedOnName}}"
                                       disabled="disabled"/>
                            </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{i18n.CREATION_DATE}}</label>
                        <div class="controls">
                            <a class="date-popover">{{creationDate}}</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab-products-instances-choices">
                    <div class="choices-list">
                        <p><i class="fa fa-check"></i> {{i18n.CHOSEN_SUBSTITUTES}} : <span class="substitutes-count"></span></p>
                        <div class="substitutes-list choices"></div>
                        <p><i class="fa fa-check"></i> {{i18n.CHOSEN_OPTIONALS}} : <span class="optionals-count"></span></p>
                        <div class="optionals-list choices"></div>
                    </div>
                </div>

                <div id="tab-products-instances-iteration" class="tab-pane iteration iteration-edit" >
                    <div class="control-group">
                        <label class="control-label" for="inputIterationNote">{{i18n.REVISION_NOTE}}</label>

                        <div class="controls">
                            <input type="text" id="inputIterationNote" value="{{model.getIterationNote}}" {{^editMode}}disabled="disabled"{{/editMode}} />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectNewIterationBaseline">{{i18n.BASELINE}}</label>
                        <div class="controls">
                            <select id="selectNewIterationBaseline" class="rebase-baseline-select">
                            </select>
                            <button type="button" class="btn btn-warning btn-rebase">{{i18n.REBASE}}</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{i18n.AUTHOR}}</label>
                        <div class="controls">
                           <a class="author-popover">{{iteration.author.name}}</a>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{i18n.CREATION_DATE}}</label>
                        <div class="controls">
                            <a class="date-popover">{{iteration.formattedCreationDate}}</a>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{i18n.MODIFICATION_DATE}}</label>
                        <div class="controls">
                            <a class="date-popover">{{iteration.formattedModificationDate}}</a>
                        </div>
                    </div>

                </div>
                <div id="tab-products-instances-attributes" class="tab-pane attributes attributes-edit" >
                    <div id="attributes-list" class="attributes attributes-edit"></div>

                </div>

                <div id="tab-products-instances-files" class="tab-pane files files-edit">
                    <div id="iteration-files"></div>
                </div>

                <div id="tab-products-instances-links" class="tab-pane links links-edit">
                    <div id="iteration-links"></div>
                </div>

                <div id="tab-path-to-path-links" class="tab-pane links path-to-path-links">
                    <div id="path-to-path-links"></div>
                </div>

                <div id="tab-path-data" class="tab-pane path-data">
                    <div id="path-data-list"></div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal-footer">
        {{#iteration}}
        <ul id="switch-iteration" class="pager">
            <li class="{{^hasPreviousIteration}}disabled{{/hasPreviousIteration}}">
                <a href="#" id="previous-iteration"><i class="fa fa-angle-left icon-large"></i></a>
            </li>
            <li>{{iteration}}</li>
            <li class="{{^hasNextIteration}}disabled{{/hasNextIteration}}">
                <a href="#" id="next-iteration"><i class="fa fa-angle-right icon-large"></i></a>
            </li>
        </ul>
        {{/iteration}}

        {{#editMode}}
        <a id="cancel-iteration" class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button id="save-instance" class="btn btn-primary" form="product_instance_edit_form">
            {{i18n.SAVE}}
        </button>
        {{/editMode}}
        {{^editMode}}
        <button id="close-product-instance" class="btn modal-close" data-dismiss="modal">{{i18n.CLOSE}}</button>
        {{/editMode}}
    </div>
</div>
