<td><input type="checkbox"/></td>
<td class="reference">{{model.getSerialNumber}}</td>
<td>{{model.getNbIterations}}</td>
<td>{{model.getConfigurationItemId}}</td>
<td><a class="author-popover">{{model.getUpdateAuthorName}}</a></td>
<td><a class="date-popover">{{model.getUpdateDate}}</a></td>
<td><a href="{{bomUrl}}" target="_blank" title="{{i18n.BOM_VIEW}}"><i class="fa fa-sitemap"></i></a></td>
<td><a href="{{sceneUrl}}" target="_blank" title="{{i18n.VISUALIZE_PRODUCT}}"><i class="fa fa-video-camera"></i></a></td>
