.workspace-chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    .well-large.workspace-chart {
        margin: 3px;
        padding:0 8px 4px 10px;
        width: 46%;
        border:1px solid rgba(63, 95, 153, 0.24);
        background-color: white;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        &.large-chart{
            width: 92%;
        }

        #admin_disk_usage_chart,
        #disk_usage_chart,
        #admin_users_chart,
        #entities_chart,
        #users_chart,
        #cod_chart,
        #cop_chart,{
            height: 400px;
            svg{
                height: 100%;
                width: 100%;
            }
        }
    }
}
