.workspace-chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    .well-large.workspace-chart {
        margin: 3px;
        padding:0 8px 4px 10px;
        width: 46%;
        border:1px solid rgba(63, 95, 153, 0.24);
        background-color: white;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

}

#disk_usage_chart>svg , #entities_chart>svg{
    height:200px;
}
#cod_chart, #cop_chart, #users_chart{
    width:900px;
    clear:both;
}
#cod_chart>svg, #cop_chart>svg{
    height:300px;
    clear:both;
}
#users_chart>svg{
    height:250px;
    clear:both;
}
