<span class="ConfigSpecSelector-title">{{i18n.CONFIG_SPEC}}</span>
<div class="ConfigSpecSelector-menu">
    <button class="btn newBaseline" title="{{i18n.CREATE_BASELINE_LATEST}}">
        <span class="icon fa fa-plus"></span>
    </button>
    <button class="btn deleteBaseline" title="{{i18n.DELETE_BASELINE}}">
        <span class="icon fa fa-times"></span>
    </button>
</div>
<select id="context_selector_list" class="ConfigSpecSelector-list">
    <option value="latest" selected="">{{i18n.LATEST_SHORT}}</option>
</select>
