<label class="control-label" >
    {{#model.getResolvedPath}}
        <a data-part-key="{{partIteration.number}}-{{partIteration.version}}">
            {{partIteration.name}} < {{partIteration.number}}-{{partIteration.version}}-{{partIteration.iteration}} > {{#partLink.referenceDescription}}({{.}}){{/partLink.referenceDescription}}
        </a>
        <i class="fa fa-long-arrow-right"></i>
    {{/model.getResolvedPath}}
</label>
<div class="controls">
    <ul class="baseline-choice-item">
        {{#model.getPartUsageLink}}

            <li class="part-link">
                <label class="radio">
                    <input class="nominal-link" type="radio" name="path-selector-{{model.getResolvedPathAsString}}-{{model.getPartUsageLinkId}}" data-path="{{model.getResolvedPathAsString}}-{{model.getPartUsageLinkId}}" value="{{fullId}}"/>
                    {{component.name}} < {{component.number}} >
                </label>
                <span class="baseline-choice-details">{{referenceDescription}} {{comment}} - {{amount}} {{#unit}}{{.}}{{/unit}} {{^unit}}{{i18n.UNIT}}(s){{/unit}} </span>
            </li>
            {{#substitutes}}
                <li class="part-link substitute">
                    {{#substitute}}
                    <label class="radio">
                        <input type="radio" name="path-selector-{{model.getResolvedPathAsString}}-{{model.getPartUsageLinkId}}" data-path="{{model.getResolvedPathAsString}}-{{fullId}}" value="{{fullId}}"/>
                        {{name}} < {{number}} >
                    </label>
                    {{/substitute}}
                    <span class="baseline-choice-details">{{referenceDescription}} {{comment}} - {{amount}} {{#unit}}{{.}}{{/unit}} {{^unit}}{{i18n.UNIT}}(s){{/unit}} </span>

                </li>
            {{/substitutes}}
        {{#optional}}
        <li>
            <label class="radio" data-path="{{model.getResolvedPathAsString}}-{{model.getPartUsageLinkId}}"><input type="checkbox" class="baseline-choice-optional"/> {{i18n.OPTIONAL_REMOVE}}</label>
        </li>
        {{/optional}}
        {{/model.getPartUsageLink}}

    </ul>
    </label>
</div>
