<div class="LifecycleModalTab">

    <div class="notifications"></div>

    {{#abortedWorkflows.length}}
        <a class="LifecycleModalTab-historyLink">{{i18n.WORKFLOW_HISTORY}}</a>
        <div class="LifecycleModalTab-historyContent hide">
            <ul>
                <li><a class="currentWorkflow active">{{i18n.CURRENT_WORKFLOW}}</a></li>
                {{#abortedWorkflows}}
                <li><a class="abortedWorkflow" data-id="{{id}}">{{abortedFormattedDate}}</a><br/></li>
                {{/abortedWorkflows}}
            </ul>
        </div>
    {{/abortedWorkflows.length}}
    <div class="LifecycleModalLegend">
        <span class="LifecycleModalLegend-line incomplete">{{i18n.WORKFLOW_LEGEND_INCOMPLETE}}</span>
        <span class="LifecycleModalLegend-line complete">{{i18n.WORKFLOW_LEGEND_COMPLETE}}</span>
        <span class="LifecycleModalLegend-line rejected">{{i18n.WORKFLOW_LEGEND_REJECTED}}</span>
        <span class="LifecycleModalLegend-line inProgress">{{i18n.WORKFLOW_LEGEND_INPROGRESS}}</span>
    </div>
    <div id="lifecycle-activities-wrapper" class="LifecycleActivitiesWrapper">
        <div id="lifecycle-activities"></div>
    </div>
</div>
