<div class="md-tile-content">

    <div class="cursor" ng-click="toggleOpenedFile()">

        <i style="float:right" class="fa"
           ng-class="{'fa-angle-down': !openedFile, 'fa-angle-up': openedFile}"></i>

        <h3>
            <i class="fa fa-check" ng-show="file.document && file.document.isReleased"></i>
            <i class="fa fa-eye" ng-show="file.document && !file.document.isReleased && !file.document.checkoutUser"></i>
            <i class="fa fa-pencil"
               ng-show="file.document && file.document.checkoutUser === configuration.user"></i>
            <i class="fa fa-lock"
               ng-show="file.document && file.document.checkoutUser && file.document.checkoutUser !== configuration.user"></i>

            {{file.path | fileshortname}}
            <small class="subtitle" ng-if="file.document.id">
                {{file.document.id}}-{{file.document.version}}-{{file.document.iterations | last}}
            </small>
        </h3>

        <div class="subtitle" ng-show="file.document.checkoutUser">
            <small>{{'CHECKOUT_BY' | translate }} {{file.document.checkoutUser}} {{file.document.checkoutDate |
            timeago}}</small>
        </div>
        <div ng-show="file.document.lastModified">
            <small>{{'LAST_MODIFIED' | translate }} {{file.document.lastModified | timeago}}</small>
        </div>
        <div ng-show="file.mtime">
            <small>{{'LAST_ACTION' | translate }} {{file.mtime | timeago}}</small>
        </div>
        <div ng-show="file">
            <small>{{'SIZE' | translate}} : {{file.size | humanreadablesize}}</small>
        </div>
        <div class="subtitle clickable" ng-click="reveal($event)" ng-show="openedFile">
            <small> {{file.path}}</small>
        </div>
    </div>

    <div>
        <file-document-actions class="slide-down" ng-show="openedFile"></file-document-actions>
    </div>
    
    <md-progress-linear ng-if="file.busy" mode="determinate" ng-value="file.progress"></md-progress-linear>

</div>