<div class="md-tile-content">

    <div class="cursor" ng-click="toggleOpenedFile()">

        <i style="float:right" class="fa"
           ng-class="{'fa-angle-down': !openedFile, 'fa-angle-up': openedFile}"></i>

        <h3>
            <i class="fa fa-check" ng-show="file.part && file.part.isReleased"></i>
            <i class="fa fa-eye" ng-show="file.part && !file.part.isReleased && !file.part.checkoutUser"></i>
            <i class="fa fa-pencil"
               ng-show="file.part && file.part.checkoutUser === configuration.user"></i>
            <i class="fa fa-lock"
               ng-show="file.part && file.part.checkoutUser && file.part.checkoutUser !== configuration.user"></i>

            {{file.path | fileshortname}}
            <small class="cad-file-name" ng-if="file.part.partNumber">
                {{file.part.partNumber}}-{{file.part.version}}-{{file.part.iterations | last}}
            </small>
        </h3>
        <div class="subtitle" ng-show="file.part.checkoutUser">
            <small>{{'CHECKOUT_BY' | translate }} {{file.part.checkoutUser}} {{file.part.checkoutDate |
            timeago}}</small>
        </div>
        <div class="subtitle" ng-show="file.part.lastModified">
            <small>{{'LAST_MODIFIED' | translate }} {{file.part.lastModified | timeago}}</small>
        </div>
        <div class="subtitle" ng-show="file.mtime">
            <small>{{'LAST_ACTION' | translate }} {{file.mtime | timeago}}</small>
        </div>
        <div ng-show="file">
            <small>{{'SIZE' | translate}} : {{file.size | humanreadablesize}}</small>
        </div>
        <div class="subtitle clickable" ng-click="reveal($event)" ng-show="openedFile">
            <small> {{file.path}}</small>
        </div>
    </div>

    <div>
        <file-part-actions class="slide-down" ng-show="openedFile"></file-part-actions>
    </div>

    <md-progress-linear ng-if="file.busy" mode="determinate" ng-value="file.progress"></md-progress-linear>

</div>