<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <md-button aria-label="" ng-click="openMenu()" hide-md><i class="fa fa-bars"></i></md-button>
            <md-button aria-label="" ng-click="reveal()">
                <i class="fa fa-folder-open"></i> {{'FOLDER' | translate}} :
                {{ folder.path | fileshortname }} ({{counts.totalFiles}} {{'FILES' |translate}})
                <md-tooltip>
                    {{'OPEN_IN_EXPLORER'|translate}}
                </md-tooltip>
            </md-button>
            <md-button aria-label="" ng-click="toggleFavorite()" class="right">
                <i class="fa fa-star" ng-class="{favorite:folder.favorite}"></i>
                <md-tooltip>
                    {{'FAVORITE'|translate}}
                </md-tooltip>
            </md-button>
            <md-button aria-label="" ng-click="refresh(true)" class="right">
                <i class="fa fa-refresh"></i>
                <md-tooltip>
                    {{'REFRESH_FOLDER'|translate}}
                </md-tooltip>
            </md-button>
            <md-button aria-label="" ng-click="delete($event)" class="right">
                <i class="fa fa-times"></i>
                <md-tooltip>
                    {{'DELETE_FOLDER'|translate}}
                </md-tooltip>
            </md-button>
        </h3>
    </div>
</md-toolbar>


<div on-scroll-end="onScrollEnd()" class="fullscreen-wrapper offset-toolbar">

    <div class="tabs default" layout="horizontal">
        <div flex ng-class="{selected:tabs.selected == tabs.documents}">
            <a ng-href="#/folder/{{folder.uuid}}/documents">{{'DOCUMENTS' | translate}} ({{counts.documents}})</a>
        </div>
        <div flex ng-class="{selected:tabs.selected == tabs.parts}">
            <a ng-href="#/folder/{{folder.uuid}}/parts">{{'PARTS' | translate}} ({{counts.parts}})</a>
        </div>
        <div flex ng-class="{selected:tabs.selected == tabs.unknown}">
            <a ng-href="#/folder/{{folder.uuid}}/unknown">{{'UNKNOWN' | translate}} ({{counts.unknown}})</a>
        </div>
    </div>

    <div class="row list-header" layout="horizontal">
        <div flex>
            <md-text-float style="margin: 0 18px;"
                           label="{{'SEARCH' | translate}} ({{files.length}} {{'ITEMS' | translate}})" ng-model="search"
                           type="text"></md-text-float>
        </div>
        <div style="padding-right:8px;">
            <md-checkbox ng-model="filters.sync" aria-label="" title="{{'UP_TO_DATE' | translate}}">
                <i class="fa fa-check-circle-o file-sync"></i>
            </md-checkbox>
            <md-checkbox ng-model="filters.modified" aria-label="" title="{{'MODIFIED' | translate}}">
                <i class="fa fa-cloud-upload file-modified"></i>
            </md-checkbox>
        </div>
    </div>


    <md-content class="md-padding">

        <md-button
                ng-if="!loadingFiles && hasUploadableFiles()"
                class="md-margin md-raised md-primary"
                aria-label=""
                ng-click="syncAll()">
            <i class="fa fa-refresh"></i>
            {{'SYNC_ALL'|translate}}
            <md-tooltip>
                {{'SYNC_ALL'|translate}}
            </md-tooltip>
        </md-button>


        <span ng-show="loadingFiles">{{'FILE_ANALYSIS' | translate}} ... {{counts.inProgress}}/{{counts.totalFiles}}</span>
        <md-progress-linear ng-show="loadingFiles" mode="indeterminate"></md-progress-linear>

        <md-list>


            <md-item ng-repeat="file in files | filter:search | filterFiles:filters">
                <md-item-content
                        ng-controller="FileController" layout-align="start start" ng-class="{opened:openedFile}">
                    <div class="md-tile-left md-tile-top" align="center" ng-if="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="md-tile-left md-tile-top" align="center" ng-if="!loading">
                        <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                        <i class="fa fa-check-circle-o fa-lg file-sync" ng-show="file.sync"></i>
                        <i class="fa fa-cloud-upload fa-lg file-modified" ng-show="file.modified"></i>
                        <i class="fa fa-plus-circle fa-lg file-notSync" ng-show="file.notSync"></i>
                    </div>

                    <div class="file" ng-if="file.part" ng-include="'js/folder/folder-part.html'"></div>
                    <div class="file" ng-if="file.document" ng-include="'js/folder/folder-document.html'"></div>
                    <div class="file" ng-if="!file.document && !file.part" ng-include="'js/folder/folder-unknown.html'"></div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
        <p class="empty-list" ng-show="!loadingFiles && !files.length">{{'NO_FILES'|translate}}</p>
    </md-content>
</div>