/* 
    Document   : docdoku-widgets
    Created on : 27 août 2009, 12:23:37
    Author     : Emmanuel Nhan {@literal <emmanuel.nhan@insa-lyon.fr>}
    Description:
        default style sheet for Docdoku-widgets module
*/



.docdoku-EditableLabel{
    padding : 2px;
    margin : 4px;
    border : none;
}

.docdoku-EditableLabel-selected{
    border: #6694E3 2px solid;
    margin: 2px;
    background-color: white;
}

.docdoku-EditableLabel-hover{
    border: #6694E3 2px solid;
    margin:2px;
    background-color: #C3D9FF;
}

.docdoku-LabelMenuItem{
    background-color: white;
    cursor: pointer;
    padding: 2px;
}

.docdoku-LabelMenuItem-selected{
    border: 2px solid #6694E3;
    background: #C3D9FF;
    padding: 0px;
}

.docdoku-SpinBox{
    border:none;
    padding:2px;
    background-color:#C3D9FF;
}

.docdoku-TableWidget-header {
    background-color: #C3D9FF;
    font-weight: bold;
}

.docdoku-TableWidget-selected {
    background-color: #FFFFCC;
    color: black;
}