<div class="notifications"></div>

{{#title}}
<h4>{{title}}</h4>
{{/title}}
{{#multiple}} {{#editMode}}
<a class="toggle-checkAll">{{i18n.CHECK_ALL}}</a>
{{/editMode}}
{{/multiple}}
<ul class="file-list"></ul>

<div class="progress-bars"></div>

{{#editMode}}
<form enctype="multipart/form-data" class="upload-form">
    <div class="droppable filedroparea">
        <input name="upload" type="file" class="input-xlarge droppable upload-btn" {{#multiple}}multiple{{/multiple}}/>
        <button class="btn btn-success droppable">{{#multiple}}{{i18n.SELECT_FILES}}{{/multiple}}{{^multiple}}{{i18n.SELECT_FILE}}{{/multiple}}</button>
        <span class="droppable">{{#multiple}}{{i18n.DROP_FILES_HERE}}{{/multiple}}{{^multiple}}{{i18n.DROP_FILE_HERE}}{{/multiple}}</span>
        <p class="upload-file-shortname"></p>
        <div class="progress progress-striped">
            <div class="bar"></div>
        </div>
    </div>
    <button type="button" class="btn cancel cancel-upload-btn">{{i18n.CANCEL}}</button>
</form>
{{/editMode}}
