{{> attributeListItem}}
<div class="controls shift-margin">
    {{#availability.value}}
    <input type="url" class="input-xlarge value" placeholder="{{i18n.VALUE}}" value="{{model.value}}"
    {{#model.mandatory}}required{{/model.mandatory}}/>
    {{#availability.displayRequired}}
        {{#model.mandatory}}*{{/model.mandatory}}
    {{/availability.displayRequired}}
    {{/availability.value}}
    {{^availability.value}}
    <a class="attribute-link" target="blank" href="{{model.value}}">{{model.value}}</a>
    {{/availability.value}}
</div>
