#part_metadata_container {
    position: fixed;
    width: 85%;
    bottom: 0;
    right: 0;
    border-top: 3px solid #768AA8;
    background-color: #96AAC6;
    height: 100px;
    display: none;
    z-index: 10;

    h1 {
        padding-top: 0px;
        margin-top: 20px;
        font-size: 14px;
        margin-left: 20px;
        color: white;
        text-align: center;
        text-shadow: 0px 1px 0px #2C4361;
        float: left;

        i {
            margin-top: -7px;
            font-size: 20px;
            margin-right: 10px;
        }
    }

    .part_metadata_key {
        font-size: 13px;
        color: #2C4361;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-weight: 600;
    }

    .part_metadata_value {
        font-size: 13px;
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        font-weight: 500;
    }

    #part_metadata_author a {
        color: white;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
            color: white;
        }
    }

    .row {
        font-size: 15px;
        margin-top: 10px;

        .span12 {
            margin-bottom: 10px;
        }
    }

    #part_metadata_close_button {
        border: none;
        background: none;
        margin-top: 0px;
        padding: 5px;
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: black;
        text-shadow: 0 1px 0 white;
        opacity: 0.2;

        &:hover {
            opacity: 0.4;
        }
    }
}



