@import "../common/style.less";
@import "menu.less";
@import "content.less";
@import "part_metadata.less";

#frameWorkspace {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#product-content button.active {
  color: white;
}

#export_scene_btn{
  height:auto;
  margin:0;
}
#view_buttons {
  height: 40px;
  width: 75px;
  margin: 0px auto;
}

#center_container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
}

#side_controls_container {
  float: right;
  position: relative;
  width: 17%;
  height: 100%;
  margin-right: 10px;
  text-align:center;
}

#scene_container {
  width: 79%;
  height: 100%;
}

.isNode {
  font-weight: 600;
}

#container {
  height: 100%;
  width: 100%;
  border: 1px #94ADCC dashed;
  outline:none;
  position: relative;
}

#container:focus, #container:active{
  border: 1px #94ADCC solid;
}

#blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

#search_control_container input[type="search"] {
  -webkit-appearance: none;
}

#content_header_bar .btn.active, .btn:active {
  color: rgba(255, 255, 255, 0.80);
}


#bom_table_container {
  display: none;
}

#exportSceneModal textarea {
  height: 30%;
  width: 97%;
}

#bom_table input {
  height: 22px;
  margin: 8px;
}