{{#editMode}}
<label for="linked-items-reference-typeahead-{{view.cid}}" class="reference-typeahead-label">{{label}}</label>
<input type="text" id="linked-items-reference-typeahead-{{view.cid}}" class="linked-items-reference-typehead"
       placeholder="{{i18n.REFERENCE}}" data-provide="typeahead"/>
{{/editMode}}
<div class="change-items-legend">
    <span class="change-items-low">Low</span>
    <span class="change-items-medium">Medium</span>
    <span class="change-items-high">High</span>
    <span class="change-items-emergency">Emergency</span>
</div>
<ul id="linked-items-{{view.cid}}" class="linked-items"></ul>