<div ng-if="items.length && !loading"
     layout="row"  layout-margin layout-wrap>

    <md-button class="md-icon-button md-primary" aria-label="{{'SYNC'|translate}}" href="#/folder/{{folder.uuid}}">
        <i class="material-icons">folder_open</i>
    </md-button>

    <div layout="column">
        <a aria-label="" href="#/folder/{{folder.uuid}}" class="md-primary">
            {{folder.path | fileshortname}}
        </a>
        <div>{{items.length}} {{'MODIFICATIONS' | translate }}</div>
        <md-list>
            <md-list-item ng-repeat="item in items">
                <div layout="row">
                    <i class="material-icons">description</i>
                    <div layout="column">
                        <a href class="modified" file-preview="item.path">{{item.path | fileshortname}}</a>
                        <div layout="row">
                            <small>{{item.index.id || item.index.number}}-{{item.index.revision}} {{'MODIFIED'}} <a>{{item.stat.mtime | localDateTimeAgo}}</a></small>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>

</div>

<div ng-if="loading">
    loading
</div>