<md-button class="md-icon-button md-primary" aria-label="{{'OPEN_FOLDER'|translate}}" href="#/folder/{{folder.uuid}}">
    <md-tooltip>
        {{'TO_FOLDER_VIEW'|translate}}
    </md-tooltip>
    <i class="material-icons">folder_open</i>
</md-button>

<div layout="column">
    <a aria-label="" href="#/folder/{{folder.uuid}}" class="md-primary">
        {{folder.path | fileshortname}}
    </a>
    <span ng-if="filesCount >= 0">{{filesCount}} {{'FILES' | translate }}</span>
    <small ng-if="latestAction">{{'LATEST_ACTION' | translate}} <a>{{latestAction | utcDateTimeAgo}}</a></small>
</div>
