<md-toolbar scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <md-button  ng-click="openMenu()" hide-md>
                <i class="fa fa-bars"></i>
            </md-button>
            <md-button >
                <i class="fa fa-home"></i> {{'HOME' | translate}}
            </md-button>
        </h3>
    </div>
</md-toolbar>
<div layout="column" class="settings">

    <md-content layout-padding>
        <h3 class="subtitle"><i class="fa fa-star favorite"></i> {{'FAVORITE_FOLDERS' | translate}}</h3>
        <md-list>
            <md-item ng-if="!folders.length">
                <md-item-content>
                    {{'NO_FOLDERS' | translate}}
                </md-item-content>
            </md-item>
            <md-item ng-repeat="folder in folders">
                <md-item-content ng-controller="FolderDetailsController">
                    <div class="md-tile-content">
                        <h3>
                            <md-button  href="#/folder/{{folder.uuid}}" class="md-primary">  <i class="fa fa-folder-open"></i> {{folder.path | fileshortname}}</md-button>
                        </h3>
                    </div>
                    <div class="md-tile-right">
                        {{details.count}} {{'FILES' | translate }}
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>

    <md-content layout-padding>
        <h3 class="subtitle"><i class="fa fa-star favorite"></i> {{'LAST_WORKSPACES_VISITED' | translate}}</h3>
        <md-list>
            <md-item ng-if="!workspaces.length">
                <md-item-content>
                    {{'NOTHING_TO_SHOW' | translate}}
                </md-item-content>
            </md-item>
            <md-item ng-repeat="workspace in workspaces">
                <md-item-content>
                    <div class="md-tile-content">
                        <md-button  href="#/workspace/{{workspace}}" class="md-primary">  <i class="fa fa-globe"></i> {{workspace}}</md-button>
                    </div>
                    <div class="md-tile-right">
                       <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>

</div>