<div layout-fill layout="column" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
                    <i class="material-icons">menu</i>
                </md-button>
                <i class="material-icons">home</i>

                <h2>
                  <span>
                    {{'HOME' | translate}}
                </span>
                </h2>
            </div>
        </div>
    </md-toolbar>

    <md-content>

        <div layout="row" layout-align="space-between center">
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'SYNC' | translate}}
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button aria-label="{{'SYNCHRONIZE_WORKSPACES'|translate}}" ng-click="syncWorkspaces()">
                                <i class="material-icons">cloud</i>
                                {{'SYNC_WORKSPACES'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="{{'SYNCHRONIZE_INDEXES'|translate}}" ng-click="syncIndexes()">
                                <i class="material-icons">folder_open</i>
                                {{'SYNC_INDEXES'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button aria-label="{{'SYNC_ALL'|translate}}" ng-click="syncAll()">
                                <i class="material-icons">cached</i>
                                {{'SYNC_ALL'|translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>


        <div ng-show="status"
             layout="column"
             layout-align="start center" layout-margin>

            <div layout-margin ng-if="status.workspace">
                <h2>{{'MENU_WORKSPACES'|translate}}</h2>

                <h3>{{status.workspace}} {{status.done}} / {{ status.total}}</h3>
            </div>

            <div ng-if="status.folder">
                <h2>{{'MENU_FOLDERS'|translate}}</h2>

                <h3>{{status.folder | fileShortName}} {{status.progress}} / {{ status.total}}</h3>
            </div>

            <md-progress-circular md-mode="indeterminate"></md-progress-circular>

        </div>


        <div layout-gt-xs="row" layout="column" ng-show="!status" flex-gt-xs>

            <div layout="column" flex-gt-xs>

                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class=material-icons">mode_edit</md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{'LOCAL_CHANGES' | translate}}</span>
                            <span class="md-subhead">{{'MENU_FOLDERS'|translate}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div ng-repeat="folder in folders" folder-local-changes="folder"></div>
                    </md-card-content>
                </md-card>

                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class=material-icons">star</md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{'FAVORITE_FOLDERS' | translate}}</span>
                            <span class="md-subhead">{{'MENU_FOLDERS'|translate}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div ng-if="!folders.length">
                            {{'NO_FOLDERS' | translate}}
                        </div>

                        <div ng-repeat="folder in folders | filter:{favorite:true}"
                             layout="row" layout-margin folder="folder"></div>

                    </md-card-content>
                </md-card>

                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class=material-icons">cloud</md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{'MENU_WORKSPACES' | translate}}</span>
                            <span class="md-subhead">{{configuration.login}}@{{configuration.host}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>

                        <div ng-repeat="workspace in workspaces"
                             layout="row" layout-margin>

                            <md-button class="md-icon-button md-primary" aria-label="{{'SYNC'|translate}}"
                                       ng-click="syncWorkspace(workspace)">
                                <md-tooltip>
                                    {{'SYNC'|translate}}
                                </md-tooltip>
                                <i class="material-icons">cached</i>
                            </md-button>

                            <div layout="column">
                                <a aria-label="" href="#/workspace/{{workspace}}" class="md-primary">
                                    <md-tooltip>
                                        {{'BROWSE_WORKSPACE'|translate}}
                                    </md-tooltip>
                                    {{workspace}}
                                </a>
                                <small ng-if="workspaceSyncs[workspace]">{{'LAST_SYNC_DATE' | translate}} <a>{{workspaceSyncs[workspace]
                                    | localDateTimeAgo}}</a></small>
                                <small ng-if="!workspaceSyncs[workspace]">{{'NOT_YET_SYNC' | translate}}</small>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>

            </div>

            <div layout="column" flex-gt-xs>

                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class=material-icons">event</md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{'LATEST_EVENTS' | translate}}</span>
                            <span class="md-subhead">{{configuration.host}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div ng-repeat="workspace in workspaces" workspace-latest-events="workspace"></div>
                    </md-card-content>
                </md-card>


                <!--TODO : my history-->
                <!--
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class=material-icons">history</md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{'HISTORY' | translate}}</span>
                            <span class="md-subhead">{{'MY_ACTIONS'|translate}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content ng-controller="HistoryCtrl">
                        <div>{{history}}</div>
                    </md-card-content>
                </md-card>-->

            </div>
        </div>

    </md-content>

</div>