<div layout-fill layout="column">

    <md-toolbar md-scroll-shrink class="md-whiteframe-6dp">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-sm aria-label="{{'MENU' | translate}}" ng-click="openMenu()">
                <i class="fa fa-bars"></i>
            </md-button>
            <h2>
              <span>
                  <i class="fa fa-home"></i> {{'HOME' | translate}}
                </span>
            </h2>
        </div>
    </md-toolbar>

    <md-content layout-padding flex>

        <h3>
            <i class="fa fa-star favorite"></i>
            {{'FAVORITE_FOLDERS' | translate}}
        </h3>

        <md-list>
            <md-list-item ng-if="!folders.length">
                    {{'NO_FOLDERS' | translate}}
            </md-list-item>

            <md-list-item ng-repeat="folder in folders | filter:{favorite:true}" ng-controller="FolderDetailsController">

                <md-button aria-label="" href="#/folder/{{folder.uuid}}" class="md-primary">
                    <i class="fa fa-folder-open"></i> {{folder.path | fileshortname}}
                </md-button>
                {{details.count}} {{'FILES' | translate }}

                <md-divider ng-if="!$last"></md-divider>

            </md-list-item>
        </md-list>

        <h3>
            <i class="fa fa-star favorite"></i>
            {{'LAST_WORKSPACES_VISITED' | translate}}
        </h3>

        <md-list>
            <md-list-item ng-if="!workspaces.length">
                    {{'NOTHING_TO_SHOW' | translate}}
            </md-list-item>
            <md-list-item ng-repeat="workspace in workspaces">

                <md-button aria-label="" href="#/workspace/{{workspace}}" class="md-primary">
                    <i class="fa fa-globe"></i> {{workspace}}
                </md-button>

               <i class="fa fa-arrow-circle-right"></i>

                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

</div>