<div ng-if="events.length && !loading">
    <div
         layout="row" layout-margin>

        <md-button class="md-icon-button md-primary" aria-label="{{'SYNC'|translate}}"
                   ng-click="syncWorkspace()">
            <md-tooltip>
                {{'SYNC'|translate}}
            </md-tooltip>
            <i class="material-icons">cached</i>
        </md-button>

        <div layout="column">
            <a aria-label="" href="#!/workspace/{{workspaceId}}" class="md-primary">
                <md-tooltip>
                    {{'BROWSE_WORKSPACE'|translate}}
                </md-tooltip>
                {{workspaceId}}
            </a>
            <small ng-if="workspaceSyncs[workspaceId]">{{'LAST_SYNC_DATE' | translate}} <a>{{workspaceSyncs[workspace]
                | localDateTimeAgo}}</a></small>
            <small ng-if="!workspaceSyncs[workspaceId]">{{'NOT_YET_SYNC' | translate}}</small>
        </div>

    </div>
    <div layout-margin>
        <div layout="column">
            <div ng-repeat="item in events" layout="column">

                <div  layout="column"
                      layout-align="start start"

                      layout-gt-md="row"
                      layout-align-gt-md="space-between center"

                     ng-if="item.lastIteration.checkInDate">
                    <div>
                        <a aria-label="" href="#!/workspace/{{item.workspaceId}}" class="md-primary">
                            {{ item.documentMasterId || item.number }} {{ item.version }}
                            {{item.lastIteration.iteration}}
                            <md-tooltip>{{item.lastIteration.iterationNote || item.lastIteration.revisionNote}}
                            </md-tooltip>
                        </a>
                    </div>
                    <small>
                        {{'CHECKED_IN_BY'|translate}}
                        <a user-preview="item.lastIteration.author" href class="md-primary">
                            {{item.lastIteration.author.name}}
                        </a>
                        {{ item.lastIteration.checkInDate | utcDateTimeAgo}}
                    </small>
                </div>

                <div   layout="column"
                       layout-align="start start"

                       layout-gt-md="row"
                       layout-align-gt-md="space-between center"

                     ng-if="item.lastIteration.modificationDate">
                    <div>
                        <a aria-label="" href="#!/workspace/{{item.workspaceId}}" class="md-primary">
                            {{ item.documentMasterId || item.number }} {{ item.version }}
                            {{item.lastIteration.iteration}}
                            <md-tooltip>{{item.lastIteration.iterationNote || item.lastIteration.revisionNote}}
                            </md-tooltip>
                        </a>

                    </div>
                    <small>
                        {{'MODIFIED_BY'|translate}}
                        <a user-preview="item.lastIteration.author" href class="md-primary">
                            {{item.lastIteration.author.name}}
                        </a>
                        {{ item.lastIteration.modificationDate | utcDateTimeAgo}}
                    </small>
                </div>

                <div layout="column"
                     layout-align="start start"

                     layout-gt-md="row"
                     layout-align-gt-md="space-between center"

                     ng-if="item.checkOutDate">
                    <div>
                        <a aria-label="" href="#!/workspace/{{item.workspaceId}}" class="md-primary">
                        {{ item.documentMasterId || item.number }} {{ item.version }} {{item.lastIteration.iteration}}
                        <md-tooltip>{{item.lastIteration.iterationNote || item.lastIteration.revisionNote}}</md-tooltip>
                        </a>

                    </div>
                    <small>{{'CHECKED_OUT_BY'|translate}}
                        <a user-preview="item.checkOutUser" href class="md-primary">
                            {{item.checkOutUser.name}}
                        </a>
                        {{ item.checkOutDate | utcDateTimeAgo}}
                    </small>
                </div>


                <div   layout="column"
                       layout-align="start start"

                       layout-gt-md="row"
                       layout-align-gt-md="space-between center"

                     ng-if="item.lastIteration.creationDate && !item.lastIteration.modificationDate && !item.lastIteration.checkInDate && !item.checkOutDate ">
                    <div>
                        <a aria-label="" href="#!/workspace/{{item.workspaceId}}" class="md-primary">
                            {{ item.documentMasterId || item.number }} {{ item.version }}
                            {{item.lastIteration.iteration}}
                            <md-tooltip>{{item.lastIteration.iterationNote || item.lastIteration.revisionNote}}
                            </md-tooltip>
                        </a>

                    </div>
                    <small>
                        {{'CREATED_BY'|translate}}
                        <a user-preview="item.lastIteration.author" href class="md-primary">
                            {{item.lastIteration.author.name}}
                        </a>
                        {{ item.lastIteration.creationDate | utcDateTimeAgo}}
                    </small>
                </div>
                <hr />

            </div>
        </div>
    </div>
</div>

<md-progress-circular ng-disabled="!loading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
