#content{
    .document-revision{
        margin: 20px;
        ul.nav.nav-tabs {
            margin: 0 0 0 38px;
            border:none;
            li.active a {
                border: 1px solid #ddd;
                border-radius: 8px;
            }
        }
        table{
            margin-top: 8px;
        }

    }
}
