html, body {
  height: 100%;
  width: 100%; // required for firefox
  background-color: #e2e7ef;
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

:invalid {
  color: @errorText;
  background-color: @errorBackground;
}

[class^="icon-"] {
  background-image: none;
}