body > form {
  margin: 0;

  #header {
    position: static;

    .nav > li > a {
      color: rgba(255, 255, 255, 1);
    }

    .nav > li > a:hover {
      color: rgba(255, 255, 255, 0.80);
    }

    #brand-logo {
      float: left;
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 5px;
    }
  }
}