body > form {
  margin: 0;

  #header {

    position: absolute;
    box-shadow:0px 1px 3px #9b9b9b;

    .container-fluid{
      padding:0;
    }

    #collapseButton{
      position: absolute;
      z-index: 101;
      right: 5px;
    }

    .navbar-inner {
      padding: 0 10px;
      z-index: 100;
    }

    .nav > li > a {
      color: rgba(255, 255, 255, 1);
      text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        color: rgba(255, 255, 255, 0.80);
      }

      i {
        float: left;
        margin: 3px 8px 0 0;
        line-height: 11px;
      }

    }

    #brand-title{
      padding-top: 0px;
      padding-bottom: 0px;

      #brand-logo {
        float: left;
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 5px;
      }

      #brand-name {
        display: inline-block;
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }

    ul.breadcrumb-menu{
      > li{
        padding: 8px 0px;
        border-radius:0;

        > a{
          padding: 4px 14px !important;
          background-color: #334d7c;
          border: 1px solid #213251;
          border-right: 0px;
          border-left: 0px;
          line-height: 14px;

          &:hover{
            background-color: #213251;

            &:after{
              border-left: 8px solid #213251;
            }
          }

          &:before, &:after{
            content: "";
            position: absolute;
            top: 12px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
          }

          &:before{
            left: -2px;
            border-left: 8px solid #d4f2ff;
          }

          &:after{
            right: -3px;
            z-index: 1;
            border-left: 8px solid #334d7c;
          }

          i{
            margin-top: 1px;
          }

        }

        &:first-child{
          > a{
            border-left: 1px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }

        &:last-child{
          > a{
            border-right: 1px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }

        &:first-child > a:before , &:last-child > a:after{
          display: none;
        }

        .dropdown-menu{
          > li{
            text-transform : capitalize;

            &.dropdown-section-title{
              padding-left: 8px;
            }

            &.dropdown-hr hr{
              margin: 5px 0;
            }

            i.fa-check{
              margin-left: -14px;
            }
          }
        }
      }
    }

  }
}

@media (max-width: @navbarCollapseWidth) {
  #header {
    .nav-collapse{
      + div{
        clear: both;
      }

      ul.breadcrumb-menu {
        > li{
          .dropdown-menu{
            > li{
              color: white;
              &.dropdown-section-title,
              &.dropdown-hr hr{
                display: none;
              }

              i.fa-check{
              }

              &.dropdown-sub-menu{
                font-weight: normal;

                .dropdown-sub-menu-title{
                  display: inline-block;
                  float: left;
                  width: calc(~"100% - 155px");
                  height: 18px;
                  padding: 9px 15px;
                  color: white;
                  line-height: 18px;
                  text-transform: capitalize;

                  i{
                    color: rgba(255,255,255,0.5);
                  }
                }

                .dropdown-inline-menu{
                  display: inline-block;
                  li{
                    float: left;
                    list-style-type: none;

                    a{
                      width: 13px;
                      height: 13px;
                      padding: 10px;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}