body > form {
  margin: 0;

  #header {

    position: absolute;

    #collapseButton{
      position: absolute;
      z-index: 101;
      right: 5px;
    }

    .navbar-inner {
      padding: 0 10px;
      z-index: 100;
    }

    .nav > li > a {
      color: rgba(255, 255, 255, 1);

      &:hover {
        color: rgba(255, 255, 255, 0.80);
      }

      i {
        margin: 0 3px 0 0;
      }

    }

    #brand-logo {
      float: left;
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 5px;
    }

    .dropdown-menu a:hover {
      background-color: #CFD7E4;
    }

  }
}