<div id="user_defined_function_modal" class="modal hide fade" tabindex="-1" role="dialog"
     aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.USER_DEFINED_FUNCTION}}</h3>
    </div>

    <div class="modal-body">

        <form id="user_defined_function_form" class="form-horizontal">

            <div class="control-group">
                <label class="control-label">{{i18n.PRODUCT_ID}}</label>
                <div class="controls">
                     <span class="help-inline"><select class="user-defined-product-select" required></select></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{i18n.TYPE}}</label>
                <div class="controls">
                     <span class="help-inline"><select class="user-defined-type-select" required></select></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{i18n.TYPE}} {{i18n.VALUE}}</label>
                <div class="controls">
                    <span class="help-inline"><select class="user-defined-value-select" required></select></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{i18n.CALCULATIONS}}</label>
                <div class="controls">
                    <div class="calculations"></div>
                    <button type="button" class="btn btn-info add-calculation">{{i18n.ADD_CALCULATION}}</button>
                    <button class="btn btn-primary run-udf" aria-hidden="true">{{i18n.RUN}}</button>
                </div>
            </div>


        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
    </div>

</div>
