node_modules/
bower_components/
dist/
target/
test/temp
.sass-cache
.tmp
app/document-management/main.css
app/product-management/main.css
app/product-structure/main.css
app/visualization/main.css
app/change-management/main.css
app/workspace-management/main.css
app/account-management/main.css
app/organization-management/main.css
app/documents/main.css
app/parts/main.css
app/main/main.css
app/download/main.css
