.brand-logo{
	background: url(../img/icon.png) no-repeat 10px 14px;
	padding: 0 0 0 60px;
}


.right{
	float:right;
}

body.app-background{
	background:#1A658A;
}

.search-bar{margin:0 20px;}

.md-table-pagination{border-top:none;}

i.material-icons{
	margin: auto 16px auto 0;
}

.md-cell,md-card{
	word-wrap: break-word;
	word-break: break-all;
}

.md-cell i.material-icons{
	color: #757575;
}

a{
	color:#1A658A;
	text-decoration: none;
}