<div id="baseline_edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><a>{{model.getName}}</a>{{#model.isReleased}} ({{i18n.RELEASED}}) {{/model.isReleased}}</h3>
        <div class="modal-subtitle">{{model.getDescription}}</div>

    </div>

    <div class="modal-body">
        <h4>{{i18n.EDIT_BASELINE}}</h4>
        <form id="baseline_edit_form" class="form-horizontal">
            <div id="baselinedPartListArea"></div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        <button class="btn btn-primary" form="baseline_edit_form">{{i18n.SAVE}}</button>
    </div>

</div>