.file-input [type=file] {    
    display: none;
}

.menu-file-input {
	float: right;
}
.file-input {
    display: inline-block;
	cursor: pointer;
}

select{
	background: transparent;
	border: none;
	color: inherit;
}