.file-input [type=file] {    
    display: none;
}

.menu-file-input {
	float: right;
}
.file-input {
    display: inline-block;
}

select{
	background: transparent;
	border: none;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.729412);*/
	color: inherit;
}