.row  md-input-group,
.row  md-checkbox, 
.row  md-radio-button,
.row  md-button,
.row select,
.row label {
    font-size: inherit;   
    margin-right: 8px;
    display: inline-block;
}
.row label{
	padding: 0 6px;
}