<div id="acl_edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{i18n.ACL}} : {{title}}</h3>
    </div>
    <div class="notifications"></div>
    <div class="modal-body">
        <form id="form-acl-edit" class="tab-content form-horizontal">

            <div class="use-acl">
                <p>{{i18n.USE_ACL}}</p>

                <div class="acl-switch switch switch-small" data-on="success" data-off="danger">
                    <input type="checkbox" checked/>
                </div>
            </div>

            <div class="using-acl">
                <h4>{{i18n.USERS}}</h4>

                <div id="users-acl-entries"></div>
                <hr/>
                <h4>{{i18n.GROUPS}}</h4>

                <div id="groups-acl-entries"></div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button class="btn btn-primary" type="submit" form="form-acl-edit">{{i18n.SAVE}}</button>
    </div>

</div>
