<thead>
<tr>
    <th></th>
    <th><input type="checkbox" id="check-toggle-{{view.cid}}"/></th>
    <th>{{i18n.REFERENCE}}</th>
    <th>{{i18n.VERSION}}</th>
    <th>{{i18n.ITERATION}}</th>
    <th>{{i18n.TYPE}}</th>
    <th>{{i18n.TITLE}}</th>
    <th>{{i18n.AUTHOR}}</th>
    <th>{{i18n.MODIFICATION_DATE}}</th>
    <th>{{i18n.LIFECYCLE_STATE}}</th>
    <th>{{i18n.CHECKOUT_BY}}</th>
    <th>{{i18n.ACL}}</th>
    <th><i class="fa fa-lock" title="{{i18n.ITERATION_CHANGE}}"></i></th>
    <th><i class="fa fa-rotate-right" title="{{i18n.STATE_CHANGE}}"></i></th>
    <th><i class="fa fa-globe" title="{{i18n.SHARE}}"></i></th>
    <th><i class="fa fa-paperclip" title="{{i18n.FILES}}"></i></th>
</tr>
</thead>
<tbody id="items-{{view.cid}}" class="items"></tbody>
