<div class="modal new-template">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>
            {{model.id}}
            {{^model.id}}<span class="icon plm-icon-action-template-new"></span>{{i18n.NEW_TEMPLATE}}{{/model.id}}
        </h3>
        <div class="notifications"></div>
    </div>
    <div class="modal-body">
        <div id="alerts-{{view.cid}}"></div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-main-{{view.cid}}" data-toggle="tab">{{i18n.GENERAL}}</a>
                </li>
                <li>
                    <a href="#tab-workflow-{{view.cid}}" data-toggle="tab">{{i18n.WORKFLOW}}</a>
                </li>
                <li>
                    <a href="#tab-attributes-{{view.cid}}" data-toggle="tab">{{i18n.ATTRIBUTES}}</a>
                </li>
                {{#model.id}}
                <li>
                    <a href="#tab-files-{{view.cid}}" data-toggle="tab">{{i18n.FILES}}</a>
                </li>
                {{/model.id}}
            </ul>
            <form id="form-{{view.cid}}" class="form-horizontal tab-content">
                <div class="tab-pane active" id="tab-main-{{view.cid}}">
                    <div class="control-group">
                        <label class="control-label required"
                               for="form-{{view.cid}}-reference">{{i18n.REFERENCE}}</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge reference" id="form-{{view.cid}}-reference" required
                                   value="{{model.id}}" {{#model.id}}disabled{{/model.id}}/>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-{{view.cid}}-type">{{i18n.TYPE}}</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge type" id="form-{{view.cid}}-type"
                                   value="{{model.documentType}}"/>

                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-{{view.cid}}-mask">{{i18n.MASK}}</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge mask" id="form-{{view.cid}}-mask"
                                   value="{{model.mask}}"/>
                            <a id="mask-help" class="btn btn-default"><i class="fa fa-lightbulb-o"></i></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-{{view.cid}}-id-generated">{{i18n.ID_GENERATION}}</label>

                        <div class="controls">
                            <input type="checkbox" class="input-xlarge id-generated" id="form-{{view.cid}}-id-generated"
                            {{#model.idGenerated}}checked{{/model.idGenerated}}/>
                            <p class="help-block"></p>
                        </div>
                        {{#model.id}}
                        <div class="control-group">
                            <label class="control-label">{{i18n.MODIFICATION_DATE}}</label>

                            <div class="controls">
                                <span class="help-inline"><a class="date-popover">{{modificationDate}}</a></span>
                            </div>
                        </div>
                        {{/model.id}}
                    </div>
                </div>
                <div id="tab-workflow-{{view.cid}}" class="tab-pane">
                    <div id="workflows-{{view.cid}}"></div>
                </div>
                <div id="tab-attributes-{{view.cid}}" class="tab-pane attributes attributes-edit"></div>
                <div id="tab-files-{{view.cid}}" class="tab-pane files"></div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn cancel" data-dismiss="modal">{{i18n.CANCEL}}</a>
        <button class="btn btn-primary" form="form-{{view.cid}}">
            {{#model.id}}{{i18n.SAVE}}{{/model.id}}
            {{^model.id}}{{i18n.CREATE}}{{/model.id}}
        </button>
    </div>
</div>
