<select id="config_spec_type_selector_list" class="form-control">
    <option value="latest-filters" selected="">{{i18n.LATEST_SHORT}}</option>
    <option value="baseline" disabled>{{i18n.BASELINE}}</option>
    <option value="serial-number" disabled>{{i18n.SERIAL_NUMBER}}</option>
</select>
<select id="latest_selector_list" class="form-control">
    <option value="wip">{{i18n.HEAD_WIP}}</option>
    <option value="latest">{{i18n.HEAD_CHECKIN}}</option>
    <option value="latest-released">{{i18n.HEAD_RELEASED}}</option>
</select>
<select id="baseline_selector_list" class="form-control"></select>
<select id="product_instance_selector_list" class="form-control"></select>
<select id="path_to_path_link_selector_list" class="form-control"></select>
<span class="description" style="display:none"></span>
