<div class="activity {{activity.type}}">
    <div class="activity-topbar">
        <button class="btn switch-activity" title="changer de mode"></button>
        <label for="tasksToComplete-{{cid}}" class="tasksToComplete">Nombre de tâche à completer</label>
        <input id="tasksToComplete-{{cid}}" class="tasksToComplete" type="number" step="1" min="0" max="{{activity.taskModels.length}}" value="{{activity.tasksToComplete}}"/>
        <input class="activity-name" type="text" placeholder="{{i18n.ACTIVITY_NAME_PLACEHOLDER}}" value="{{activity.lifeCycleState}}"/>
        <button class="btn delete-activity" title="supprimer l'activité"></button>
    </div>
    <ul class="task-list">
    </ul>
    <button class="btn add-task" title="ajouter une tâche"></button>
</div>