<td><input type="checkbox" id="check-toggle-{{view.cid}}" /></td>
<td class="reference">{{model.id}}</td>
<td>{{model.version}}</td>
<td>{{#model.lastIteration}}
        {{model.lastIteration.iteration}}
    {{/model.lastIteration}}
    {{^model.lastIteration}}
        -
    {{/model.lastIteration}}
</td>
<td>{{model.type}}</td>
<td>{{model.title}}</td>
<td><a class="author-popover">{{model.author.name}}</a></td>
<td>{{model.lastIteration.creationDate}}</td>
<td>{{model.checkOutDate}}</td>
<td><a class="checkout-user-popover">{{model.checkOutUser.name}}</a></td>
