<td><input type="checkbox" id="check-toggle-{{view.cid}}" /></td>
<td class="reference">{{model.id}}</td>
<td>{{model.version}}</td>
<td>{{#model.lastIteration}}
        {{model.lastIteration.iteration}}
    {{/model.lastIteration}}
    {{^model.lastIteration}}
        -
    {{/model.lastIteration}}
</td>
<td>{{model.type}}</td>
<td>{{model.title}}</td>
<td>{{model.author.name}}</td>
<td>{{model.lastIteration.creationDate}}</td>
<td>{{model.checkOutDate}}</td>
<td>{{model.checkOutUser.name}}</td>
