<ul id="file-list" class="file-list"></ul>

<p id="upload-file-shortname"></p>
<div class='progress progress-striped'>
    <div class='bar'></div>
</div>
{{#editMode}}
<form enctype='multipart/form-data' id='upload-form'>
    <div id="filedroparea" class="droppable">
        <input id="upload-btn" name="upload" type='file' class='input-xlarge droppable'/>
        <button class="btn btn-success droppable">{{i18n.SELECT_FILE}}</button>
        <span class="droppable">{{i18n.DROP_FILE_HERE}}</span>
    </div>
    <button class='btn cancel cancel-upload-btn'>{{i18n.CANCEL}}</button>
</form>
{{/editMode}}