<div class="header nav-list-entry">
	<a href="#folders/{{model.path}}" data-target="#items-{{view.cid}}">
		<span class="status"></span>
		<span class="icon"></span>
		{{model.name}}
	</a>
	<div class="actions btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li class="new-folder">
				<a><span class="icon"></span>{{i18n.NEW_FOLDER}}</a>
			</li>
			<li class="edit">
				<a><span class="icon"></span>{{i18n.RENAME}}</a>
			</li>
			<li class="delete">
				<a><span class="icon"></span>{{i18n.DELETE}}</a>
			</li>
		</ul>
	</div>
</div>
<ul id="items-{{view.cid}}" class="items"></ul>
