<div class="task fold">
    <div class="task-topbar">
        <i class="icon-reorder"></i>
        <button class="btn minimize-task" title="{{i18n.FOLD_TASK}}""><i class="icon-minus"></i></button>
        <p class="task-name" title="{{i18n.UNFOLD_TASK}}">
            {{#task.title}}{{task.title}}{{/task.title}}
            {{^task.title}}{{i18n.TASK_NAME_PLACEHOLDER}}{{/task.title}}
        </p>
        <input class="task-name" type="text" placeholder="{{i18n.TASK_NAME_PLACEHOLDER}}" value="{{task.title}}" readonly/>
        <button class="btn delete-task" title="{{i18n.DELETE_TASK}}"><i class="icon-remove"></i></button>
    </div>
    <div class="task-content">
        <label for="instructions-{{cid}}">{{i18n.INSTRUCTIONS}}</label>
        <textarea id="instructions-{{cid}}" class="instructions" rows="2">{{task.instructions}}</textarea>
        </br>
        <label for="worker-{{cid}}">{{i18n.RESPONSABLE}}</label>
        <select id="worker-{{cid}}" class="worker">
            {{#users}}
            <option {{#selected}}selected{{/selected}} value="{{name}}">{{name}}</option>
            {{/users}}
        </select>
    </div>
</div>