<div class="actions well">
    <input id="workflow-name" type="text" autofocus placeholder="{{i18n.WORKFLOW_NAME_PLACEHOLDER}}" value="{{workflow.id}}" required/>
    <button id="cancel-workflow" class="btn">
        {{i18n.CANCEL}}
    </button>
    <button id="save-workflow" class="btn btn-primary">
        {{#workflow.id}}{{i18n.SAVE}}{{/workflow.id}}
        {{^workflow.id}}{{i18n.CREATE}}{{/workflow.id}}
    </button>
    {{#workflow.id}}
        <button id="copy-workflow" class="btn" title="{{i18n.COPY_WORKFLOW}}">
            <i class="icon-copy"></i>
        </button>
    {{/workflow.id}}
</div>
<div id="workflow-editor">
    <ul id="activity-list">
        <li class="section">
            <div id="start">
                <i class="icon-circle-blank"></i>
                <input type="text" value="{{i18n.START}}" disabled>
            </div>
        </li>
        <li id="add-activity-section" class="section">
            <button id="add-activity" class="btn" title="{{i18n.ADD_ACTIVITY}}">
                <i class="icon-plus"></i>
            </button>
        </li>
        <li class="section">
            <div id="end">
                <i class="icon-circle"></i>
                <input id="final-state" type="text" placeholder="{{i18n.FINAL_STATE_PLACEHOLDER}}" value="{{workflow.finalLifeCycleState}}"/>
            </div>
        </li>
    </ul>
</div>
