<div id="document-menu">
<ul class="nav well">
	<li class="nav-header">{{model.id}}
	</li>
	<li id="folder-nav"></li>
	<li id="tag-nav"></li>
	<li id="search-nav">{{i18n.SEARCH}}</li>
	<li class="nav-header">{{i18n.REFERENCES}}</li>
	<li id="workflow-nav"></li>
	<li id="template-nav"></li>
	<li class="nav-header">{{i18n.LINKS}}</li>
	<li id="checkedout-nav"></li>
	<li>
		<a href="#tasks" class="nav-list-entry">
			<span class="icon plm-icon-nav-tasks"></span>
			{{i18n.TASKS}}
		</a>
	</li>
</ul>

</div>
<div id="document-content"></div>
