<div class="actions well">
    <input id="workflow-name" type="text" autofocus placeholder="{{i18n.WORKFLOW_NAME_PLACEHOLDER}}" value="{{workflow.id}}" required/>
    <button id="cancel-workflow" class="btn">
        {{i18n.CANCEL}}
    </button>
    <button id="save-workflow" class="btn btn-primary">
        {{#workflow.id}}{{i18n.SAVE}}{{/workflow.id}}
        {{^workflow.id}}{{i18n.CREATE}}{{/workflow.id}}
    </button>
    {{#workflow.id}}
        <button id="copy-workflow" class="btn" title="{{i18n.COPY_WORKFLOW}}">
            <i class="icon-copy"></i>
        </button>
    {{/workflow.id}}
</div>
<div id="workflow-editor">
    <ul id="activity-list">
        <li class="section">
            <div id="start">
                <i class="icon-circle-blank"></i>
                <input type="text" value="{{i18n.START}}" disabled>
            </div>
        </li>
        <li id="add-activity-section" class="section">
            <button id="add-activity" class="btn" title="{{i18n.ADD_ACTIVITY}}">
                <i class="icon-plus"></i>
            </button>
        </li>
        <li class="section">
            <div id="end">
                <i class="icon-circle"></i>
                <input id="final-state" type="text" placeholder="{{i18n.FINAL_STATE_PLACEHOLDER}}" value="{{workflow.finalLifeCycleState}}"/>
            </div>
        </li>
    </ul>
</div>
<div id="modal-copy-workflow" class="modal hide fade">
    <div class="modal-header">
        <i class="icon-copy"></i>
        <a class="close" data-dismiss="modal">×</a>
        <h3>Copie du workflow : {{workflow.id}}</h3>
    </div>
    <div class="modal-body">
        <label for="workflow-copy-name">{{i18n.RENAME_WORKFLOW_COPY}}</label>
        <input id="workflow-copy-name" type="text" value="{{workflow.id}}" required/>
    </div>
    <div class="modal-footer">
        <button id="save-copy-workflow-btn" href="#" class="btn btn-primary">{{i18n.COPY}}</button>
        <button id="cancel-copy-workflow-btn" href="#" class="btn">{{i18n.CANCEL}}</button>
    </div>
</div>