<td><a href="#" class="dochandle fa fa-bars"></a></td>
<td><input type="checkbox" id="check-toggle-{{view.cid}}"/></td>
<td class="reference doc-ref">
    <a title="{{model.path}}/{{model.id}}">{{#model.isCheckout}}{{#model.isCheckoutByConnectedUser}}<i
            class="fa fa-pencil"></i>{{/model.isCheckoutByConnectedUser}}{{^model.isCheckoutByConnectedUser}}<i
            class="fa fa-lock"></i>{{/model.isCheckoutByConnectedUser}}{{/model.isCheckout}}{{^model.isCheckout}}<i
            class="fa fa-eye"></i>{{/model.isCheckout}}{{model.reference}}</a>
</td>
<td>{{model.version}}</td>
<td>
    {{#model.lastIteration}}{{model.lastIteration.iteration}}{{/model.lastIteration}}{{^model.lastIteration}}-{{/model.lastIteration}}
</td>
<td class="type">{{model.type}}</td>
<td>{{model.title}}</td>
<td><a class="author-popover">{{model.author.name}}</a></td>
<td><a class="date-popover">{{model.lastIteration.modificationDate}}</a></td>
<td class="life-cycle-state">{{model.lifeCycleState}}</td>
<td><a class="checkout-user-popover">{{model.checkOutUser.name}}</a></td>
<td class="document-acl-info">
    {{#model.isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/model.isReadOnly}}
    {{#model.isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/model.isFullAccess}}
</td>
<td class="document-master-subscriptions">
    <i class="fa iteration-subscription"></i>
</td>
<td class="document-master-subscriptions">
    <i class="fa state-subscription"></i>
</td>
<td class="document-master-share">
    <i class="fa fa-globe" title="{{i18n.PUBLISH}}"></i>
</td>
<td class="document-attached-files">
    {{#model.hasAttachedFiles}}
    <i class="fa fa-paperclip" title="{{i18n.ATTACHED_FILES}}"></i>
    {{/model.hasAttachedFiles}}
</td>
