<div id="issue_edition_modal" class="modal hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <i class="fa fa-bug"></i>
        {{#model.isWritable}}<i class="fa fa-pencil"></i>{{/model.isWritable}}{{^model.isWritable}}<i
            class="fa fa-lock"></i>{{/model.isWritable}}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{#model.isWritable}}
            {{i18n.EDIT_ISSUE}} :
            {{/model.isWritable}}
            {{model.getName}}
        </h3>
    </div>

    <div class="modal-body">
        <div class="notifications"></div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-main" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-affected-links" data-toggle="tab">{{i18n.AFFECTED_ELEMENT}}</a></li>
            </ul>

            <form id="issue_edition_form" class="form-horizontal tab-content">
                <div class="tab-pane active" id="tab-main">
                    <div class="control-group">
                        <label class="control-label">{{i18n.NAME}}</label>

                        <div class="controls">
                            <span class="help-inline">{{model.getName}}</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueInitiator">{{i18n.INITIATOR}}</label>

                        <div class="controls">
                            <input id="inputIssueInitiator" class="help-inline" placeholder="{{i18n.INITIATOR}}" value="{{model.getInitiator}}">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">{{i18n.AUTHOR}}</label>

                        <div class="controls">
                            <span class="help-inline"><a class="author-popover">{{model.getAuthorName}}</a></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{i18n.CREATION_DATE}}</label>

                        <div class="controls">
                            <span class="help-inline"><a class="date-popover">{{model.getFormattedCreationDate}}</a></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssuePriority">{{i18n.CHANGE_ITEM_PRIORITY}}</label>

                        <div class="controls">
                            <select id="inputIssuePriority" {{^model.isWritable}} disabled
                            {{/model.isWritable}}></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueDescription">{{i18n.DESCRIPTION}}</label>

                        <div class="controls">
                            <textarea id="inputIssueDescription" placeholder="{{i18n.DESCRIPTION}}" rows="3"
                            {{^model.isWritable}} readonly {{/model.isWritable}}></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueAssignee">{{i18n.CHANGE_ITEM_ASSIGNEE}}</label>

                        <div class="controls">
                            <select id="inputIssueAssignee" {{^model.isWritable}} disabled {{/model.isWritable}}>
                            <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueCategory">{{i18n.CHANGE_ITEM_CATEGORY}}</label>

                        <div class="controls">
                            <select id="inputIssueCategory" {{^model.isWritable}} disabled {{/model.isWritable}}>
                            <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{i18n.TAGS}}</label>

                        <div class="controls">
                            <ul class="help-inline master-tags-list unstyled"></ul>
                        </div>
                    </div>
                </div>
                <div id="tab-affected-links" class="tab-pane">
                    <div id="documents-affected-links"></div>
                    <div id="parts-affected-links" class="affected-links"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        {{#model.isWritable}}
        <a id="cancel-iteration" class="btn btn-default cancel" data-dismiss="modal"
           aria-hidden="true">{{i18n.CANCEL}}</a>
        <button class="btn btn-primary" form="issue_edition_form">{{i18n.SAVE}}</button>
        {{/model.isWritable}}
        {{^model.isWritable}}
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        {{/model.isWritable}}
    </div>
</div>
