<div id="issue_creation_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <i class="fa fa-bug"></i>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{i18n.NEW_ISSUE}}</h3>
    </div>

    <div class="modal-body">
        <div class="notifications"></div>
        <h4></h4>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-main" data-toggle="tab">{{i18n.GENERAL}}</a></li>
                <li><a href="#tab-affected-links" data-toggle="tab">{{i18n.AFFECTED_ELEMENT}}</a></li>
            </ul>

            <form id="issue_creation_form" class="form-horizontal tab-content">
                <div class="tab-pane active" id="tab-main">
                    <div class="control-group">
                        <label class="control-label" for="inputIssueName">{{i18n.NAME}}</label>

                        <div class="controls">
                            <input type="text" id="inputIssueName" placeholder="{{i18n.NAME}}" required/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueInitiator">{{i18n.INITIATOR}}</label>

                        <div class="controls">
                            <input type="text" id="inputIssueInitiator" placeholder="{{i18n.INITIATOR}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssuePriority">{{i18n.CHANGE_ITEM_PRIORITY}}</label>

                        <div class="controls">
                            <select id="inputIssuePriority"></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueDescription">{{i18n.DESCRIPTION}}</label>

                        <div class="controls">
                            <textarea id="inputIssueDescription" placeholder="{{i18n.DESCRIPTION}}" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueAssignee">{{i18n.CHANGE_ITEM_ASSIGNEE}}</label>

                        <div class="controls">
                            <select id="inputIssueAssignee">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputIssueCategory">{{i18n.CHANGE_ITEM_CATEGORY}}</label>

                        <div class="controls">
                            <select id="inputIssueCategory">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="tab-affected-links" class="tab-pane">
                    <div id="documents-affected-links"></div>
                    <div id="parts-affected-links" class="affected-links"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{i18n.CLOSE}}</button>
        <button class="btn btn-primary" form="issue_creation_form">{{i18n.CREATE}}</button>
    </div>
</div>
