#document-content {
  float: left;
  width: 85%;
  height:100%;
  overflow-y: auto;
  background: white;
  .box-shadow(0px 1px 3px darken(@actionBarBackground, 35%));
  .box-flex(1);
  .actions {
    min-height: 48px;
    .border-radius(0);
    .box-shadow(0 0px 3px darken(@actionBarBackground, 35%));
    margin: 0 ;
    padding: 0 8px;
    border: none;
    > .btn {
      height: 32px;
      margin: 8px 8px 8px 8px;
    }
    .btn-group {
      margin: 0px 8px 0 8px;
    }
    .btn-group .btn {
      float: none;
    }
    .new-document .icon {
      .plm-icon-action-document-new;
    }
    .new-template .icon {
      .plm-icon-action-template-new;
    }
    .new-workflow .icon {
      .plm-icon-action-workflow-new;
    }
    .delete {
      display: none;
      .icon {
        .plm-icon-action-delete;
      }
    }
    .checkout-group {
      display: none;
    }
    .checkout .icon {
      .plm-icon-action-checkout;
    }
    .undocheckout .icon {
      .plm-icon-action-undocheckout;
    }
    .checkin .icon {
      .plm-icon-action-checkin;
    }
    .tags {
      display: none;
    }
    .tags .icon {
      .plm-icon-action-tags;
    }
  }
  input {
    height: 22px;
    margin: 8px;
  }

}
