div.attachedFiles{

  &.idle{

    p#upload-file-shortname {
      display: none;
    }

    div.progress {
      width: 0%;
      display: none;
    }

    button.cancel-upload-btn {
      display: none;
    }
  }

  &.uploading{

    input#upload-btn {
      display: none;
    }

    div#filedroparea {
      display: none;
    }
  }

  form#upload-form {
    position: relative;
    margin: 20px 0 0 0;
  }

  input#upload-btn {
    left: 60px;
    top: 22px;
    position: absolute;
    width: 127px;
    height: auto;
    line-height: normal;
  }

  #filedroparea
  {
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    margin: 10px 0 0 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
  }
  #filedroparea.hover
  {
    color: #555;
    border-color: #9acd32;
    border-style: solid;
    box-shadow: inset 0 1px 4px #888;
  }

  ul#file-list{
    margin: 0;
  }
  li {

    margin: 4px;

    list-style: none;

    div.item-component{
      display: inline-block;
    }

    .stroke {
      text-decoration: line-through;
      color : red;
    }

    .stroke, a.stroke, a.stroke
    {
      text-decoration: line-through;
      color : red;
    }

  }

  li.stroke{
    text-decoration: line-through;
    color : red;
  }

  input.file-delete {
    margin : 5px;
  }
}