div.linked-documents-view {
  label.document-reference-typeahead-label{
    font-weight: bold;
  }

  ul.linked-docs {
    margin: 8px 0 0 6px;
    list-style: none;

    li.linked-document {
      line-height: 25px;

      button.delete-linked-document {
        margin-top: -3px;
        padding: 0px 3px;
      }
    }
  }
}