#document-menu {
  overflow: auto;
  background-color: whiteSmoke;
  width: 15%;
  float: left;
  height: 100%;

  .nav {
    margin: 5% 6px;
    padding: 0;
    height: 95%;
  }

  .well {
    background: none;
    .box-shadow(none);
    border: none;
  }

  .nav-header {
    font-size: 12px;
    padding: 3px 10px;
  }

  .nav-list-entry {
    min-width: 90px;
    position: relative;
    padding: 0 40px 0 6px;
    max-width: 125px;
    height: 26px;
    display: inline-block;

    .icon {
      float: left;
    }

    > a {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 26px;
      white-space: nowrap;
      max-width: 130px;
      float: left;

      .status {
        float: left;
      }
    }

    > .btn-group {
      right: 0;
      position: absolute;
    }

    .dropdown-toggle {
      .border-radius(0);
      margin: 0 0 0 8px;
      display: none;
      border: none;
      background: none;
      .box-shadow(none);

      .caret {
        border-top-color: #000000;
        opacity: .5;
      }
    }

    .dropdown-toggle:hover {
      background: #CCC;
      .caret {
        opacity: 1;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      padding: 0;
      min-width: auto;
      margin: -1px 0px 0 0;
      right: 0;
      left: auto;

      a {
        line-height: 24px;
        padding: 3px 6px;
      }
      .new-folder .icon {
        .plm-icon-menu-folder-new;
        margin-right: 6px;
      }
      .edit .icon {
        .plm-icon-menu-edit;
        margin-right: 6px;
      }
      .delete .icon {
        .plm-icon-menu-delete;
        margin-right: 6px;
      }

    }
  }

  .nav-list-entry:hover {
    > a {
      text-decoration: none;
    }
    background-color: #EEE;
    .dropdown-toggle {
      display: block;
    }
  }

  .nav-list-entry.active, .nav-list-entry.active > a {
  /*text-shadow: 0 -1px 0 @grayLight;*/
    color: @white;
    background-color: @grayLight;
  }

  .items {
    overflow: visible;
    list-style-type: none;
    margin-left: 6px;
  }
}

#folder-nav {
  .clearfix();

  .folder {
    .status {
      .plm-icon-nav-folder-status-closed;
    }
    .icon {
      .plm-icon-nav-folder;
    }
  }

  .folder.open > div > a {
    >.status {
      .plm-icon-nav-folder-status-opened;
    }

    >.icon {
      .plm-icon-nav-folder-opened;
    }
  }

  .folder.home > .header > a .icon {
    .plm-icon-nav-folder-home;
  }
}

#tags-nav {
  .clearfix();
}

#product_container i.icon-plus {
  font-size: 14px;
}