@import "../bootstrap/bootstrap.less";
@import "../bootstrap/responsive.less";
@import "../colors.less";
@import "../general.less";
@import "../nav.less";
@import "../content.less";
@import "../attributes_edit.less";
@import "../modal.less";
@import "../list_view.less";
@import "../document_edit.less";
@import "../template_edit.less";
@import "workflow-editor.less";
@import "../icons.less";

#iteration-attributes{
    margin-left: -15px;
}

[id^="editable-list-add-item-view"] {
margin-top: -10px;
margin-bottom: 10px;
}

[id^="editable-list-add-item-view"] i{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 5px;
}

.editable-list li{
    margin: 4px 4px 10px 4px;
}