@import "../common/style.less";
@import "menu.less";
@import "content.less";
@import "documents";
@import "workflowModels";
@import "search";
@import "lifecycle";
@import "tags.less";
@import "roles.less";

#iteration-attributes {
  margin-left: -15px;
}

[id^="editable-list-add-item-view"] {
  margin-top: -10px;
  margin-bottom: 10px;
}

[id^="editable-list-add-item-view"] i {
  font-size: 13px;
  margin-top: 3px;
  margin-left: 5px;
}

.editable-list li {
  margin: 4px 4px 10px 4px;
}

#switch-iteration {
  float: left;
  margin-bottom: 0px;
}

td.document-master-subscriptions {
  i {
    color: orange;
    cursor: pointer;
  }
}

