<div id="actions-{{view.cid}}" class="actions well">
    {{> searchForm}}

    <button class="btn btn-default new-document" title="{{i18n.NEW_DOCUMENT}}">
        <span class="icon"></span>
    </button>

    {{> deleteButton}}
    {{> checkoutButtonGroup}}
    {{> tagsButton}}
    {{> aclButton}}
    {{> newVersionButton}}
    {{> releaseButton}}
    {{> obsoleteButton}}
    {{> snapInProgressButton}}

</div>
<div class="notifications"></div>
<table id="list-{{view.cid}}" class="table table-striped table-condensed"></table>
