<md-dialog>
    <md-content>
        <h2 class="subtitle">{{title}}</h2>
        <md-input-group class="md-default-theme">
            <textarea placeholder="{{title}}" class="md-default-theme" ng-model="value"></textarea>
        </md-input-group>
    </md-content>
    <div class="md-actions">
        <md-button aria-label="" class="md-default md-raised" ng-click="cancel()">
            {{'CANCEL' | translate }}
        </md-button>
        <md-button aria-label="" class="md-primary md-raised" ng-click="confirm()">
            {{'CHECKIN' | translate }}
        </md-button>
    </div>
</md-dialog>