{{#model.isDeletable}}
<div class="controls deleteLovItem">
        <a class="fa fa-times"></a>
    </div>
{{/model.isDeletable}}

    <span class="lovItemNameTitle">{{i18n.NAME}}:</span>
    <span class="lovItemName">{{model.getLOVName}}</span>
    {{^model.getLOVName}}
    <input type="text" class="input-small name lovItemNameInput" placeholder="{{i18n.NAME}}" value="{{model.getLOVName}}" required="true"/>
    {{/model.getLOVName}}
    <div class="lovValueDiv">
        <span class="lovNumberOfValue">{{model.getNumberOfValue}}</span><span class="lovNumberOfValueTitle"> {{i18n.POSSIBLE_VALUE}}</span>
        <div class="lovValues">
        </div>
        <button type="button" class="btn add addLOVValue">{{i18n.ADD}}</button>
    </div>

    <i class="fa fa-angle-double-down expandIcon"></i>
