<h5>{{task.title}}
    {{#task.isAcceptableOrRejectable}}
    <i class="reject-task fa fa-times" title="{{i18n.REJECT_TASK}}"></i>
    <i class="approve-task fa fa-check" title="{{i18n.APPROVE_TASK}}"></i>
    {{/task.isAcceptableOrRejectable}}
    {{#task.closureDate}}
    <i class="toggle-comment fa fa-comment" title="{{i18n.COMMENT}}"></i>
    {{/task.closureDate}}
</h5>
<p class="task-instructions">{{task.instructions}}</p>
<a class="user-popover">{{task.worker.name}}</a>
{{#task.closureDate}}
<div class="task-comment">
    <p>
        <b>{{task.ClosureStatus}}</b><br/> {{task.formattedClosureDate}}<br/>
        <b>{{i18n.ITERATION}}</b> : {{task.targetIteration}}<br/>
        <b>{{i18n.COMMENT}}</b><br/>{{task.closureComment}}<br/>
        {{#task.signature}}
        <b>{{i18n.SIGN_TASK}}</b><br/><img src="{{task.signature}}"/>
        {{/task.signature}}
    </p>
</div>
{{/task.closureDate}}
{{#task.isAcceptableOrRejectable}}
<div class="closure-comment">
    <h5 class="mark_task"></h5>

    <form class="closure-comment-form">
        <div>
            <input type="hidden" name="closure-type" value="0"/>
            <input placeholder="{{i18n.CLOSURE_COMMENT}}" type="text" class="input-medium"
                   name="closure-comment-input"/>
        </div>
        <div class="task-signing"></div>
        <div class="task-buttons">
            <button class="btn cancel">{{i18n.CANCEL}}</button>
            <input type="submit" class="btn btn-primary" value="{{i18n.SAVE}}"/>
        </div>
    </form>
</div>
{{/task.isAcceptableOrRejectable}}
