src/main/webapp/bower_components/
src/main/webapp/change-management/
src/main/webapp/document-management/
src/main/webapp/fonts/
src/main/webapp/images/
src/main/webapp/img/
src/main/webapp/js/product-structure/
src/main/webapp/product-management/
src/main/webapp/product-structure/
src/main/webapp/sounds/
src/main/webapp/visualization/
src/main/webapp/js/localization/
