<td><input type="checkbox"/></td>
<td class="reference change_request_name"><i class="icon-ticket"></i>{{model.getName}}</td>
<td><a class="assigned-user-popover">{{model.getAssignee}}</a></td>
<td>{{model.getPriority}}</td>
<td>{{model.getCategory}}</td>
<td><a class="author-popover">{{model.getAuthorName}}</a></td>
<td>{{model.getFormattedCreationDate}}</td>
<td class="acl-info">
    {{#model.isReadOnly}}
    <i class="icon-ban-circle read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/model.isReadOnly}}
    {{#model.isFullAccess}}
    <i class="icon-ban-circle full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/model.isFullAccess}}
</td>