<td><input type="checkbox"/></td>
<td class="modification_notification">
    {{#model.hasUnreadModificationNotifications}}
    <i class="fa fa-exclamation"></i>
    {{/model.hasUnreadModificationNotifications}}
</td>
<td class="part_number">
    {{#model.isCheckout}}
    {{#model.isCheckoutByConnectedUser}}<i class="fa fa-pencil"></i>{{/model.isCheckoutByConnectedUser}}
    {{^model.isCheckoutByConnectedUser}}<i class="fa fa-lock"></i>{{/model.isCheckoutByConnectedUser}}
    {{/model.isCheckout}}
    {{^model.isCheckout}}
    {{#model.isReleased}}<i class="fa fa-check"></i>{{/model.isReleased}}
    {{^model.isReleased}}
        {{#model.isObsolete}}<i class="fa fa-frown-o"></i>{{/model.isObsolete}}
        {{^model.isObsolete}}<i class="fa fa-eye"></i>{{/model.isObsolete}}
    {{/model.isReleased}}
    {{/model.isCheckout}}

    {{#model.isLastIterationAssembly}}
    <i class="fa fa-cubes"></i>
    {{/model.isLastIterationAssembly}}
    {{^model.isLastIterationAssembly}}
    <i class="fa fa-cube"></i>
    {{/model.isLastIterationAssembly}}

    {{model.getNumber}}
</td>
<td>{{model.getVersion}}</td>
<td>{{#model.getLastIteration}}
    {{id}}
    {{/model.getLastIteration}}
    {{^model.getLastIteration}}
    -
    {{/model.getLastIteration}}
</td>
<td>{{model.getType}}</td>
<td>{{model.getName}}</td>
<td><a class="author-popover">{{model.getAuthorName}}</a></td>

<td><a class="date-popover">{{model.getFormattedModificationDate}}</a></td>
<td>{{model.getLifeCycleState}}</td>
<td><a class="checkout-user-popover">{{model.getCheckOutUserName}}</a></td>
<td class="part-acl-info">
    {{#model.isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/model.isReadOnly}}
    {{#model.isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/model.isFullAccess}}
</td>
<td class="part-revision-share">
    <i class="fa fa-globe" title="{{i18n.PUBLISH}}"></i>
</td>
<td class="part-attached-files">
    {{#model.hasLastIterationAttachedFiles}}
    <i class="fa fa-paperclip" title="{{i18n.ATTACHED_FILES}}"></i>
    {{/model.hasLastIterationAttachedFiles}}
</td>
