<table id="bom_table" class="table table-striped">
    <thead>
    <tr>
        <th><input type="checkbox"/></th>
        <th></th>
        <th>{{i18n.PART_NUMBER}}</th>
        <th>{{i18n.VERSION}}</th>
        <th>{{i18n.ITERATION}}</th>
        <th>{{i18n.TYPE}}</th>
        <th>{{i18n.PART_NAME}}</th>
        <th>{{i18n.AUTHOR}}</th>

        <th>{{i18n.MODIFICATION_DATE}}</th>
        <th>{{i18n.LIFECYCLE_STATE}}</th>
        <th>{{i18n.CHECKOUT_BY}}</th>
        <th>{{i18n.ACL}}</th>
        <th><i class="fa fa-globe" title="{{i18n.SHARE}}"></i></th>
        <th><i class="fa fa-paperclip" title="{{i18n.FILES}}"></i></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
