<span class="btn-group checkout-group">
	<button class="btn btn-default checkout" title="{{i18n.CHECKOUT}}">
        <span class="icon"></span>
    </button>
	<button class="btn btn-default undocheckout" title="{{i18n.CANCEL_CHECKOUT}}">
        <span class="icon"></span>
    </button>
	<button class="btn btn-default checkin" title="{{i18n.CHECKIN}}">
        <span class="icon"></span>
    </button>
</span>

<span class="btn-group cascade-checkout-group">
    <button type="button" class="btn btn-default dropdown-toggle checkout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="selected"><a class="checkout">{{i18n.SELECTED}}</a></li>
        <li class="cascade"><a class="checkout">{{i18n.CASCADE}}</a></li>
    </ul>
</span>
<span class="btn-group cascade-checkout-group">
    <button type="button" class="btn btn-default dropdown-toggle undocheckout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="selected"><a class="undocheckout">{{i18n.SELECTED}}</a></li>
        <li class="cascade"><a class="undocheckout">{{i18n.CASCADE}}</a></li>
    </ul>
</span>
<span class="btn-group cascade-checkout-group">
    <button type="button" class="btn btn-default dropdown-toggle checkin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="selected"><a class="checkin">{{i18n.SELECTED}}</a></li>
        <li class="cascade"><a class="checkin">{{i18n.CASCADE}}</a></li>
    </ul>
</span>
<button class="btn edit-acl" title="{{i18n.ACL}}">
    <span class="icon"></span>
</button>
