<span class="btn-group checkout-group">
	<button class="btn btn-default checkout" title="{{i18n.CHECKOUT}}">
        <span class="icon"></span>
    </button>
	<button class="btn btn-default undocheckout" title="{{i18n.CANCEL_CHECKOUT}}">
        <span class="icon"></span>
    </button>
	<button class="btn btn-default checkin" title="{{i18n.CHECKIN}}">
        <span class="icon"></span>
    </button>
</span>
<span class="cascade-checkout-group">
<span class="btn-group">
    <button type="button" class="btn btn-default checkout"><span class="icon"></span></button>
  <button type="button" class="btn btn-default dropdown-toggle cascade-button-checkout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only"></span>
  </button>
     <ul class="dropdown-menu">
         <li class="cascade"><a class="checkout">{{i18n.CASCADE}}</a></li>
     </ul>
</span>

<span class="btn-group">
    <button type="button" class="btn btn-default undocheckout"><span class="icon"></span></button>
  <button type="button" class="btn btn-default dropdown-toggle cascade-button-undocheckout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only"></span>
  </button>
     <ul class="dropdown-menu">
         <li class="cascade"><a class="undocheckout">{{i18n.CASCADE}}</a></li>
     </ul>
</span>
<span class="btn-group">
    <button type="button" class="btn btn-default checkin"><span class="icon"></span></button>
  <button type="button" class="btn btn-default dropdown-toggle cascade-button-checkin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only"></span>
  </button>
     <ul class="dropdown-menu">
         <li class="cascade"><a class="checkin">{{i18n.CASCADE}}</a></li>
     </ul>
</span>
    </span>
<button class="btn edit-acl" title="{{i18n.ACL}}">
    <span class="icon"></span>
</button>
