<table id="bom_table" class="table table-striped">
    <thead>
    <tr>
        <th><input type="checkbox"/></th>
        <th>{{i18n.PART_NUMBER}}</th>
        <th>{{i18n.VERSION}}</th>
        <th>{{i18n.ITERATION}}</th>
        <th>{{i18n.STANDARD_PART}}</th>
        <th>{{i18n.PART_NAME}}</th>
        <th>{{i18n.AUTHOR}}</th>

        <th>{{i18n.CREATION_DATE}}</th>
        <th>{{i18n.CHECKOUT_DATE}}</th>
        <th>{{i18n.CHECKOUT_BY}}</th>

    </tr>
    </thead>
    <tbody>
    </tbody>
</table>