<div class="nav-header">{{i18n.VIEW_MODE}} <i class="fa fa-video-camera"></i></div>
<div class="btn-group" data-toggle="buttons-radio" id="view_buttons">
    <button class="btn btn-custom" id="flying_mode_view_btn" title="{{i18n.FLYING_MODE}}"><span
            class="camera-mode-label">Fly</span></button>
    <button class="btn btn-custom active" id="tracking_mode_view_btn" title="{{i18n.TRACKBALL_MODE}}"><span
            class="camera-mode-label">Track</span></button>
    <button class="btn btn-custom" id="orbit_mode_view_btn" title="{{i18n.ORBIT_MODE}}"><span class="camera-mode-label">Orbit</span>
    </button>
</div>