<div id="product-menu">
    <div id="product-menu-inner">
        <div id="product_nav_list_container">
            <ul class="nav well">
                <li class="nav-header">{{i18n.PRODUCT}} : {{productId}}</li>
            </ul>

            <div id="nav_list_action_bar"></div>
            <div id="config_spec_container"></div>

            <nav class="nav nav-list treeview" id="product_nav_list">
                <div id='product_title'><span class="product_title">{{productId}}</span><a><i title="{{i18n.REFRESH_TREE}}" class="fa fa-refresh"></i></a><a><i title="{{i18n.DISPLAY_COMMENTS}}" class="fa fa-quote-right"></i></a>
                    <img class="loader"src="{{contextPath}}/images/product-loader.gif"/>
                </div>
            </nav>
        </div>

    </div>
</div>

<div id="product-content">

    <div class="actions well">

        <div class="mode-controls btn-group" data-toggle="buttons-radio" id="top_buttons">
            <button class="btn btn-custom" id="bom_view_btn" title="{{i18n.BOM_VIEW}}"><i class="fa fa-sitemap"></i>
            <button class="btn btn-custom active" id="scene_view_btn" title="{{i18n.SCENE_VIEW}}"><i
                class="fa fa-video-camera"></i></button>
            </button>
        </div>

        <div class="dmu-controls">
            <button class="btn btn-custom" id="export_scene_btn"><i class="fa fa-upload"></i> <b>{{i18n.EXPORT}}</b>
            </button>
            <button class="btn btn-custom" id="fullscreen_scene_btn"><i class="fa fa-arrows-alt"></i> <b>{{i18n.FULL_SCREEN}}</b>
            </button>
            <div id="progress_bar_container" class="progress progress-striped active"></div>
        </div>

        <div class="bom-controls"></div>

        <div class="product-instance">
            <button class="btn btn-custom" id="path_data_btn"><b>{{i18n.PRODUCT_INSTANCE_DATA}}</b></button>
        </div>

        <div class="path_to_path_link">
            <button class="btn btn-custom" id="path_to_path_link_btn"><b>{{i18n.PATH_TO_PATH_LINKS}}</b></button>
        </div>

    </div>

    <div id="dmu_container">

        <div id="side_controls_container">
        </div>

        <div id="scene_container">
            <div id="container"></div>
        </div>

    </div>
    <div class="notifications"></div>
    <div id="bom_table_container"></div>

</div>
