<div id="nav_list_controls">
    <div id="search_control_container">
        <form id="nav_list_search" class="form-inline">
            <input class="form-control" type="text" name="search" placeholder="{{i18n.SEARCH_PARTS}}"/>
            <button title="" class="btn btn-custom fa fa-search " id="nav_list_search_button" value=""></button>
            <span id="nav_list_search_mini_icon"><i class="fa fa-info-circle"></i></span>
        </form>
    </div>
</div>
<div id="nav_list_controls_help" class="hidden">
    <table id="nav_list_controls_help_table">
        <tbody>
        <tr>
            <td width="70"><b>{{i18n.PART_SEARCH_HELP}}</b></td>
            <td>{{i18n.SEARCH_PART_CALLED}} {{i18n.PART_SEARCH_HELP}}</td>
        </tr>
        <tr>
            <td width="70"><b>%{{i18n.PART_SEARCH_HELP}}</b></td>
            <td>{{i18n.SEARCH_PART_ENDING}} {{i18n.PART_SEARCH_HELP}}</td>
        </tr>
        <tr>
            <td width="70"><b>{{i18n.PART_SEARCH_HELP}}%</b></td>
            <td>{{i18n.SEARCH_PART_BEGINNING}} {{i18n.PART_SEARCH_HELP}}</td>
        </tr>
        </tbody>
    </table>
</div>
