<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="productInstanceDataTitle">{{i18n.PATH_TO_PATH_LINKS}}</h3>
</div>
<div class="modal-body">
    <div id="path-to-path-link-alerts"></div>
    {{#editionMode}}
    <form id="path-to-path-link-form">
        {{/editionMode}}

        <div id="path-to-path-links"></div>
        {{#editionMode}}
    </form>
    <button class="btn add-path-to-path-link-btn">{{i18n.ADD}}</button>
    {{/editionMode}}
</div>
<div class="modal-footer">
    {{#editionMode}}
    <button class="btn cancel-button">{{i18n.CANCEL}}</button>
    <button type="submit" class="btn btn-primary save-button" form="path-to-path-link-form">{{i18n.SAVE}}</button>
    {{/editionMode}}
    {{^editionMode}}
    <button class="btn cancel-button">{{i18n.CLOSE}}</button>
    {{/editionMode}}
</div>
