<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="productInstanceDataTitle"><i class="fa fa-asterisk"></i> {{i18n.PRODUCT_INSTANCE_DATA}}</h3>
</div>
<div class="modal-body">
    <div id="alerts"></div>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-main" data-toggle="tab">{{i18n.GENERAL}}</a></li>
            <li><a href="#tab-attributes" data-toggle="tab">{{i18n.ATTRIBUTES}}</a></li>
            {{#iteration}}
            <li class="title-tab-file"><a href="#tab-files" data-toggle="tab">{{i18n.FILES}}</a></li>
            <li class="title-tab-link"><a href="#tab-link" data-toggle="tab">{{i18n.LINKS}}</a></li>
            {{/iteration}}
        </ul>

        <form id="form-deliverable-data" class="tab-content form-horizontal">
            <div id="tab-main" class="tab-pane tab-main active">
                <div class="path-description"></div>
                <div>
                    <span>{{i18n.REVISION_NOTE}} <input type="text" class="input-xlarge description-input" value="{{iterationNote}}"></span>
                </div>
                {{#iteration}}
                {{#editMode}}
                <div>
                    <button type="button" class="btn btn-success new-iteration">{{i18n.FREEZE_CURRENT_ITERATION}}</button>
                </div>
                {{/editMode}}
                {{/iteration}}

            </div>
            <div id="tab-attributes" class="tab-pane tab-attributes">
                <p>{{i18n.PART_ATTRIBUTES}}</p>
                <div id="partAttributes" class="attributes attributes-edit"></div>
                <p>{{i18n.PRODUCT_INSTANCE_DATA_ATTRIBUTES}}</p>
                <div id="pathDataAttributes" class="attributes attributes-edit"></div>
            </div>
            <div id="tab-files" class="tab-pane tab-files">files</div>
            <div id="tab-link" class="tab-pane tab-part-link">link</div>
        </form>
    </div>
</div>
<div class="modal-footer">
    {{#iteration}}
    <ul id="switch-iteration" class="pager" style="margin: 0;">
        <li class="{{^hasPreviousIteration}}disabled{{/hasPreviousIteration}}">
            <a href="#" id="previous-iteration"><i class="fa fa-angle-left icon-large"></i></a>
        </li>
        <li>{{iteration}}/{{iterations}}</li>
        <li class="{{^hasNextIteration}}disabled{{/hasNextIteration}}">
            <a href="#" id="next-iteration"><i class="fa fa-angle-right icon-large"></i></a>
        </li>
    </ul>
    {{/iteration}}

    <button class="btn cancel-button">{{i18n.CANCEL}}</button>
    {{#editMode}}<button class="btn btn-primary save-button" form="form-deliverable-data">{{i18n.SAVE}}</button>{{/editMode}}
</div>
