<div class="error-div"></div>
<div class="typed-link-content form-horizontal">
    {{#canSuppress}}
    <button type="button" class="close delete-item">×</button>
    {{/canSuppress}}
    <div class="control-group">
        <label class="control-label">{{i18n.PATH_TO_PATH_SOURCE}}</label>

        <div class="controls">
            <span class="help-inline">
                {{#sourceComponents}}
                {{name}} < {{number}} > {{#referenceDescription}}({{.}}){{/referenceDescription}}
                <i class="fa fa-long-arrow-right"></i>
                {{/sourceComponents}}
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{i18n.PATH_TO_PATH_TARGET}}</label>

        <div class="controls">
            <span class="help-inline">
                {{#targetComponents}}
                {{name}} < {{number}} > {{#referenceDescription}}({{.}}){{/referenceDescription}}
                <i class="fa fa-long-arrow-right"></i>
                {{/targetComponents}}
            </span>
        </div>
    </div>

    {{#isCreationMode}}
    <div class="control-group">
        <div class="controls">
            <a class="invert-source-target">{{i18n.INVERT_SOURCE_DESTINATION}}</a>
        </div>
    </div>
    {{/isCreationMode}}

    <div class="control-group type">
        <label class="control-label">{{i18n.TYPE}}</label>

        <div class="controls">
            {{#isCreationMode}}
            <select class="type-select input-medium">
                <option value=""></option>
                {{#availableType}}
                <option value="{{.}}">{{.}}</option>
                {{/availableType}}
            </select>
            {{i18n.OR}}
            <input class="add-type-input input-medium" type="text" placeholder="{{i18n.NEW_LINK_TYPE}}">
            {{/isCreationMode}}

            {{^isCreationMode}}
            <span class="help-inline">{{type}}</span>
            {{/isCreationMode}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="typed-link-description">{{i18n.DESCRIPTION}}</label>

        <div class="controls">
            <textarea class="path-to-path-description" id="typed-link-description" placeholder="{{i18n.DESCRIPTION}}" {{^isCreationMode}}disabled{{/isCreationMode}}>{{description}}</textarea>
        </div>
    </div>
</div>

