<div class="error-div"></div>
<div class="typed-link-content">
    {{#canSuppress}}
    <button type="button" class="close delete-item">×</button>
    {{/canSuppress}}
    <div class="link-source"><strong>{{i18n.PATH_TO_PATH_SOURCE}}</strong> {{source.getName}} < {{source.getNumber}} > {{#source.getPartUsageLinkReferenceDescription}}({{source.getPartUsageLinkReferenceDescription}}){{/source.getPartUsageLinkReferenceDescription}}</div>

    <div class="link-target"><strong>{{i18n.PATH_TO_PATH_TARGET}}</strong> {{target.getName}} < {{target.getNumber}} > {{#target.getPartUsageLinkReferenceDescription}}({{target.getPartUsageLinkReferenceDescription}}){{/target.getPartUsageLinkReferenceDescription}}</div>

    {{#isCreationMode}}
    <a class="invert-source-target">{{i18n.INVERT_SOURCE_DESTINATION}}</a>
    {{/isCreationMode}}

    <div class="link-type-block">
        {{^isCreationMode}}
        <strong>{{i18n.TYPE}}</strong> {{type}}
        {{/isCreationMode}}

        {{#isCreationMode}}
        <strong>{{i18n.TYPE}}</strong>
        <select class="type-select input-medium">
            <option value=""></option>
            {{#availableType}}
            <option value="{{.}}">{{.}}</option>
            {{/availableType}}
        </select>
        {{i18n.OR}}
        <input class="add-type-input input-medium" type="text" placeholder="{{i18n.NEW_LINK_TYPE}}">
        {{/isCreationMode}}
    </div>

    <div class="description-block">
        <strong>{{i18n.DESCRIPTION}}</strong>
        <textarea class="path-to-path-description" placeholder="{{i18n.DESCRIPTION}}" {{^isCreationMode}}disabled{{/isCreationMode}}>{{description}}</textarea>
        {{#isCreationMode}}
        <button class="btn btn-primary save-button">{{i18n.SAVE}}</button>
        {{/isCreationMode}}
    </div>
</div>

