.dropdown-menu {

  min-width: 140px;

  li > a {
    line-height:18px;
    height: 18px;
    padding: 3px 16px;
    &:hover {
      color: #fff;
      #gradient > .vertical(lighten(#147be8, 5%), darken(#147be8, 5%));
    }
  }
  .divider {
    margin: 5px 1px;
  }

  &.large-entries{
    li>a{
      line-height: 30px;
      height:30px;
      &:hover{
        color:#333;
        #gradient > .vertical(lighten(#cfd7e4, 5%), darken(#cfd7e4, 5%));
      }
    }
  }

}