html, body {
  height: 100%;
  width: 100%; // required for firefox
  background-color: #e2e7ef;
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: @errorText;
  background-color: @errorBackground;
}

[class^="icon-"] {
  background-image: none;
}

a.is-connected-user{
  text-decoration: none;
  cursor:default;
}
.icon-user.user-online{
  color: #4ca300;
}
.icon-user.user-offline{
  color:#708090;
}