<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <display-name>DocdokuPLM Rest Web Services</display-name>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <!-- disable wald -->
        <init-param>
            <param-name>jersey.config.server.wadl.disableWadl</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <multipart-config>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>public-paths</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/api,/api/accounts/create,/api/shared/**,/api/languages,/api/timezones,/api/auth/**,/api/files/*/documents/**,/api/files/*/parts/**,/ws</env-entry-value>
    </env-entry>

    <security-role>
        <role-name>guest</role-name>
    </security-role>
    <security-role>
        <role-name>users</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>

</web-app>
