<!-- Current uploaded files -->
<ul class="files">
{{#files}}
	<li class="list-item" id="{{cid}}">
		<label class="">
			<input id="{{cid}}-{{fullName}}" class="file-delete" type="checkbox" value="{{shortName}}" />
			<a class="remove">×</a>
		</label>
		<a target="blank" href="/files/{{fullName}}">{{shortName}}</a>
	</li>
{{/files}}
</ul>

<!-- Add new File -->
<a class="btn add">{{_.APPEND}}</a>

<!-- List of files that will later be uploaded -->
<ul id="file-uploads-{{cid}}" class="files-new"></ul>
