<td><input type="checkbox"/></td>
<td class="reference milestone_title"><i class="fa fa-clock-o"></i>{{model.getTitle}}</td>
<td><a class="date-popover">{{model.getDueDateToPrint}}</a></td>
<td>{{model.getNumberOfRequests}}</td>
<td>{{model.getNumberOfOrders}}</td>
<td class="acl-info">
    {{#model.isReadOnly}}
    <i class="fa fa-key read-only" title="{{i18n.READ_ONLY}}"></i>
    {{/model.isReadOnly}}
    {{#model.isFullAccess}}
    <i class="fa fa-key full-access" title="{{i18n.FULL_ACCESS}}"></i>
    {{/model.isFullAccess}}
</td>
