<md-dialog flex="50" layout="column" ng-cloak>
    <div layout-padding layout="column">
        <h2>{{user.name}}</h2>
        <a>{{user.email}}</a>
    </div>
    <div class="md-actions">
        <md-button aria-label="{{'CLOSE' | translate }}" class="md-default md-raised" ng-click="close()">
            {{'CLOSE' | translate }}
        </md-button>
        <md-button aria-label="{{'SEND_MAIL' | translate }}" class="md-primary md-raised" ng-click="mail()">
            {{'SEND_MAIL' | translate }}
        </md-button>
    </div>
</md-dialog>